%main.p-0
  #splash
    = render 'shared/splash_image', avif: @avif, fallback: @fallback
    #action-pane
      .mb-5#login-logo
      = link_to new_quick_booking_path,
                class: 'w-100 btn btn-danger' do
        %span.flex-grow-1.ms-3.fs-4= ('Quick Booking')
        = image_tag 'arrow-right.svg', class: 'img-fluid'
      = link_to '申込サイトの使い方はこちら',
                Rails.root.join('/instructions.pdf').to_s,
                target: :blank, class: 'fw-bold link-underline-primary'
      %p.form-text はじめてご利用の方は、初回にアカウント登録が必要です。

      = link_to new_user_registration_path,
                class: 'w-100 btn btn-primary' do
        %span.flex-grow-1.ms-3= t('.sign_up')
        = image_tag 'arrow-right.svg', class: 'img-fluid'

      %hr.border-top.border-dark.w-100

        %p.form-text 既にアカウントをお持ちの方は、こちらより
        %p.form-text ログインしてください
      = link_to new_user_session_path,
                class: 'w-100 btn btn-grey d-flex' do
        %span.flex-grow-1.ms-3= t('.log_in')
        = image_tag 'arrow-right.svg', class: 'img-fluid'
