<main id="login" class="container-fluid">
  <div class="row">
    <div id="login_splash" class="col-12 col-lg-8"></div>

    <div id="new_user" class="col-12 col-lg-4 d-flex flex-column justify-content-center p-3 text-center">
        <div id="login_logo" class="mb-5"></div>

        <div class="d-flex flex-column justify-content-end gap-3">
          <div class="d-flex flex-column gap-2">
            <%= link_to '申込サイトの使い方はこちら', Rails.root.join('/instructions.pdf').to_s, target: :blank, class: 'fw-bold', style: 'text-decoration: underline;' %>
            <p class="form-text">はじめてご利用の方は、初回にアカウント登録が必要です。</p>
          </div>
          <%= link_to new_user_registration_path, class: 'btn btn-primary' do %>
            <span class="flex-grow-1 ms-3"><%= t('.sign_up') %></span>
            <%= image_tag 'arrow-right.svg', class: 'img-fluid' %>
          <% end %>
        </div>
        <hr>
        <div class="d-flex flex-column justify-content-start gap-3">
          <div class="d-flex flex-column">
            <p class="form-text">既にアカウントをお持ちの方は、こちらより</p>
            <p class="form-text">ログインしてください</p>
          </div>
          <%= link_to new_user_session_path, class: 'btn btn-grey d-flex' do %>
            <span class="flex-grow-1 ms-3"><%= t('.log_in') %></span>
            <%= image_tag 'arrow-right.svg', class: 'img-fluid' %>
          <% end %>
        </div>
    </div>
  </div>
</main>
