<% event_options = slot.event.options %>
<% morn_time_ids = slot.options.time.ids %>
<% morn_options = slot.options.reject { |opt| morn_time_ids.include?(opt.id) } %>
<% aft_options = if slot.afternoon_slot.nil?
                   []
                 else
                   aft_slot = slot.afternoon_slot
                   aft_time_ids = aft_slot.options.time.ids
                   aft_slot.options.reject { |opt| aft_time_ids.include?(opt.id) }
                 end
%>
<% children = slot.children.distinct %>

<div class="slot mb-5" data-controller="refresh print" data-print-target="print">
    <div class="links d-flex gap-3">
        <%= link_to t('.back_to_event'), children_path(id: slot.event_id, source: 'Event'), class: 'btn btn-primary ms-3' %>
        <%= button_tag t('.print'), class: 'btn btn-primary', data: { action: "click->print#print" } %>
    </div>
    <h1 class="text-center"><%= "#{slot.name} (#{slot.start_time.strftime('%m月%d日')})" %></h1>
    <h2 class="counter text-center"><span data-refresh-target="counter">10:00</span>後にページが更新される。</h2>

    <table class="table table-sm table-light table-striped table-hover table-bordered text-center text-nowrap align-middle">
        <thead class="sticky-top">
            <tr class="table-primary">
                <th><%= t('.arrival') %></th>
                <th>
                    <p><%= t('.attend_morning') %></p>
                    <p><%= "K: #{children.select{|c| c.kindy}.size}, E: #{children.reject{|c| c.kindy}.size}" %></p>
                </th>
                <th><%= t('.name') %></th>
                <th><%= t('.allergy') %></th>
                <th><%= t('.photo') %></th>
                <% event_options.each do |opt| %>
                    <%# FIXME: n+1 queries %>
                    <%# Count the kids registered for photo service, plus those whose siblings are %>
                    <th scope="col"><%= "#{opt.name}: #{opt.registrations.where(child_id: children.ids).size + children.select { |c| c.siblings.any? { |s| s.registered?(opt) } }.size }" %></th>
                <% end %>
                <% morn_options.each do |opt| %>
                    <%# FIXME: n+1 queries %>
                    <th scope="col"><%= "#{opt.name}: #{opt.registrations.where(child_id: children.ids).size}" %></th>
                <% end %>
                <% unless slot.special? %>
                    <th scope="col" id="afternoon_header">
                        <p><%= t('.attend_afternoon') %></p>
                        <p><%= "K: #{children.select{|c| c.kindy && c.registered?(slot.afternoon_slot)}.size}, E: #{children.reject(&:kindy).select{|c| c.registered?(slot.afternoon_slot)}.size}" %></p>
                    </th>
                    <% aft_options.each do |opt| %>
                        <%# FIXME: n+1 queries %>
                        <th scope="col"><%= "#{opt.name}: #{opt.registrations.where(child_id: children.ids).size}" %></th>
                    <% end %>
                <% end %>
                <th scope="col" id="depart_header"><%= t('.depart') %></th>
            </tr>
        </thead>
        <tbody>
            <tr class="search">
                <td data-controller="filter"
                    data-filter-siblings-value="0"
                    data-filter-col-value=".arrival">
                    <div class="form-floating">
                        <%= text_field_tag 'arrival_filter', nil, { placeholder: t('.filter'), class: 'form-control', data: { action: 'keydown.enter->filter#change', 'filter-target' => 'input' } }%>
                        <%= label_tag 'arrival_filter', t('.filter'), class: 'form-label' %>
                    </div>
                </td>
                <td data-controller="filter"
                    data-filter-siblings-value="0"
                    data-filter-col-value=".morning">
                    <div class="form-floating">
                        <%= text_field_tag 'morning_filter', nil, { placeholder: t('.filter'), class: 'form-control', data: { action: 'keydown.enter->filter#change', 'filter-target' => 'input' } }%>
                        <%= label_tag 'morning_filter', t('.filter'), class: 'form-label' %>
                    </div>
                </td>
                <td data-controller="filter"
                    data-filter-siblings-value="0"
                    data-filter-col-value=".name">
                    <div class="form-floating">
                        <%= text_field_tag 'name_filter', nil, { placeholder: t('.filter'), class: 'form-control', data: { action: 'keydown.enter->filter#change', 'filter-target' => 'input' } }%>
                        <%= label_tag 'name_filter', t('.filter'), class: 'form-label' %>
                    </div>
                </td>
                <td data-controller="filter"
                    data-filter-siblings-value="0"
                    data-filter-col-value=".allergy">
                    <div class="form-floating">
                        <%= text_field_tag 'allergy_filter', nil, { placeholder: t('.filter'), class: 'form-control', data: { action: 'keydown.enter->filter#change', 'filter-target' => 'input' } }%>
                        <%= label_tag 'allergy_filter', t('.filter'), class: 'form-label' %>
                    </div>
                </td>
                <td data-controller="filter"
                    data-filter-siblings-value="0"
                    data-filter-col-value=".photos">
                    <div class="form-floating">
                        <%= text_field_tag 'photos_filter', nil, { placeholder: t('.filter'), class: 'form-control', data: { action: 'keydown.enter->filter#change', 'filter-target' => 'input' } }%>
                        <%= label_tag 'photos_filter', t('.filter'), class: 'form-label' %>
                    </div>
                </td>
                <% event_options.each do |opt| %>
                    <td data-controller="filter"
                        data-filter-siblings-value="0"
                        data-filter-col-value=".<%= opt.name %>">
                        <div class="form-floating">
                            <%= text_field_tag "#{opt.name}_filter", nil, { placeholder: t('.filter'), class: 'form-control', data: { action: 'keydown.enter->filter#change', 'filter-target' => 'input' } }%>
                            <%= label_tag "#{opt.name}_filter", t('.filter'), class: 'form-label' %>
                        </div>
                    </td>
                <% end %>
                <% morn_options.each do |opt| %>
                    <td data-controller="filter"
                        data-filter-siblings-value="0"
                        data-filter-col-value=".<%= opt.name %>">
                        <div class="form-floating">
                            <%= text_field_tag "#{opt.name}_filter", nil, { placeholder: t('.filter'), class: 'form-control', data: { action: 'keydown.enter->filter#change', 'filter-target' => 'input' } }%>
                            <%= label_tag "#{opt.name}_filter", t('.filter'), class: 'form-label' %>
                        </div>
                    </td>
                <% end %>
                <% unless slot.special? %>
                    <td data-controller="filter"
                        data-filter-siblings-value="0"
                        data-filter-col-value=".afternoon">
                        <div class="form-floating">
                            <%= text_field_tag 'afternoon_filter', nil, { placeholder: t('.filter'), class: 'form-control', data: { action: 'keydown.enter->filter#change', 'filter-target' => 'input' } }%>
                            <%= label_tag 'afternoon_filter', t('.filter'), class: 'form-label' %>
                        </div>
                    </td>
                    <% aft_options.each do |opt| %>
                        <td data-controller="filter"
                            data-filter-siblings-value="0"
                            data-filter-col-value=".<%= opt.name %>">
                            <div class="form-floating">
                                <%= text_field_tag "#{opt.name}_filter", nil, { placeholder: t('.filter'), class: 'form-control', data: { action: 'keydown.enter->filter#change', 'filter-target' => 'input' } }%>
                                <%= label_tag "#{opt.name}_filter", t('.filter'), class: 'form-label' %>
                            </div>
                        </td>
                    <% end %>
                <% end %>
                <td data-controller="filter"
                    data-filter-siblings-value="0"
                    data-filter-col-value=".depart">
                    <div class="form-floating">
                        <%= text_field_tag 'depart_filter', nil, { placeholder: t('.filter'), class: 'form-control', data: { action: 'keydown.enter->filter#change', 'filter-target' => 'input' } }%>
                        <%= label_tag 'depart_filter', t('.filter'), class: 'form-label' %>
                    </div>
                </td>
            </tr>

            <%# <%= render partial: 'children/time_slots/slot_child', collection: children, locals: { slot: slot, event_options: event_options, morn_options: morn_options, aft_options: aft_options } %>
        </tbody>
    </table>
</div>