<% time_cats = %w[arrival departure k_arrival k_departure] %>
<% ext_cats = %w[extension k_extension] %>
<% event.options = event.options %>
<% morn_time_ids = slot.options.select { |opt| time_cats.include?(opt.category) }.map(&:id) %>
<% extensions = slot.options.select { |opt| ext_cats.include?(opt.category) } %>
<% extension_ids = extensions.map(&:id) %>
<% morn_options = slot.options.reject { |opt| morn_time_ids.include?(opt.id) || extension_ids.include?(opt.id) } %>
<% aft_options = if slot.afternoon_slot.nil?
                   []
                 else
                   aft_slot = slot.afternoon_slot
                   aft_time_ids = aft_slot.options.select{ |opt| time_cats.include?(opt.category) }.map(&:id)
                   aft_slot.options.reject { |opt| aft_time_ids.include?(opt.id) }
                 end
%>
<% children = (slot.children + (slot.afternoon_slot ? slot.afternoon_slot.children : [])).uniq %>
<% child_ids = children.map(&:id) %>
<% morn_child_ids = slot.children.map(&:id) %>
<% aft_child_ids = slot.afternoon_slot.children.map(&:id) unless slot.afternoon_slot.nil? %>

<div class="slot_attendance mb-5" data-controller="refresh print" data-print-target="print">
    <div class="links d-flex gap-3">
        <%= link_to t('.back_to_event'), children_path(id: slot.event_id, source: 'Event'), class: 'btn btn-primary ms-3' %>
        <%= button_tag t('.print'), class: 'btn btn-primary print', data: { action: "click->print#print" } %>
    </div>
    <h1 class="text-center"><%= "#{slot.name} (#{slot.date})" %></h1>
    <h2 class="counter text-center"><span data-refresh-target="counter">10:00</span>後にページが更新される。</h2>

    <table class="table table-sm table-light table-striped table-hover table-bordered text-center text-nowrap align-middle">
        <thead class="sticky-top">
            <tr class="table-primary">
                <th>
                    <%= slot.name == "夏祭り" ? "中延長: #{extensions.reduce(0) { |sum, opt| sum + opt.registrations.select { |reg| child_ids.include?(reg.child_id)}.size }}" : t('.arrival') %>
                </th>
                <th>
                    <p><%=  t('.attend_morning') %></p>
                    <p><%= "K: #{children.select { |c| c.kindy && morn_child_ids.include?(c.id) }.size}, E: #{children.select { |c| !c.kindy && morn_child_ids.include?(c.id) }.size}" %></p>
                </th>
                <th><%= t('.name') %></th>
                <th>幼児/小学生</th>
                <th><%= t('.allergy') %></th>
                <th><%= t('.photo') %></th>
                <% event.options.each do |opt| %>
                    <%# Count the kids registered for photo service, plus those whose siblings are %>
                    <th scope="col"><%= "#{opt.name}: #{opt.registrations.select{ |reg| child_ids.include?(reg.child_id) }.size + children.select { |c| opt.registrations.any? { |reg| c.siblings.map(&:id).include?(reg.child_id) } }.size }" %></th>
                <% end %>
                <% morn_options.each do |opt| %>
                    <th scope="col"><%= "#{opt.name}: #{opt.registrations.select{ |reg| child_ids.include?(reg.child_id) }.size}" %></th>
                <% end %>

                <% if slot.special? && extensions.size.positive? %>
                    <th><%= slot.name == "夏祭り" ? t('.depart') : "#{extensions.first.name}: #{extensions.reduce(0) { |sum, opt| sum + opt.registrations.select { |reg| child_ids.include?(reg.child_id)}.size }}"  %></th>
                <% end %>

                <% if slot.afternoon_slot %>
                    <th scope="col" id="afternoon_header">
                        <p><%= t('.attend_afternoon') %></p>
                        <p><%= "K: #{children.select{ |c| c.kindy && aft_child_ids.include?(c.id) }.size}, E: #{children.reject(&:kindy).select{ |c| aft_child_ids.include?(c.id) }.size}" %></p>
                    </th>
                    <% aft_options.each do |opt| %>
                        <th scope="col"><%= "#{opt.name}: #{opt.registrations.select{ |reg| child_ids.include?(reg.child_id) }.size}" %></th>
                    <% end %>

                    <th scope="col" id="depart_header"><%= t('.depart') %></th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <tr class="search">
                <% if slot.name == "夏祭り" %>
                  <td data-controller="filter"
                        data-filter-siblings-value="0"
                        data-filter-col-value=".extend">
                        <div class="form-floating">
                            <%= text_field_tag 'extend_filter', nil, { placeholder: t('.filter'), class: 'form-control', data: { action: 'keydown.enter->filter#change', 'filter-target' => 'input' } }%>
                            <%= label_tag 'extend_filter', t('.filter'), class: 'form-label' %>
                        </div>
                    </td>
                <% else %>
                    <td data-controller="filter"
                    data-filter-siblings-value="0"
                    data-filter-col-value=".arrival">
                        <div class="form-floating">
                            <%= text_field_tag 'arrival_filter', nil, { placeholder: t('.filter'), class: 'form-control', data: { action: 'keydown.enter->filter#change', 'filter-target' => 'input' } }%>
                            <%= label_tag 'arrival_filter', t('.filter'), class: 'form-label' %>
                        </div>
                    </td>
                <% end %>
                
                <td data-controller="filter"
                    data-filter-siblings-value="0"
                    data-filter-col-value=".morning">
                    <div class="form-floating">
                        <%= text_field_tag 'morning_filter', nil, { placeholder: t('.filter'), class: 'form-control', data: { action: 'keydown.enter->filter#change', 'filter-target' => 'input' } }%>
                        <%= label_tag 'morning_filter', t('.filter'), class: 'form-label' %>
                    </div>
                </td>
                <td data-controller="filter"
                    data-filter-siblings-value="0"
                    data-filter-col-value=".name">
                    <div class="form-floating">
                        <%= text_field_tag 'name_filter', nil, { placeholder: t('.filter'), class: 'form-control', data: { action: 'keydown.enter->filter#change', 'filter-target' => 'input' } }%>
                        <%= label_tag 'name_filter', t('.filter'), class: 'form-label' %>
                    </div>
                </td>
                <td data-controller="filter"
                    data-filter-siblings-value="0"
                    data-filter-col-value=".category">
                    <div class="form-floating">
                        <%= text_field_tag 'category_filter', nil, { placeholder: t('.filter'), class: 'form-control', data: { action: 'keydown.enter->filter#change', 'filter-target' => 'input' } }%>
                        <%= label_tag 'category_filter', t('.filter'), class: 'form-label' %>
                    </div>
                </td>
                <td data-controller="filter"
                    data-filter-siblings-value="0"
                    data-filter-col-value=".allergy">
                    <div class="form-floating">
                        <%= text_field_tag 'allergy_filter', nil, { placeholder: t('.filter'), class: 'form-control', data: { action: 'keydown.enter->filter#change', 'filter-target' => 'input' } }%>
                        <%= label_tag 'allergy_filter', t('.filter'), class: 'form-label' %>
                    </div>
                </td>
                <td data-controller="filter"
                    data-filter-siblings-value="0"
                    data-filter-col-value=".photos">
                    <div class="form-floating">
                        <%= text_field_tag 'photos_filter', nil, { placeholder: t('.filter'), class: 'form-control', data: { action: 'keydown.enter->filter#change', 'filter-target' => 'input' } }%>
                        <%= label_tag 'photos_filter', t('.filter'), class: 'form-label' %>
                    </div>
                </td>
                <% event.options.each do |opt| %>
                    <td data-controller="filter"
                        data-filter-siblings-value="0"
                        data-filter-col-value=".<%= opt.name %>">
                        <div class="form-floating">
                            <%= text_field_tag "#{opt.name}_filter", nil, { placeholder: t('.filter'), class: 'form-control', data: { action: 'keydown.enter->filter#change', 'filter-target' => 'input' } }%>
                            <%= label_tag "#{opt.name}_filter", t('.filter'), class: 'form-label' %>
                        </div>
                    </td>
                <% end %>
                <% morn_options.each do |opt| %>
                    <td data-controller="filter"
                        data-filter-siblings-value="0"
                        data-filter-col-value=".<%= opt.name %>">
                        <div class="form-floating">
                            <%= text_field_tag "#{opt.name}_filter", nil, { placeholder: t('.filter'), class: 'form-control', data: { action: 'keydown.enter->filter#change', 'filter-target' => 'input' } }%>
                            <%= label_tag "#{opt.name}_filter", t('.filter'), class: 'form-label' %>
                        </div>
                    </td>
                <% end %>

                <% if slot.special? && extensions.size.positive? %>
                    <% if slot.name == "夏祭り" %>
                        <td data-controller="filter"
                        data-filter-siblings-value="0"
                        data-filter-col-value=".arrival">
                            <div class="form-floating">
                                <%= text_field_tag 'arrival_filter', nil, { placeholder: t('.filter'), class: 'form-control', data: { action: 'keydown.enter->filter#change', 'filter-target' => 'input' } }%>
                                <%= label_tag 'arrival_filter', t('.filter'), class: 'form-label' %>
                            </div>
                        </td>
                    <% else %>
                        <td data-controller="filter"
                            data-filter-siblings-value="0"
                            data-filter-col-value=".extend">
                            <div class="form-floating">
                                <%= text_field_tag 'extend_filter', nil, { placeholder: t('.filter'), class: 'form-control', data: { action: 'keydown.enter->filter#change', 'filter-target' => 'input' } }%>
                                <%= label_tag 'extend_filter', t('.filter'), class: 'form-label' %>
                            </div>
                        </td>
                    <% end %>
                <% end %>
                
                <% if slot.afternoon_slot %>
                  <td data-controller="filter"
                    data-filter-siblings-value="0"
                    data-filter-col-value=".afternoon">
                    <div class="form-floating">
                        <%= text_field_tag 'afternoon_filter', nil, { placeholder: t('.filter'), class: 'form-control', data: { action: 'keydown.enter->filter#change', 'filter-target' => 'input' } }%>
                        <%= label_tag 'afternoon_filter', t('.filter'), class: 'form-label' %>
                    </div>
                    </td>
                    <% aft_options.each do |opt| %>
                        <td data-controller="filter"
                            data-filter-siblings-value="0"
                            data-filter-col-value=".<%= opt.name %>">
                            <div class="form-floating">
                                <%= text_field_tag "#{opt.name}_filter", nil, { placeholder: t('.filter'), class: 'form-control', data: { action: 'keydown.enter->filter#change', 'filter-target' => 'input' } }%>
                                <%= label_tag "#{opt.name}_filter", t('.filter'), class: 'form-label' %>
                            </div>
                        </td>
                    <% end %>
                    
                    <td data-controller="filter"
                        data-filter-siblings-value="0"
                        data-filter-col-value=".depart">
                        <div class="form-floating">
                            <%= text_field_tag 'depart_filter', nil, { placeholder: t('.filter'), class: 'form-control', data: { action: 'keydown.enter->filter#change', 'filter-target' => 'input' } }%>
                            <%= label_tag 'depart_filter', t('.filter'), class: 'form-label' %>
                        </div>
                    </td>
                <% end %>
            </tr>

            <%= render partial: 'children/time_slots/slot_child', collection: children, locals: { slot: slot, event_options: event.options, morn_options: morn_options, aft_options: aft_options, extension_ids: extension_ids } %>
        </tbody>
    </table>
</div>