:ruby
  arrival_option =
    child.options.find { |o| o.any_arrival? && o.optionable_id == slot.id }
  if afternoon
    depart_option =
      child.options
           .find { |o| o.any_departure? && o.optionable_id == afternoon.id }
  end

%tr
  %th.arrival{ scope: 'row' }
    = arrival_time_for(slot, arrival_option) if arrival_option

  %th.morning{ scope: 'row' }
    = '◯' if child.time_slots.include?(slot)

  %th.name{ scope: 'row' }
    :ruby
      link_text = "#{child.katakana_name} (#{child.en_name})"
      link_text = "(H) #{link_text}" if slot.outdoor? && child.hat_adjustment?

    = link_to link_text, child_path(child)

  %th.level{ scope: 'row' }= child.kindy ? '幼児' : '小学生'
  %td.allergy{ scope: 'row' }= child.allergies
  %td.photo{ scope: 'row' }= child.photos unless child.photos == 'OK'

  - event_options.each do |o|
    %td{ class: o.name }
      :ruby
        next unless child.registered?(slot)

        child_registered = child.registered?(o)
        # FIXME: DB queries in view, N+1
        sibling_registered = child.siblings.any? { |s| s.registered?(o) }

      = o.name if child_registered || sibling_registered

  - options.each do |o|
    %td{ class: o.name }
      = (o.name == '昼食' ? 'Lunch' : o.name) if child.registered?(o)

  -# Fix for the old method that didnt include k_ext
  - if slot.special?
    :ruby
      ext_option = slot.options.any_extension.find { |o| child.registered?(o) }

    - if ext_option
      %td.extend= ext_option.name


  - if afternoon
    %td.afternoon
      = '◯' if child.registered?(afternoon)
      = 'ご通学日' if child.regular_schedule&.has?(afternoon.start_time)

    - afternoon_options.each do |opt|
      %td{ class: opt.name }= opt.name if child.registered?(opt)

    %td.depart
      = departure_time_for(afternoon, depart_option) if depart_option
  - if next_party_slot
    %td.next_party
      = '◯' if next_party_child_ids.include?(child.id)
