<% child_ids = @children.map(&:id) %>

<% ext_cats = %w[extension k_extension].freeze %>
<% extensions = @options.select { |o| ext_cats.include?(o.category) } %>
<% ext_ids = extensions.map(&:id) %>

<% time_cats = %w[arrival departure k_arrival k_departure].freeze %>
<% time_opts = @options.select { |o| time_cats.include?(o.category) } %>
<% time_ids = time_opts.map(&:id) %>

<% options = @options.reject { |o| (time_ids + ext_ids).include?(o.id) } %>

<% columns = %w[arrival attend name level allergy photo] %>

<main id="slot_attendance" class="align-items-start">
    <div class="slot_attendance mb-5"
         data-controller="refresh print"
         data-print-target="print">

        <div class="links d-flex gap-3">
            <%= link_to t('.back_to_event'),
                        children_path(id: @slot.event_id, source: 'event'),
                        class: 'btn btn-primary ms-3' %>
            <%= button_tag t('.print'),
                           class: 'btn btn-primary print',
                           data: { action: "click->print#print" } %>
            <% if @slot.special? && @afternoon %>
              <%= link_to @afternoon.name,
                          children_path(
                            id: @afternoon.id,
                            source: 'time_slot'
                          ),
                          class: 'btn btn-primary' %>
            <% elsif @slot.special? && @slot.morning_slot %>
              <%= link_to @slot.morning_slot.name,
                        children_path(
                          id: @slot.morning_slot.id,
                          source: 'time_slot'
                        ),
                        class: 'btn btn-primary' %>
            <% end %>
        </div>

        <h1 class="text-center"><%= name_date(@slot) %></h1>

        <h2 class="counter text-center">
            <span data-refresh-target="counter">10:00</span>
            後にページが更新される。
        </h2>

        <table class="table table-sm table-light table-striped table-hover table-bordered text-center text-nowrap align-middle">
            <thead class="sticky-top">
                <tr class="table-primary">
                    <th>
                        <%= t('.arrival') %>
                    </th>
                    <th>
                        <p><%=  t('.attend') %></p>
                        <p>
                            <%= "K: #{@children.count(&:kindy)}, E: #{@children.reject(&:kindy).size}" %>
                        </p>
                    </th>
                    <th><%= t('.name') %></th>
                    <th>幼児/小学生</th>
                    <th><%= t('.allergy') %></th>
                    <th><%= t('.photo') %></th>

                    <% @event_options.each do |o| %>
                        <th scope="col">
                          <%= "#{o.name}: #{o.registrations.count { |reg| child_ids.include?(reg.child_id) }}" %>
                        </th>
                    <% end %>

                    <% options.each do |o| %>
                        <th scope="col">
                          <%= "#{o.name == '昼食' ? 'Lunch' : o.name}: #{o.registrations.size}" %>
                        </th>
                    <% end %>

                    <% if @slot.special? && extensions.size.positive? %>
                        <th>
                            中延長:
                            <%= "#{extensions.reduce(0) { |sum, o| sum + o.registrations.size }}" %>
                        </th>
                    <% end %>

                    <% if @afternoon %>
                        <th scope="col" id="afternoon_header">
                            <p><%= t('.attend_afternoon') %></p>
                            <p>
                                <%= "K: #{@afternoon_children.count(&:kindy)}, E: #{@afternoon_children.reject(&:kindy).size}" %>
                            </p>
                        </th>

                        <% @afternoon_options.each do |opt| %>
                            <th scope="col"><%= "#{opt.name}: #{opt.registrations.size}" %></th>
                        <% end %>

                        <th scope="col" id="depart_header">
                            <%= t('.depart') %>
                        </th>
                    <% end %>
                </tr>
            </thead>
            <tbody>
                <tr class="search">
                    <% columns.each do |col| %>
                        <%= render partial: 'shared/filter_header',
                          locals: { col_class: ".#{col}", siblings: '0' } %>
                    <% end %>

                    <% @event_options.each do |o| %>
                        <%= render partial: 'shared/filter_header',
                                    locals: { col_class: o.name, siblings: '0' } %>
                    <% end %>

                    <% options.each do |o| %>
                        <%= render partial: 'shared/filter_header',
                                    locals: { col_class: o.name, siblings: '0' } %>
                    <% end %>

                    <% if @slot.special? && extensions.size.positive? %>
                        <%= render partial: 'shared/filter_header',
                                   locals: {
                                       col_class: 'extend',
                                       siblings: '0'
                                   } %>
                    <% end %>

                    <% if @afternoon %>
                        <%= render partial: 'shared/filter_header',
                                   locals: {
                                       col_class: 'afternoon',
                                       siblings: '0'
                                   } %>

                        <% @afternoon_options.each do |o| %>
                            <%= render partial: 'shared/filter_header',
                                       locals: {
                                           col_class: o.name,
                                           siblings: '0'
                                       } %>
                        <% end %>

                        <%= render partial: 'shared/filter_header',
                                   locals: {
                                       col_class: 'depart',
                                       siblings: '0'
                                   } %>
                    <% end %>
                </tr>

                <%= render partial: 'children/time_slots/child_row',
                           collection: (@children + (@afternoon_children - @children || [])),
                           as: :child,
                           locals: {
                                afternoon: @afternoon,
                                afternoon_options: @afternoon_options,
                                event_options: @event_options,
                                ext_ids: ext_ids,
                                options: options,
                                slot: @slot
                           } %>
            </tbody>
        </table>
    </div>
</main>
