!!! 5
%html{ lang: 'ja' }
%head
  %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
%body
  %h3 無料体験レッスンのご予約を承りました。

  %p この度は、無料体験レッスン参加のご希望をいただきまして誠にありがとうございます。

  %p ご予約を承りました。

  %p 無料体験レッスンは、45分間・最大8名 のグループレッスンです。

  %p 当日はZoomを使用してご自宅で受講していただきますため、
  %p
    事前に
    %a{ href: 'https://zoom.us/' } Zoom
    のインストールをお願いいたします。

  %p オンラインレッスンご受講の際は、PC・もしくはお手持ちのタブレットを使用してください。また必要な場合は、ヘッドセットもしくは通話可能なイヤホンをご準備ください。

  %p 後程、無料体験レッスンへ参加する際にログインしていただく画面のログイン/パスワード、Zoomリンクについての詳細をお送りいたします。
  %p ご不明な点がございましたら、下記オンラインコースまでお問い合わせください。

  %p 株式会社Kids-UP
  %p オンラインコース専用窓口
  %p
    E-mail：
    %a{ href: 'mailto:online@kids-up.jp' } online@kids-up.jp

  %p ------------------------------
  %h4 お客様情報
  %p ------------------------------
  %p お問い合わせ日時: #{@inquiry.created_at.strftime('%Y年%m月%d日 %H:%M')}
  %p 保育園 幼稚園名と在園状況 : #{@inquiry.kindy}
  %p 小学校名と在学状況 : #{@inquiry.ele_school}
  %p ------------------------------
  %h4 ご予約内容
  %p ------------------------------
  %p 通学をご検討中のスクール: KidsUP #{@school.name} 校
  %p 参加日時: #{@setsumeikai.start.strftime('%Y年%m月%d日 %H:%M')}
  %p ------------------------------
  %h4 お問い合わせ内容
  %p ------------------------------
  %p 【無料体験レッスンのご参加
  %p= @inquiry.requests



  %p ------------------------------

  %p 株式会社Kids-UP
  %p オンラインコース専用窓口
  %p
    E-mail：
    %a{ href: 'mailto:online@kids-up.jp' } online@kids-up.jp
