<!DOCTYPE html>
<html lang="ja">

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
    <h3>無料体験レッスンのご予約を承りました。</h3>

    <p>当日は、保護者様が説明会にご参加されている間、お子様には無料体験レッスンにご参加いただきます。</p>

    <p>説明会・無料体験レッスンは、約１時間半を予定しておりますが、</p>
    <p>質疑応答やお手続きなどで、２時間前後かかる場合もございます。</p>
    <p>お時間に余裕をもってお越しいただきますようお願い申し上げます。</p>

    <p>無料体験レッスンご参加のお子様は、【上履き】をご持参ください。</p>
    <p>当日は開始５分前までに受付をお済ませくださいませ。</p>

    ------------------------------
    <h4>お客様情報</h4>
    ------------------------------
    <p>お問い合わせ日時: <%= @inquiry.created_at.strftime('%Y年%m月%d日 %H:%M') %></p>
    <p>保育園 幼稚園名と在園状況 : <%= @inquiry.kindy %></p>
    <p>小学校名と在学状況 : <%= @inquiry.ele_school %></p>
    ------------------------------
    <h4>ご予約内容</h4>
    ------------------------------
    <p>このメールは自動配信の為、返信することはできません。</p>
    <p>ご不明な点がございましたら、下記のスクールまでお問い合わせください。</p>
    <p>通学をご検討中のスクール: KidsUP<%= @school.name %>校</p>
    <p>説明会・体験レッスン会場 : KidsUP<%= @venue.name %>校</p>
    <p>参加日時: <%= @setsumeikai.start.strftime('%Y年%m月%d日 %H:%M') %></p>
    <p>※上記時間の５分前までに受付をお済ませくださいませ。</p>
    ------------------------------
    <h4>お問い合わせ内容</h4>
    ------------------------------
    <p>【無料体験レッスンのご参加】</p>
    <p><%= @inquiry.requests %></p>
    <br>
    <br>
    <br>
    ------------------------------
    <p>Kids UP(キッズアップ) お客様サポート</p>
    <p>(TEL) 0120-378-056</p>
    <p>メールアドレス: hq@kids-up.jp</p>
    <p>ホームページ: <%= link_to "https://kids-up.jp", "https://kids-up.jp" %></p>
    <p>住所: 〒120-0034</p>
    <p>東京都足立区千住1丁目4番1号 東京芸術センター11F</p>
    <p>営業時間: 10時00分~20時00分</p>
</body>

</html>