<!DOCTYPE html>
    <html lang="ja">
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h2><%= "Hello, #{@sm.name}" %></h2>
        <% if @updater.name == @parent.name %>
          <h4><%= "#{@parent.name} has updated their booking.  You can contact them for more information at #{@parent.email}" %></h4>
        <% else %>
          <h4><%= "#{@updater.name} has updated #{@parent.name}'s booking.  You can contact them for more information at #{@updater.email}" %></h4>
        <% end %>

        <%= sanitize @invoice.summary, tags: %w[h2 h3 h4 h5 div p], attributes: %w[class id] %>

        <%= link_to t('.view_invoice'), invoice_url(id: @invoice.id) %>
    </body>
</html>