<!DOCTYPE html>
    <html lang="ja">
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h2><%= "#{@parent.name}様" %></h2>
        <% if @updater && @updater.name == @parent.name %>
          <h4>申込フォームより、<%= @child.school.name %>の<%= @invoice.event.name %>にお申込みいただきありがとうございます。</h4>
          <h4>スクールがお客様のお申込内容を確認し、お申込確定のメールをお送りいたします。</h4>
          <h4>※お申込確定のメールを受け取るまではお申込は確定しておりません。</h4>
          <h4>※お申込確定のメールを受け取るまでは申込フォームにて内容の変更が可能です。</h4>
          <h4>以下よりごお申込内容をご確認ください。</h4>
        <% else %>
          <h4><%= @child.school.name %>により、お客様のお申込内容が変更されました。</h4>
          <h4>下記、新しいお申込内容をご確認ください。</h4>
        <% end %>

        <%= sanitize @invoice.summary, tags: %w[h2 h3 h4 h5 div p], attributes: %w[class id] %>

        <%= link_to t('.view_invoice'), invoice_url(id: @invoice.id) %>
    </body>
</html>
