<tr>
    <td><%= link_to child.ssid, child_path(child) %></td>
    <td><%= link_to child.name, child_path(child) %></td>
    <td><%= link_to child.katakana_name, child_path(child) %></td>
    <td><%= link_to child.en_name, child_path(child) %></td>
    <td><%= child.category %></td>
    <td><%= child.allergies %></td>
    <% if child.received_hat %>
        <td>◯</td>
    <% else %>
        <td>✖</td>
    <% end %>
    <td><%= link_to child.parent.name, user_path(child.parent)  unless child.parent.nil? %></td>
    <td><%= link_to child.school.name, school_path(child.school) unless child.school.nil? %></td>
    <td><%= link_to t('.edit'), edit_child_path(child), class: 'btn btn-primary' unless child.ssid %></td>
</tr>