<tr>
    <% if child.ssid %>
        <td class="ssid"><%= link_to child.ssid, child_path(child) %></td>
    <% elsif child.ssid.nil? && child.parent_id.nil? %>
        <td class="ssid"><%= link_to 'なし', child_path(child) %></td>
    <% else %>
        <td class="ssid"><%= link_to 'なし', user_path(child.parent, anchor: 'merge_children') if child.ssid.nil? %></td>
    <% end %>
    <td class="name"><%= link_to (child.name ? child.name : 'なし'), child_path(child) %></td>
    <td class="kana"><%= link_to (child.katakana_name ? child.katakana_name : 'なし'), child_path(child) %></td>
    <td class="en"><%= link_to (child.en_name ? child.en_name : 'なし'), child_path(child) %></td>
    <td class="category"><%= child.category %></td>
    <td class="allergies"><%= child.allergies %></td>
    <% if child.received_hat %>
        <td class="hat">◯</td>
    <% else %>
        <td class="hat">✖</td>
    <% end %>
    <td class="parent">
        <% if child.parent %>
          <%= link_to child.parent.name, user_path(child.parent) %>
        <% else %>   
            なし
        <% end %>
    </td>
    <td class="school">
        <% if child.school %>
            <%= child.school.name %>
        <% else %>
            なし
        <% end %>
    </td>
    <td class="edit">
        <%= link_to t('.edit'), edit_child_path(child), class: 'btn btn-primary' unless child.ssid %>
    </td>
</tr>