<% event_slots = event_child.time_slots.select { |slot| slot.event_id == event.id && slot.morning }.sort_by { |slot| slot.start_time } %>
<% event_opts = event_child.options.select { |opt| event_slots.map { |slot| slot.id}.include?(opt.optionable_id) } %>

<tr>
    <th rowspan="2" class="order"><%= event_child_iteration.index + 1 %></th>
    <th rowspan="2" class="ja_name"><%= link_to event_child.name, child_path(event_child) %></th>
    <th rowspan="2" class="en_name"><%= link_to event_child.en_name, child_path(event_child) %></th>
    <th rowspan="2" class="ssid"><%= link_to event_child.ssid, child_path(event_child) %></th>
    <td rowspan="2">
        <%= number_to_currency(event_child.invoices.reduce(0) { |sum, invoice| sum + invoice.total_cost }, unit: 'å††', precision: 0, locale: :ja) %>
    </td>
    <td rowspan="2"><%= button_tag t('.view_summary'), class: 'button' %></td>
    <td rowspan="2"><%= event_child.invoices.last.f_bill_date %></td>
    <td rowspan="2"><%= button_tag t('.send_email'), class: 'button' %></td>
    <td rowspan="2"><%= event_child.regular_schedule.days %></td>
    <td rowspan="2"><%= 
        if event_child.allergies 
            'âœ“'
        else
            'ð„‚'
        end
    %></td>
    <td rowspan="2"><%= event_child.allergy_details %></td>
    <td rowspan="2"><%= 
    if event_child.post_photos 
            'âœ“'
        else
            'ð„‚'
        end 
    %></td>
    <% cols.times do |i| %>
        <% slot = event_slots[i] %>
        <% if slot.nil? %>
            <td colspan="2"></td>
        <% else %>
            <td colspan="2"><%= "#{slot.name} (#{slot.start_time.strftime('%mæœˆ%dæ—¥')})" %></td>
        <% end %>
    <% end %>
</tr>
<tr>
    <% cols.times do |i| %>
        <% slot = event_slots[i] %>
        <% if slot.nil? %>
            <td></td>
            <td></td>
        <% else %>
            <td><%=
                if event_slots.include?(slot)
                    'âœ“'
                else
                    'ð„‚'
                end
                %>/<%= 
                # FIXME: causing N+1 queries
                if event_slots.include?(slot.afternoon_slot)
                    'âœ“'
                else
                    'ð„‚'
                end
            %></td>
            <td><%=
                # FIXME: should be giving me a plus
                if event_opts.include?(slot.options.find_by(name: 'æ˜¼'))
                'âœ“'
                else
                    'ð„‚'
                end
                %>/<%= 
                # FIXME: should be giving me a plus
                if event_opts.include?(slot.options.find_by(name: 'æ™©'))
                    'âœ“'
                else
                    'ð„‚'
                end
            %></td>
        <% end %>
    <% end %>
</tr>