<%= turbo_frame_tag "event_child#{event_child.id}" do %>
    <div class="event_child">
        <div class="child_info">
            <% if event_child_iteration == 'Changed' %>
                <p class="order"><%= event_child_iteration %></p>
            <% else %>
                <p class="order"><%= event_child_iteration.index + 1 %></p>
            <% end %>
            <p class="name"><%= link_to event_child.name, child_path(event_child) %></p>
            <p class="en"><%= link_to event_child.en_name, child_path(event_child) %></p>
        </div>
        
        <% event.time_slots.morning.each do |slot| %>
            <div class="slot">
                <%= slot.name %>
                <div class="attendance">
                    <% if event_child.registered?(slot) %>
                        <p>✓</p>
                    <% else %>
                        <p>𐄂</p>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
<% end %>