<% reg_slots = event_child.time_slots.select { |slot| slot.event_id == event.id && slot.category == 'seasonal' }.sort_by{ |slot| slot.start_time } %>
<% event_special = event.time_slots.select { |slot| slot.category == 'special' } %>
<% reg_special = event_child.time_slots.select { |slot| slot.category == 'special' }.sort_by{ |slot| slot.start_time } %>
<% event_opts = event_child.options.select { |opt| (reg_slots + reg_special).map { |slot| slot.id}.include?(opt.optionable_id) } %>
<% event_invoices = event_child.invoices.select { |invoice| invoice.event_id == event.id } %>
<% active_invoice = event_invoices.last %>

<tr>
    <th rowspan="2" class="order"><%= event_child_iteration.index + 1 %></th>
    <th rowspan="2" class="ja_name"><%= link_to event_child.name, child_path(event_child) %></th>
    <th rowspan="2" class="en_name"><%= link_to event_child.en_name, child_path(event_child) %></th>
    <th rowspan="2" class="ssid"><%= link_to event_child.ssid, child_path(event_child) %></th>
    <td rowspan="2">
        <%= number_to_currency(event_invoices.reduce(0) { |sum, invoice| sum + invoice.total_cost }, unit: '円', precision: 0, locale: :ja) %>
    </td>
    <td rowspan="2" data-controller="popup">
        <%= button_tag t('.view_summary'), class: 'button', data: { action: "click->popup#toggle" } %>
        <div class="hidden cost_summary" data-popup-target="popup">
            <% event_invoices.each do |invoice| %>
                <div class="card">
                    <%= button_tag '✖', class: 'button', data: { action: "click->popup#toggle" } %>
                    <%= sanitize invoice.summary, tags: %w[h1 h2 h3 div p], attributes: %w[class id] %>
                </div>
            <% end %>
        </div>
    </td>
    <td rowspan="2" data-controller="popup" id=<%= "child#{event_child.id}changes" %> class="<%= 'highlight' if active_invoice.seen_at.nil? || active_invoice.versions.last.created_at > active_invoice.seen_at %>">
        <turbo-frame>
            <% if active_invoice.seen_at.nil? || active_invoice.versions.last.created_at > active_invoice.seen_at %>
                <%= button_tag t('.view_changes'), class: 'button', data: { action: "click->popup#toggle" } %>
                <div class="hidden changes" data-popup-target="popup">
                    <div class="card">
                        <% if active_invoice.seen_at.nil? %>
                            <% active_invoice.versions.each do |ver| %>
                                <% next if ver.index.zero? %>
                                <h3><%= ver.index %></h3>
                                <%= sanitize(Diffy::Diff.new(simple_format(ver.reify.summary), simple_format(active_invoice.summary)).to_s(:html), tags: %w[div li strong span ul], attributes: %w[class id]) unless ver.reify.nil? %>
                            <% end %>
                        <% else %>
                            <% active_invoice.versions.select { |ver| ver.created_at > active_invoice.seen_at }.each do |ver| %>
                                <% next if ver.index.zero? %>
                                <h3><%= ver.index %></h3>
                                <%= sanitize(Diffy::Diff.new(simple_format(ver.reify.summary), simple_format(active_invoice.summary)).to_s(:html), tags: %w[div li strong span ul], attributes: %w[class id]) unless ver.reify.nil? %>
                            <% end %>
                        <% end %>
                        <%= button_to t('.mark_seen'), seen_invoice_path(id: active_invoice.id, child: event_child.id), class: 'button', data: { action: "click->popup#toggle" } %>
                    </div>
                </div>
            <% end %>
        </turbo-frame>
    </td>
    
    <td rowspan="2"><% event_invoices.each do |invoice| %>
        <% unless invoice.coupons.size.zero? %>
            <p>
            <%= "Invoice##{invoice.id}: " %>
            <% invoice.coupons.each do |coupon| %>
                <%= coupon.code %>
            <% end %>
            </p>
        <% end %>
    <% end %></td>

    <td rowspan="2"><% event_invoices.each do |invoice| %>
        <p><%= link_to "##{invoice.id}: #{invoice.f_bill_date}", invoice_path(invoice) unless invoice.billing_date.nil? %></p>
    <% end %></td>

    <td rowspan="2" data-controller="popup">
        <%= button_tag t('.view_template'), class: 'button', data: { action: "click->popup#toggle" } %>
        <div class="hidden mail_template" data-popup-target="popup">
            <% event_invoices.each do |invoice| %>
                <div class="card">
                    <%= button_tag '✖', class: 'button', data: { action: "click->popup#toggle" } %>
                    <%= invoice.email_template %>
                </div>
            <% end %>
        </div>
    </td>
    <td rowspan="2"><%= event_child.regular_schedule.days if event_child.regular_schedule %></td>
    <td rowspan="2"><%= 
        if event_child.allergies 
            '◯'
        else
            '𐄂'
        end
    %></td>
    <td rowspan="2"><%= event_child.allergy_details %></td>
    <td rowspan="2"><%= 
    unless event_child.post_photos 
        'NG'
    end 
    %></td>

    <% if reg_special.size.zero? %>
        <td colspan="3"></td>
    <% else %>
        <td colspan="3">
            <%= link_to "#{event_special.first.name} (午前)", children_path(id: event_special.first.id, source: 'TimeSlot') %> / 
            <%= link_to "#{event_special.last.name} (午後)", children_path(id: event_special.last.id, source: 'TimeSlot') %>
        </td>
    <% end %>

    <% reg_slots.each do |slot| %>
        <% if slot.morning %>
            <td colspan="3"><%= link_to "#{slot.name} (#{slot.start_time.strftime('%m月%d日')})", children_path(id: slot.id, source: 'TimeSlot') %></td>
        <% elsif reg_slots.include?(slot.morning_slot) %>
            <% next %>
        <% else %>
            <td colspan="3"><%= link_to "#{slot.name} (#{slot.start_time.strftime('%m月%d日')})", children_path(id: slot.id, source: 'TimeSlot') %></td>
        <% end %>
    <% end %>

    <%# TODO: Probably a more efficient way to do this %>
    <% (cols - reg_slots.select{ |slot| slot.morning }.size - reg_slots.reject { |slot| slot.morning || reg_slots.any? { |e_slot| e_slot.id == slot.morning_slot_id} }.size).times do %>
        <td colspan="3"></td>
    <% end %>
</tr>
<tr>
    <% if reg_special.size.zero? %>
        <td></td>
        <td></td>
        <td></td>
    <% else %>
        <td><%=
            # FIXME: causing N + 1 queries 
            if reg_special.include?(event_special.first) && reg_special.include?(event_special.last)
                '午前 / 午後'
            elsif reg_special.include?(event_special.first)
                '午前'
            elsif reg_special.include?(event_special.last)
                '午後'
            else
                ''
            end
        %></td>
        <td><%=
            # FIXME: causing N + 1 queries 
            if event_opts.include?(event_special.first.options.find_by(name: '昼'))
                '昼'
            end
        %></td>
        <td><%=
            # FIXME: causing N + 1 queries 
            if reg_special.include?(event_special.first) && reg_special.include?(event_special.last)
                "#{event_special.first.arrival_time(event_child)} / #{'中延長 ' if event_opts.include?(event_special.first.options.find_by(category: :extension))} / #{event_special.last.departure_time(event_child)}"
            elsif reg_special.include?(event_special.first)
                "#{event_special.first.arrival_time(event_child)}"
            elsif reg_special.include?(event_special.last)
                "#{event_special.last.departure_time(event_child)}"
            else
                ''
            end
        %></td>
    <% end %>

    <% reg_slots.each do |slot| %>
        <% if slot.morning %>
            <td><%=
                # FIXME: causing N + 1 queries 
                if reg_slots.include?(slot.afternoon_slot) && reg_slots.include?(slot)
                    '午前 / 午後'
                elsif reg_slots.include?(slot)
                    '午前'
                else
                    ''
                end
            %></td>

            <td><%=
                if event_opts.include?(slot.options.find_by(name: '昼')) && event_opts.include?(slot.options.find_by(name: '晩'))
                    '昼 / 晩'
                elsif event_opts.include?(slot.options.find_by(name: '昼'))
                    '昼'
                elsif event_opts.include?(slot.options.find_by(name: '晩'))
                    '晩'
                else
                    ''
                end
            %></td>

            <%# FIXME: N+1 queries %>
            <td><%=
                if reg_slots.include?(slot.afternoon_slot) && reg_slots.include?(slot)
                    "#{slot.arrival_time(event_child)} / #{slot.afternoon_slot.departure_time(event_child)}" unless slot.arrival_time(event_child) == '' && slot.afternoon_slot.departure_time(event_child) == ''
                elsif reg_slots.include?(slot)
                    "#{slot.arrival_time(event_child)}"
                else
                    ''
                end
             %></td>
        <% elsif reg_slots.include?(slot.morning_slot) %>
            <% next %>
        <% else %>
            <td>午後</td>

            <td><%=
                if event_opts.include?(slot.options.find_by(name: '昼')) && event_opts.include?(slot.options.find_by(name: '晩'))
                    '昼 / 晩'
                elsif event_opts.include?(slot.options.find_by(name: '昼'))
                    '昼'
                elsif event_opts.include?(slot.options.find_by(name: '晩'))
                    '晩'
                else
                    ''
                end
            %></td>

            <%# FIXME: N+1 queries %>
            <td><%= "#{slot.departure_time(event_child)}" %></td>
        <% end %>
    <% end %>

    <%# TODO: Probabaly a more efficient way to do this %>
    <% (cols - reg_slots.select{ |slot| slot.morning }.size - reg_slots.reject { |slot| slot.morning || reg_slots.any? { |e_slot| e_slot.id == slot.morning_slot_id} }.size).times do %>
            <td></td>
            <td></td>
            <td></td>
    <% end %>
</tr>