<div class="card">
    <%= turbo_frame_tag "add_child" do %>
        <%= form_with model: @child, class: 'child_form', html: { class: 'd-grid gap-3 needs-validation', novalidate: true } do |f| %>    
            <% if @child.errors.any? %>
                <div class="errors">
                    <h3><%= t('.unable_to_save') %></h3>
                    <ul>
                        <% @child.errors.full_messages.each do |error| %>
                            <li><%= error %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>
    
            <div class="personal_info d-grid gap-3">
                <h3><%= t('.personal_info') %></h3>

                <% if @child.parent_id %>
                    <%= f.hidden_field :parent_id %>
                <% else %>
                    <div>
                        <%= f.label :parent_id, t('.parent') %>
                        <%= f.collection_select :parent_id, @current_user.managed_schools.reduce([]) { |a, school| a + school.parents }, :id, :name, {}, class: 'form-select' %>
                    </div>
                <% end %>
    
                <div>
                    <%= f.label :first_name, t('.name'), class: 'form-label' %><br />
                    <div class="input-group">
                        <%= text_field_tag "child[family_name]", (@child.name.strip.split[0] unless @child.name.nil?), class: 'form-control', required: true, placeholder: t('.family_name') %>
                        <span class="input-group-text"></span>
                        <%= text_field_tag "child[first_name]", (@child.name.strip.split[1] unless @child.name.nil?), class: 'form-control', required: true, placeholder: t('.first_name')%>                        
                    </div>
                </div>
    
                <div>
                    <%= f.label :kana_first, t('.kana'), class: 'form-label' %><br />
                    <div class="input-group">
                        <%= text_field_tag "child[kana_family]", (@child.katakana_name.split[0] unless @child.name.nil?), class: 'form-control', required: true, placeholder: t('.kana_family') %>
                        <span class="input-group-text"></span>
                        <%= text_field_tag "child[kana_first]", (@child.katakana_name.split[1] unless @child.name.nil?), class: 'form-control', required: true, placeholder: t('.kana_first') %>
                    </div>
                </div>
    
                <div class="form-floating">
                    <%= f.text_field :en_name, autocomplete: "english-name", class: 'form-control', placeholder: t('.en_name'), required: true %>
                    <%= f.label :en_name, t('.en_name'), class: 'form-label' %><br />
                </div>
    
                <div class="form-floating">
                    <%= f.date_field :birthday, autocomplete: "birth-date", class: 'form-control', placeholder: t('.birthday'), required: true %>
                    <%= f.label :birthday, t('.birthday'), class: 'form-label' %><br />
                </div>
    
                <div data-controller="conditional">
                    <%= f.label :allergies, t('.allergies'), class: 'form-label' %><br />
                    <select name="" id=""
                    data-action="change->conditional#allergy"
                    data-conditional-target="condition"
                    class="form-select">
                        <option value="">-</option>
                        <option value="なし" <%= "selected='selected'" if f.object.allergies == 'なし' %>>なし</option>
                        <option value="有">有</option>
                    </select>
                    <%= f.text_field :allergies, value: f.object.allergies, data: { conditional_target: 'target' }, class: 'form-control', readonly: true, required: true %>
                </div>
    
                <div>
                    <%= f.label :grade, t('.grade'), class: 'form-label' %><br />
                    <%= f.select :grade, Child.grades.reject { |k, _| %w[満１歳 満２歳 年々少 中学１年 中学２年].include?(k) }.map { |k, v| v = k }, {}, { class: 'form-select', required: true } %>
                </div>
    
                <% if @child.new_record? %>
                    <div class="form-floating">
                        <%= f.text_field :ele_school_name, class: 'form-control', placeholder: t('ele_school') %>
                        <%= f.label :ele_school_name, t('ele_school'), class: 'form-label' %><br />
                    </div>
                <% end %>
                <% if !@child.new_record? && current_user.staff? %>
                    <div data-controller="conditional" data-conditional-pin-value=<%= current_user.pin %>>
                        <div class="form-floating d-none"
                             data-conditional-target="target">
                            <%= f.text_field :ele_school_name, class: 'form-control', placeholder: t('ele_school') %>
                            <%= f.label :ele_school_name, t('ele_school'), class: 'form-label' %><br />
                        </div>
                        <div class="form-floating" data-conditional-target="target">
                            <%= text_field_tag t('enter_pin', info: t('ele_school')), '', class: 'form-control', placeholder: t('enter_pin', info: t('ele_school')), maxlength: 4, data: { 'conditional-target': 'condition', action: 'conditional#pin' } %>
                            <%= label_tag t('enter_pin', info: t('ele_school')), nil, class: 'form-label' %>
                        </div>
                    </div>
                <% end %>
            </div>
    
            <div class="school_info d-grid gap-3 pt-0">
                <h3><%= t('.school_info') %></h3>
    
                <% if current_user.admin? %>
                    <div>
                        <%= f.label :school_id, t('.school'), class: 'form-label' %><br />
                        <%= f.collection_select :school_id, School.all.order(:name), :id, :name, {}, { class: 'form-select' } %>
                    </div>
                <% elsif current_user.school_manager? %>
                    <div>
                        <%= f.label :school_id, t('.school'), class: 'form-label' %><br />
                        <%= f.collection_select :school_id, current_user.managed_schools.order(:name), :id, :name, { selected: current_user.managed_schools.first.id }, { class: 'form-select' } %>
                    </div>
                <% else %>
                    <div>
                        <%= f.label :school_id, t('.school'), class: 'form-label' %><br />
                        <%= f.collection_select :school_id, School.where.not(name: 'オンラインコース').order(:name), :id, :name, {}, { class: 'form-select' } %>
                    </div>
                <% end %>
    
                <div>
                    <%= f.label :category, t('.category'), class: 'form-label' %><br />
                    <%= f.select :category, Child.categories.keys.reject { |k| ['unknown', 'default'].include?(k) }.map { |k| [t(".#{k}"), k]}, {}, { class: 'form-select', required: true } %>
                </div>
    
                <div>
                    <%= f.label :photos, t('.photos'), class: 'form-label' %><br />
                    <%= f.select :photos, Child.photos.keys.reject { |k| ['マイページOK', 'Unknown'].include?(k) }, {}, { class: 'form-select', required: true, selected: nil } %>
                </div>
    
                <% if current_user.customer? && f.object.new_record? %>
                    <div>
                        <%= f.check_box :first_seasonal, {class: 'form-check-input', checked: f.object.needs_hat} %>
                        <%= f.label :first_seasonal, t('.first_seasonal'), class: 'form-check-label' %><br />
                    </div>
                <% end %>
    
                <% if current_user.staff? %>
                    <div>
                        <%= f.check_box :first_seasonal, {class: 'form-check-input', checked: f.object.needs_hat} %>
                        <%= f.label :first_seasonal, t('.first_seasonal'), class: 'form-check-label' %><br />
                    </div>
                <% end %>
            </div>
    
            <%= f.submit t('.reg_child'), class: 'btn btn-primary', data: { turbo_frame: '_top' } %>
        <% end %>
    <% end %>
</div>