<div class="card">
    <%= turbo_frame_tag "add_child" do %>
        <%= form_with model: @child, class: 'child_form', html: { class: 'd-grid gap-3' } do |f| %>
            <%= f.hidden_field :parent_id %>
    
            <% if @child.errors.any? %>
                <div class="errors">
                    <h3><%= t('.unable_to_save', child: @child.name) %></h3>
                    <ul>
                        <% @child.errors.full_messages.each do |error| %>
                            <li><%= error %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>
    
            <div class="personal_info d-grid gap-3 p-5">
                <h3><%= t('.personal_info') %></h3>
    
                <div>
                    <%= f.label :first_name, t('.name'), class: 'form-label' %><br />
                    <div class="input-group">
                        <%= text_field_tag "child[first_name]", (@child.name.split[0] unless @child.name.nil?), class: 'form-control' %>
                        <span class="input-group-text"></span>
                        <%= text_field_tag "child[family_name]", (@child.name.split[1] unless @child.name.nil?), class: 'form-control' %>
                    </div>
                </div>
    
                <div>
                    <%= f.label :kana_first, t('.kana_name'), class: 'form-label' %><br />
                    <div class="input-group">
                        <%= text_field_tag "child[kana_first]", (@child.katakana_name.split[0] unless @child.name.nil?), class: 'form-control' %>
                        <span class="input-group-text"></span>
                        <%= text_field_tag "child[kana_family]", (@child.katakana_name.split[1] unless @child.name.nil?), class: 'form-control' %>
                    </div>
                </div>
    
                <div class="form-floating">
                    <%= f.text_field :en_name, autocomplete: "english-name", class: 'form-control', placeholder: t('.en_name') %>
                    <%= f.label :en_name, t('.en_name'), class: 'form-label' %><br />
                </div>
    
                <div class="form-floating">
                    <%= f.date_field :birthday, autocomplete: "birth-date", class: 'form-control', placeholder: t('.birthday') %>
                    <%= f.label :birthday, t('.birthday'), class: 'form-label' %><br />
                </div>
    
                <div data-controller="conditional">
                    <%= f.label :allergies, t('.allergies'), class: 'form-label' %><br />
                    <select name="" id=""
                    data-action="change->conditional#allergy"
                    data-conditional-target="condition"
                    class="form-select">
                        <option value="">-</option>
                        <option value="なし" <%= "selected='selected'" if f.object.allergies == 'なし' %>>なし</option>
                        <option value="はい">はい</option>
                    </select>
                    <%= f.text_field :allergies, value: f.object.allergies, data: { conditional_target: 'target' }, class: 'form-control', readonly: true %>
                </div>
    
                <div>
                    <%= f.label :grade, t('.grade'), class: 'form-label' %><br />
                    <%= f.select :grade, Child.grades.reject { |k, _| %w[満１歳 満２歳 年々少 中学１年 中学２年].include?(k) }.map { |k, v| v = k }, {}, { class: 'form-select' } %>
                </div>
    
                <% if @child.new_record? %>
                    <div class="form-floating">
                        <%= f.text_field :ele_school_name, class: 'form-control', placeholder: t('ele_school') %>
                        <%= f.label :ele_school_name, t('ele_school'), class: 'form-label' %><br />
                    </div>
                <% end %>
                <% if !@child.new_record? && current_user.staff? %>
                    <div data-controller="conditional" data-conditional-pin-value=<%= current_user.pin %>>
                        <div class="form-floating d-none"
                             data-conditional-target="target">
                            <%= f.text_field :ele_school_name, class: 'form-control', placeholder: t('ele_school') %>
                            <%= f.label :ele_school_name, t('ele_school'), class: 'form-label' %><br />
                        </div>
                        <div class="form-floating" data-conditional-target="target">
                            <%= text_field_tag t('enter_pin', info: t('ele_school')), '', class: 'form-control', placeholder: t('enter_pin', info: t('ele_school')), maxlength: 4, data: { 'conditional-target': 'condition', action: 'conditional#pin' } %>
                            <%= label_tag t('enter_pin', info: t('ele_school')), nil, class: 'form-label' %>
                        </div>
                    </div>
                <% end %>
            </div>
    
            <div class="school_info d-grid gap-3 p-5 pt-0">
                <h3><%= t('.school_info') %></h3>
    
                <div>
                    <%= f.label :school, t('.school'), class: 'form-label' %><br />
                    <%= f.collection_select :school_id, School.order(:name), :id, :name, {}, { class: 'form-select' } %>
                </div>
    
                <div>
                    <%= f.label :category, t('.category'), class: 'form-label' %><br />
                    <%= f.select :category, [["#{t('.external')}", "external"], ["#{t('.internal')}", "internal"], ["#{t('.reservation')}", "reservation"]], {}, { class: 'form-select' } %>
                </div>
    
                <div>
                    <%= f.label :photos, t('.photos'), class: 'form-label' %><br />
                    <%= f.select :photos, [['-', nil], %w[OK OK], %w[なし なし]], {}, { class: 'form-select' } %>
                </div>
    
                <% if current_user.customer? && f.object.new_record? %>
                    <div>
                        <%= f.check_box :first_seasonal, class: 'form-check-input' %>
                        <%= f.label :first_seasonal, t('.first_seasonal'), class: 'form-check-label' %><br />
                    </div>
                <% end %>
    
                <% if current_user.staff? %>
                    <div class="form-floating">
                        <%= f.text_field :ssid, placeholder: t('.ssid'), class: 'form-control' %>
                        <%= f.label :ssid, t('.ssid'), class: 'form-label' %><br />
                    </div>
    
                    <div>
                        <%= f.check_box :needs_hat, class: 'form-check-input' %>
                        <%= f.label :needs_hat, t('.needs_hat'), class: 'form-check-label' %><br />
                    </div>
    
                    <div>
                        <%= f.check_box :received_hat, class: 'form-check-input' %>
                        <%= f.label :received_hat, t('.received_hat'), class: 'form-check-label' %><br />
                    </div>
                <% end %>
            </div>
    
            <%= f.submit class: 'btn btn-primary', data: { turbo_frame: '_top' } %>
        <% end %>
    <% end %>
</div>