<% arrival_option = slot_child.options.select{ |opt| opt.arrival? && opt.optionable_id == slot.id && opt.optionable_type == 'TimeSlot' }.first %>
<% depart_option = slot_child.options.select{ |opt| opt.departure? && opt.optionable_id == slot.id && opt.optionable_type == 'TimeSlot' }.first %>

<tr>
    <th class="arrival"><%= 
        if arrival_option.nil?
            slot.f_start_time
        else
            (slot.start_time + arrival_option.modifier.minutes).strftime('%I:%M%p')
        end
     %></th>
    <th class="level"><%= slot_child.level.capitalize.gsub(/\d+/, ' \0 ') %></th>
    <th class="name"><%= "#{slot_child.name} (#{slot_child.en_name})" %></th>
    <th class="allergy"><%= slot_child.allergy_details %></th>
    <th class="photos"><%= 
        if slot_child.post_photos 
            'âœ“'
        else
            'ð„‚'
        end 
    %></th>
        <th class="depart"><%= 
        if depart_option.nil?
            slot.f_end_time
        else
            (slot.end_time + depart_option.modifier.minutes).strftime('%I:%M%p')
        end
    %></th>
    <% options.each do |opt| %>
        <td><%= 
            if slot_child.options.include?(opt)
                'âœ“'
            else
                'ð„‚'
            end
        %></td>
    <% end %>
</tr>
