<tr>
    <th class="arrival"><%= slot.arrival_time(slot_child) %></th>
    <th class="level"><%= slot_child.level.capitalize.gsub(/\d+/, ' \0 ') %></th>
    <th class="name"><%= link_to "#{slot_child.name} (#{slot_child.en_name})", child_path(slot_child) %></th>
    <th class="allergy"><%= slot_child.allergy_details %></th>
    <th class="photos"><%= 
        if slot_child.post_photos 
            'âœ“'
        else
            'ð„‚'
        end 
    %></th>
        <th class="depart"><%= slot.departure_time(slot_child) %></th>
    <% event_options.each do |opt| %>
        <td><%= opt.name if slot_child.options.include?(opt) %></td>
    <% end %>
    <% options.each do |opt| %>
        <td><%= opt.name if slot_child.options.include?(opt) %></td>
    <% end %>
</tr>
