<% event_options = slot_attendance.event.options %>
<% morn_time_ids = slot_attendance.options.time.ids %>
<% morn_options = slot_attendance.options.reject { |opt| morn_time_ids.include?(opt.id) } %>
<% aft_options = if slot_attendance.afternoon_slot.nil?
                   []
                 else
                   aft_slot = slot_attendance.afternoon_slot
                   aft_time_ids = aft_slot.options.time.ids
                   aft_slot.options.reject { |opt| aft_time_ids.include?(opt.id) }
                 end
%>
<% children = slot_attendance.children.distinct %>

<div class="slot_attendance mb-5" data-controller="refresh print" data-print-target="print">
    <div class="links d-flex gap-3">
        <%= link_to t('.back_to_event'), children_path(id: slot_attendance.event_id, source: 'Event'), class: 'btn btn-primary ms-3' %>
        <%= button_tag t('.print'), class: 'btn btn-primary', data: { action: "click->print#print" } %>
    </div>
    <h1 class="text-center"><%= "#{slot_attendance.name} (#{slot_attendance.start_time.strftime('%m月%d日')})" %></h1>
    <h2 class="counter text-center"><span data-refresh-target="counter">10:00</span>後にページが更新される。</h2>

    <table class="table table-sm table-light table-striped table-hover table-bordered text-center text-nowrap align-middle">
        <thead class="sticky-top">
            <tr class="table-primary">
                <th class="arrival"><%= t('.arrival') %></th>
                <th class="morning">
                    <p><%= t('.attend_morning') %></p>
                    <p><%= "K: #{children.select{|c| c.kindy}.size}, E: #{children.reject{|c| c.kindy}.size}" %></p>
                </th>
                <th class="name"><%= t('.name') %></th>
                <th class="allergy"><%= t('.allergy') %></th>
                <th class="photos"><%= t('.photo') %></th>
                <% event_options.each do |opt| %>
                    <%# FIXME: n+1 queries %>
                    <%# Count the kids registered for photo service, plus those whose siblings are %>
                    <th scope="col"><%= "#{opt.name}: #{opt.registrations.where(child_id: children.ids).size + children.select { |c| c.siblings.any? { |s| s.registered?(opt) } }.size }" %></th>
                <% end %>
                <% morn_options.each do |opt| %>
                    <%# FIXME: n+1 queries %>
                    <th scope="col"><%= "#{opt.name}: #{opt.registrations.where(child_id: children.ids).size}" %></th>
                <% end %>
                <% unless slot_attendance.special? %>
                    <th scope="col" id="afternoon_header" class="afternoon">
                        <p><%= t('.attend_afternoon') %></p>
                        <p><%= "K: #{children.select{|c| c.kindy && c.registered?(slot_attendance.afternoon_slot)}.size}, E: #{children.reject(&:kindy).select{|c| c.registered?(slot_attendance.afternoon_slot)}.size}" %></p>
                    </th>
                    <% aft_options.each do |opt| %>
                        <%# FIXME: n+1 queries %>
                        <th scope="col"><%= "#{opt.name}: #{opt.registrations.where(child_id: children.ids).size}" %></th>
                    <% end %>
                <% end %>
                <th scope="col" id="depart_header" class="depart"><%= t('.depart') %></th>
            </tr>
        </thead>
        <%= render partial: 'children/slot_child', collection: children, locals: { slot: slot_attendance, event_options: event_options, morn_options: morn_options, aft_options: aft_options } %>
    </table>
</div>