<tr>
    <th class="arrival"><%= slot.arrival_time(slot_child) %></th>
    <th class="morning"><%= (slot_child.kindy) ? 'Kindy' : 'Elementary' %></th>
    <th class="name"><%= link_to "#{slot_child.katakana_name} (#{slot_child.en_name})", child_path(slot_child) %></th>
    <th class="allergy"><%= slot_child.allergies %></th>
    <th class="photos"><%= 
        unless slot_child.post_photos
           'NG' 
        end
    %></th>
    <% morn_options.each do |opt| %>
        <td><%= opt.name if slot_child.options.include?(opt) %></td>
    <% end %>
    <th class="afternoon"><%= '◯' if slot_child.registered?(slot.afternoon_slot) %></th>
    <% aft_options.each do |opt| %>
        <td><%= opt.name if slot_child.options.include?(opt) %></td>
    <% end %>
    <th class="depart"><%= slot.afternoon_slot.departure_time(slot_child) %></th>

</tr>
