<main id="event_children_index">
    <h1><%= @source.name %></h1>

    <table>
        <% num_rows = @source.time_slots.morning.size %>
        
        <thead>
            <tr>
                <th class="order"></th>
                <th class="ja_name">Name (日本語)</th>
                <th class="en_name">Name (英語)</th>
                <th class="ssid">SSID</th>
                <th><%= t('.cost') %></th>
                <th><%= t('.reg_days') %></th>
                <th><%= t('.allergy') %></th>
                <th><%= t('.allergy_details') %></th>
                <th><%= t('.photo_ok') %></th>
                <% num_rows.times do |i| %>
                    <th><%= "Day #{i + 1}" %></th>
                <% end %>
            </tr>
        </thead>

        <% 40.times do |i| %>
            <tr>
                <th class="order"><%= i + 1 %></th>
                <th class="ja_name"><%= i %></th>
                <th class="en_name"><%= i %></th>
                <th class="ssid"><%= i %></th>
                <% (num_rows + 5).times do |i| %>
                    <td><%= "#{i} long text filler lorem ipsum hahahahaha" %></td>
                <% end %>
            </tr>
        <% end %>
    </table>
</main>