<main id="event_children_index">
    <div class="event_child header">
        <div class="child_info header">
            <p class="order"><%= t('.order') %></p>
            <p class="name"><%= t('.name') %></p>
            <p class="en"><%= t('.en') %></p>
        </div>

        <% @source.time_slots.select(:name, :id).each do |slot| %>
            <div class="slot">
                <p class="slot_name"><%= link_to slot.name, children_path(id: slot.id, source: 'TimeSlot') %></p>
            </div>
        <% end %>
    </div>

    <div id="event_children">
        <%= render partial: 'children/event_child', collection: @attending, locals: { event: @source } || t('.no_reg') %>
    </div>
</main>