<% columns = %w[ssid name katakana en category allergies hat parent school edit_info] %>

<main id="children_index">
    <%= link_to t('.create_child'), new_child_path, class: 'btn btn-primary' %>

    <%= paginate @children, window: 40 %>

    <% if current_user.admin? || current_user.area_manager? %>
        <nav class="d-flex flex-row flex-wrap justify-content-center gap-3">
            <% @schools.each do |school| %>
                <%= link_to children_path(school: school.id) do %>
                    <div class="card<%= ' bg-primary text-white fw-semibold' if school.id == @school.id %>">
                        <%= school.name %>
                    </div>
                <% end %>
            <% end %>
        </nav>
    <% end %>

    <table class="table table-hover table-striped text-center">
        <thead>
            <tr class="table-primary">
                <% columns.each do |col| %>
                    <th scope="col"><%= t(".#{col}") %></th>
                <% end %>
            </tr>
            <tr>
                <% columns.each do |col| %>
                    <%= render partial: 'shared/filter_header',
                               locals: { column: col, siblings: '0' } %>
                <% end %>
            </tr>
        </thead>

        <tbody>
            <%= render partial: 'children/child', collection: @children %>
        </tbody>
    </table>

    <%= paginate @children, window: 40 %>

</main>
