<main id="children_index">
    <div class="child header">
        <p class="ssid"><%= t('.ssid') %></p>
        <p class="name"><%= t('.name') %></p>
        <p class="katakana"><%=t('.katakana') %></p>
        <p class="en"><%= t('.en') %></p>
        <p class="category"><%= t('.category') %></p>
        <p class="level"><%= t('.level') %></p>
        <p class="allergies"><%= t('.allergies') %></p>
        <p class="hat"><%= t('.hat') %></p>
        <p class="parent"><%= t('.parent') %></p>
        <p class="school"><%= t('.school') %></p>
        <p class="edit"><%= t('.edit_info') %></p>
    </div>

    <%= render @children %>
</main>