<main id="children_index">
    <%= link_to t('.create_child'), new_child_path, class: 'btn btn-primary' if current_user.staff? %>

    <table class="table table-striped">
        <thead>
            <tr class="table-primary">
                <th scope="col"><%= t('.ssid') %></th>
                <th scope="col"><%= t('.name') %></th>
                <th scope="col"><%=t('.katakana') %></th>
                <th scope="col"><%= t('.en') %></th>
                <th scope="col"><%= t('.category') %></th>
                <th scope="col"><%= t('.allergies') %></th>
                <th scope="col"><%= t('.hat') %></th>
                <th scope="col"><%= t('.parent') %></th>
                <th scope="col"><%= t('.school') %></th>
                <th scope="col"><%= t('.edit_info') %></th>
            </tr>
        </thead>

        <tbody>
            <%= render @children %>
        </tbody>
    </table>
</main>