- columns = %w[ssid name katakana en category allergies hat parent edit_info]

%main#children-index
  = link_to t('.create_child'), new_child_path, class: 'btn btn-primary'

  = paginate @children, window: 40

  - if current_user.admin? || current_user.area_manager?
    = render 'shared/school_nav',
             schools: @schools,
             school: @school,
             indexed_resource: 'children'

  %table.table.table-hover.table-striped.text-center
    %thead
      %tr.table-primary
        - columns.each do |col|
          %th{ scope: col }= t(".#{col}")

      %tr
        - columns.each do |col|
          = render partial: 'shared/filter_header',
                   locals: { column: col, siblings: '0' }

    %tbody
      = render partial: 'children/child', collection: @children

  = paginate @children, window: 40
