<main id="child_show">
    <div class="card">
        <h1><%= @child.name %></h1>
        <h3>SSID: <%= @child.ssid %></h3>
        <h3><%= link_to "#{t('.parent')} #{@parent.name}", user_path(@parent) %></h3>


        <div class="info">
            <div class="personal_info">
                <p><%= "#{t('.kana')} #{@child.katakana_name}" %></p>
                <p><%= "#{t('.en')} #{@child.en_name}" %></p>
                <p><%= "#{t('.bday')} #{@child.birthday}" %></p>
                <p><%= "#{t('.allergies')} #{@child.allergies}" %></p>
            </div>
            <div class="staff_info">
                <p>
                    <%= "#{t('.photos')} ◯" if @child.photos == 'OK' %>
                    <%= "#{t('.photos')} ✖" unless @child.photos == 'OK' %>
                </p>
                <p>
                    <%= "#{t('.need_hat')} ◯" if @child.needs_hat %>
                    <%= "#{t('.need_hat')} ✖" unless @child.needs_hat %>
                </p>
                <p>
                    <%= "#{t('.got_hat')} ◯" if @child.received_hat %>
                    <%= "#{t('.got_hat')} ✖" unless @child.received_hat %>
                </p>
            </div>
            <div class="school_info">
                <p>
                    <%= t(".no_school") if @school.nil? %>
                    <%= "#{t(".school")} #{@school.name}" unless @school.nil? %>
                </p>
                <p><%= "#{t('.category')} #{@child.category.capitalize}" %></p>
                <p><%= (@child.kindy) ? 'Kindy' : 'Elementary' %></p>
                <div data-controller="conditional"
                     data-conditional-pin-value=<%= current_user.pin %>>
                    <p class="d-none" data-conditional-target="target">
                        <%= "#{t('.ele_school')} #{@child.ele_school_name}" %>
                    </p>
                    <div class="form-floating" data-conditional-target="target">
                        <%= text_field_tag 'PIN', '', class: 'form-control', placeholder: 'PIN', maxlength: 4, data: { 'conditional-target': 'condition', action: 'conditional#pin' } %>
                        <%= label_tag 'PIN', nil, class: 'form-label' %>
                    </div>
                </div>
            </div>
        </div>


        <% if current_user.staff? || current_user.id == @child.parent_id %>
            <div class="staff_options">
                <%= link_to t('.edit_child'), edit_child_path(@child), class: 'btn btn-primary' unless @child.ssid %>
            </div>
        <% end %>
    </div>

    <h2><%= t('.next_event') %></h2>
    <%= render @next_event, partial: 'events/event' %>
</main>