<main id="child_show">
    <div class="card">
        <h1 class="fw-bold"><%= @child.name %></h1>
        <h5><span class="fw-bold"><%= t('.ssid') %></span> <%= if @child.ssid
                        @child.ssid
                      else
                        '---'
                      end %></h5>
        <h5><span class="fw-bold"><%= t('.parent') %></span><%= link_to @child.parent.name, user_path(@child.parent) unless @child.parent_id.nil? %></h5>


        <div class="d-flex flex-column flex-lg-row gap-3 justify-content-evenly">
            <div class="d-flex flex-column gap-1">
                <p><%= @child.katakana_name %></p>
                <p><%= @child.en_name %></p>
                <p><%= "#{t('.bday')} #{@child.birthday}" %></p>
                <p><%= "#{t('.allergies')} #{@child.allergies}" %></p>
            </div>
            <hr>
            <div class="d-flex flex-column gap-1">
                <p>
                    <%= t('.school', school: (@child.school_id ? @child.school.name : '---'))  %>
                </p>
                <p><%= case @child.category
                       when 'internal'
                           '通学生'
                       when 'reservation'
                           '予約生'
                       else
                           '非会員'
                       end
                %></p>
                <p><%= (@child.kindy) ? '幼稚園児' : '小学生' %></p>
                <p>
                    <%= "#{t('.photos')} OK" if @child.photos == 'OK' %>
                    <%= "#{t('.photos')} NG" unless @child.photos == 'OK' %>
                </p>
                <p>
                    <% if @child.received_hat %>
                        <%= "#{t('.has_hat')} あり" %>
                    <% else %>
                        <%= "#{t('.has_hat')} なし" %>
                    <% end %>
                </p>
                <% if current_user.staff? %>
                    <div data-controller="conditional"
                        data-conditional-pin-value=<%= current_user.pin %>>
                        <p class="d-none" data-conditional-target="target">
                            <%= "#{t('ele_school')}: #{@child.ele_school_name}" %>
                        </p>
                        <div class="form-floating" data-conditional-target="target">
                            <%= text_field_tag t('enter_pin', info: t('ele_school')), '', class: 'form-control', placeholder: t('enter_pin', info: t('ele_school')), maxlength: 4, data: { 'conditional-target': 'condition', action: 'conditional#pin' } %>
                            <%= label_tag t('enter_pin', info: t('ele_school')), nil, class: 'form-label' %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>


        <% if (current_user.staff? || current_user.id == @child.parent_id) && @child.ssid.nil? %>
            <div class="d-flex gap-3">
                <%= link_to t('.edit_child'), edit_child_path(@child), class: 'btn btn-primary' unless @child.ssid %>

                <div data-controller="conditional"
                     data-conditional-pin-value="<%= current_user.pin %>">
                    <%= link_to t('.delete_child'), child_path(@child), class: 'btn btn-danger d-none', data: { 'conditional-target' => 'target', turbo_method: :delete, turbo_confirm: t('.only_if_dup') } %>

                    <div class="form-floating" data-conditional-target="target">
                        <%= text_field_tag t('enter_pin', info: t('delete')), '', class: 'form-control', placeholder: t('enter_pin', info: t('delete')), maxlength: 4, data: { 'conditional-target': 'condition', action: 'conditional#pin' } %>
                        <%= label_tag t('enter_pin', info: t('delete')), nil, class: 'form-label' %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>

    <div class="card">
        <%= link_to t('.child_bookings', child: @child.name), invoices_path(child: @child.id), class: 'btn btn-primary' %>
    </div>

    <% unless @child.school.nil? %>
        <%= render @child.school.next_event, partial: 'events/event', child: @child %>
    <% end %>
</main>