<main id="sign_up">
  
  <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
    <h2><%= t('.sign_up') %></h2>

    <%= render "devise/shared/error_messages", resource: resource %>
  
    <h3><%= t('.account_information') %></h3>
    
    <div class="field confirmed">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field confirmed">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <em><%= t('.min_length', length: @minimum_password_length) %></em>
    </div>

    <div class="field confirmed">
      <%= f.label :email_confirmation %><br />
      <%= f.email_field :email_confirmation, autofocus: true, autocomplete: "email" %>
    </div>
  
    <div class="field confirmed">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  
    <h3><%= t('.personal_information') %></h3>
  
    <div class="field">
      <%= f.label :ja_first_name, t('.ja_first_name') %><br />
      <%= f.text_field :ja_first_name, autocomplete: "first-name" %>
    </div>
  
    <div class="field">
      <%= f.label :ja_family_name, t('.ja_family_name') %><br />
      <%= f.text_field :ja_family_name, autocomplete: "family-name" %>
    </div>
  
    <div class="field">
      <%= f.label :katakana_name, t('.katakana_name') %><br />
      <%= f.text_field :katakana_name, autocomplete: "kana-name" %>
    </div>

    <div class="field">
      <%= f.label :prefecture, t('.prefecture') %><br />
      <%= f.select :prefecture, %w[東京都 大阪 神奈川県] %>
    </div>

    <div class="field">
      <%= f.label :address, t('.address') %><br />
      <%= f.text_area :address, autocomplete: "address" %>
    </div>
  
    <div class="field">
      <%= f.label :postcode, t('.postcode') %><br />
      <%= f.text_field :postcode, autocomplete: "postcode" %>
    </div>
  
    <div class="field">
      <%= f.label :phone, t('.phone') %><br />
      <%= f.telephone_field :phone, autocomplete: "phone" %>
    </div>
  
    <div class="field school">
      <%= f.label :school, t('.school') %><br />
      <%= f.collection_select :school_id, School.order(:name), :id, :name %>
    </div>
  
    <div class="actions">
      <%= f.submit t('.sign_up'), class: 'button' %>
      <%= render "devise/shared/links" %>
    </div>

  <% end %>
  
</main>
