<% content_for :head do %>
  <script defer src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
<% end %>

<main id="sign_up">
  
  <%= form_for(resource, as: resource_name, url: user_registration_path, html: { class: 'h-adr' }) do |f| %>
    <span class="p-country-name" style="display:none;">Japan</span>

    <h2><%= t('.sign_up') %></h2>

    <%= render "devise/shared/error_messages", resource: resource %>
  
    <h3><%= t('.account_information') %></h3>
    
    <div class="field confirmed">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field confirmed">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <em><%= t('.min_length', length: @minimum_password_length) %></em>
    </div>

    <div class="field confirmed">
      <%= f.label :email_confirmation %><br />
      <%= f.email_field :email_confirmation, autofocus: true, autocomplete: "email" %>
    </div>
  
    <div class="field confirmed">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  
    <h3><%= t('.personal_information') %></h3>
  
    <div class="field">
      <%= f.label :first_name, t('.first_name') %><br />
      <%= text_field_tag "user[first_name]" %>
    </div>
  
    <div class="field">
      <%= f.label :family_name, t('.family_name') %><br />
      <%= text_field_tag "user[family_name]" %>
    </div>
  
    <div class="field">
        <%= f.label :kana_first, t('.kana_first') %><br />
        <%= text_field_tag "user[kana_first]" %>
    </div>

    <div class="field">
        <%= f.label :kana_family, t('.kana_family') %><br />
        <%= text_field_tag "user[kana_family]" %>
    </div>

    <div class="field">
      <%= f.label :postcode, '〒' %><br />
      <%= f.text_field :postcode, class: 'p-postal-code', size: 8, maxlength: 8, autocomplete: "postcode" %>
    </div>

    <div class="field">
      <%= f.label :prefecture, t('.prefecture') %><br />
      <%= f.text_field :prefecture, class: 'p-region' %>
    </div>

    <div class="field">
      <%= f.label :address, t('.address') %><br />
      <%= f.text_area :address, class: 'p-locality p-street-address p-extended-address', autocomplete: "address" %>
    </div>
  
    <div class="field">
      <%= f.label :phone, t('.phone') %><br />
      <%= f.telephone_field :phone, autocomplete: "phone" %>
    </div>
  
    <div class="field school">
      <%= f.label :school, t('.school') %><br />
      <%= f.collection_select :school_id, School.order(:name), :id, :name %>
    </div>
  
    <div class="actions">
      <%= f.submit t('.sign_up'), class: 'button' %>
      <%= render "devise/shared/links" %>
    </div>

  <% end %>
  
</main>
