:ruby
  coupon_options = [[nil, nil], %w[WELBOX WELBOX],
                    %w[すくすくえいど すくすくえいど]]
  event_option = @invoice.event.options&.first&.id
  opt_ids = @invoice.opt_regs.map(&:registerable_id) - @ignore_opts

= turbo_frame_tag "child#{@invoice.child_id}invoice#{@invoice.id}" do
  .d-flex.flex-column.align-items-center.gap-3
    %header.w-100.d-flex.flex-column.align-items-center.gap-3
      %form.w-100.d-flex.justify-content-end
        %button.bg-white.border-0{ formmethod: :dialog }
          = image_tag 'exit.svg', width: '60px'

      - if @invoice.slot_regs.empty? && opt_ids.none?(event_option)
        .h-100.d-flex.flex-column.justify-content-center.align-items-center
          %h1.text-lg.text-bg-danger.p-3.rounded.text-center
            = t('.please_make_selection')
      - else
        %h1.text-center= t('.email_will_send')
        %h2.w-75.text-center.bg-warning.rounded.p-3.shadow= t('.not_done')

    %hr.border.border-secondary.border-1.w-100

    .w-100
      = render @invoice, index: false

    = form_with model: @invoice,
                method: (@new ? :post : :patch),
                url: (@new ? invoices_path : invoice_path(@invoice.id)),
                html: { class: 'd-flex flex-column align-items-center gap-3' } do |f|
      = f.hidden_field :id
      = f.hidden_field :child_id
      = f.hidden_field :event_id

      .slot_regs
        = f.fields_for :slot_regs do |slot_f|
          = slot_f.hidden_field :_destroy
          = slot_f.hidden_field :id
          = slot_f.hidden_field :child_id
          = slot_f.hidden_field :registerable_id
          = slot_f.hidden_field :registerable_type

      .opt_regs
        = f.fields_for :opt_regs do |opt_f|
          = opt_f.hidden_field :_destroy
          = opt_f.hidden_field :id
          = opt_f.hidden_field :child_id
          = opt_f.hidden_field :registerable_id
          = opt_f.hidden_field :registerable_type

      - if @invoice.event.seasonal?
        %details.w-50
          %summary.btn.btn-info.mb-3
            = t('.apply_coupon')

          = f.fields_for :coupons, f.object.coupons.new do |coupon_f|
            .d-flex.flex-column.justify-content-around.align-items-center.gap-3
              = coupon_f.label :code,
                               t('.coupon'),
                               class: 'form-label text-center'
              = coupon_f.select :code,
                                coupon_options,
                                {}, class: 'form-select'

      = f.submit t('.confirm_changes'),
                 class: 'btn btn-primary',
                 'data-turbo-frame': '_top'

    = render @ss_invoices

    %hr.border.border-secondary.border-1.w-100

    %footer.w-100
      %form.w-100.d-flex.justify-content-end
        %button.btn.btn-secondary{ formmethod: :dialog }
          = t('.close')
