<div class="card p-3">
    <%= sanitize invoice.summary, tags: %w[h2 h3 h4 div p], attributes: %w[class id] %>

    <% if index %>
        <div class="d-flex gap-3 justify-content-center align-items-center flex-wrap">
            <%= link_to t('.view_history'), invoice_path(invoice), class: 'btn btn-primary' %>
            <%= link_to t('.edit_registrations'), event_path(id: invoice.event_id, child: invoice.child_id), class: 'btn btn-primary' unless invoice.in_ss %>

            <% if current_user.staff? %>
                <% if invoice.in_ss %>
                    <%= form_with model: invoice do |f| %>
                        <%= f.hidden_field :in_ss, value: false %>

                        <%= f.submit t('.unconfirm_booking'), class: 'btn btn-primary', data: { turbo_confirm: t('.makes_editable') } %>
                    <% end %>

                    
                    <p class="btn btn-info"><%= "Booking##{invoice.id}" %></p>
                <% else %>
                    <%= link_to t('.adjustments'), edit_adjustment_path(invoice), class: 'btn btn-primary' %>
                    <%= link_to t('.delete_booking'), invoice_path(invoice), data: { turbo_method: :delete, turbo_confirm: t('.you_sure') }, class: 'btn btn-primary' %>

                    <%= form_with model: invoice do |f| %>
                        <%= f.hidden_field :in_ss, value: true %>

                        <%= f.submit t('.confirm_booking'), class: 'btn btn-primary' %>
                    <% end %>

                    <% unless Invoice.where(child_id: invoice.child_id, event_id: invoice.event_id).excluding(invoice).empty? %>
                        <%= form_with url: merge_invoices_path, html: { class: 'd-flex align-items-center gap-3' } do |f| %>
                            <%= f.hidden_field :merge_from, value: invoice.id %>
                            <%# Give the option to merge  %>
                            <div class="field">
                                <%= f.label :merge_to, t('.merge_to') %>
                                <%= f.collection_select :merge_to, Invoice.where(child_id: invoice.child_id, event_id: invoice.event_id).excluding(invoice), :id, :id %>
                            </div>
                            <%= f.submit t('.merge_bookings'), class: 'btn btn-primary', data: { turbo_confirm: t('.merge_warning') }
                            %>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    <% end %>
</div>