<div class="table-responsive-lg">
    <table class="table">
        <thead>
            <tr class="table-primary">
                <th scope="col"><%= t('.child_name') %></th>
                <th scope="col"><%= t('.num_slots') %></th>
                <th scope="col"><%= t('.total_cost') %></th>
            </tr>
        </thead>

        <tbody>
            <% recent_invoices.each do |i| %>
                <tr>
                    <td><%= link_to i.child.name, child_path(i.child_id) %></td>
                    <td><%= i.time_slots.size %></td>
                    <td><%= link_to number_to_currency(i.total_cost, unit: '円', precision: 0, locale: :ja), invoice_path(i), class: (i.in_ss ? 'text-info' : 'text-danger fw-bold') %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>