<div class="card">
    <h2><%= t('.recent_bookings') %></h2>

    <div class="table-responsive-lg">
        <table class="table table-hover table-striped">
            <thead>
                <tr class="table-primary">
                    <th scope="col"><%= t('.child_name') %></th>
                    <th scope="col"><%= t('.num_slots') %></th>
                    <th scope="col"><%= t('.total_cost') %></th>
                </tr>
            </thead>
    
            <tbody>
                <% bookings.each do |i| %>
                    <tr>
                        <td>
                            <%= link_to i.child.name, child_path(i.child_id) %>
                        </td>
                        <td><%= i.slot_regs.size %></td>
                        <td>
                            <%= link_to number_to_currency(
                                    i.total_cost,
                                    unit: '円',
                                    precision: 0,
                                    locale: :ja
                                ),
                                invoice_path(i),
                                class: (i.in_ss ? 'text-info' : 'text-danger fw-bold') %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>