<main id="invoice_index" class="gap-5">
    <% if @user %>
        <% @user.children.each do |child| %>
            <% next if child.events.empty? %>

            <h1><%= child.name %></h1>     
            <% child.events.order(start_date: :asc).each do |event| %>
                <%= render event, partial: 'events/event', child: nil %>

                <%= render partial: 'invoices/invoice', collection: @invoices.select { |invoice| invoice.child_id == child.id && invoice.event_id == event.id }, locals: { index: true } %>
            <% end %>
        <% end %>
    <% else %>
        <h1><%= @child.name %></h1>     
            <% @child.events.order(start_date: :asc).each do |event| %>
                <%= render event, partial: 'events/event', child: nil %>

                <%= render partial: 'invoices/invoice', collection: @invoices.select { |invoice| invoice.child_id == @child.id && invoice.event_id == event.id }, locals: { index: true } %>
            <% end %>
    <% end %>
</main>