<main id="invoice_index" class="gap-5 py-5">
    <% if @user %>
        <% @children.each do |c| %>
            <% next if c.real_invoices.size.zero? %>

            <h1><%= link_to c.name, child_path(c) %></h1>
            <% c.events.order(start_date: :desc).each do |e| %>
                <% next unless c.real_invoices.find { |i| i.event_id == e.id } %>

                <% event_cost = c.real_invoices.select { |i| i.event_id == e.id }
                                               .reduce(0) { |sum, i| sum + i.total_cost } %>

                <%= render partial: 'invoices/event_cost', locals: { cost: event_cost, event: e.name } %>

                <%= render partial: 'events/child_event', locals: { event: e, child: c } %>

                <%= render partial: 'invoices/invoice',
                           collection: c.real_invoices.select { |i| i.event_id == e.id },
                           locals: { index: true } %>
            <% end %>
        <% end %>
    <% else %>
        <% next_event = @events.first %>

        <% unless next_event.nil? %>
            <% event_cost = @invoices
                    .select { |i| i.event_id == next_event.id }
                    .reduce(0) { |sum, i| sum + i.total_cost } %>
            <%= render partial: 'invoices/event_cost', locals: { cost: event_cost, event: next_event.name } %>
        <% end %>

        <h1><%= link_to @child.name, child_path(@child) %></h1>
        <% @events.each do |e| %>
            <%= render partial: 'events/staff_event', locals: { event: e } %>

            <%= render partial: 'invoices/invoice', collection: @invoices.select { |i| i.event_id == e.id }, locals: { index: true } %>
        <% end %>
    <% end %>
</main>
