:ruby
  unregistered_slots = @event_slots - @registered_slots
  unregistered_slots = unregistered_slots.reverse
  active_invoice = @all_invoices.find { |i| i.in_ss == false }

  registrations =
    @all_invoices.reduce([]) { |array, invoice| array + invoice.registrations }
  opt_regs =
    registrations.select { |reg| reg.registerable_type == 'Option' }
  adjustments =
    @all_invoices.reduce([]) { |array, inv| array + inv.adjustments }

  confirmed_slot_regs =
    @all_invoices.select(&:in_ss)
                 .reduce([]) { |array, invoice| array + invoice.slot_regs }
  confirmed_opt_regs =
    @all_invoices.select(&:in_ss)
                 .reduce([]) { |array, invoice| array + invoice.opt_regs }
  slot_registered = lambda do |slot|
    registrations.any? do |reg|
      reg.registerable_type == 'TimeSlot' && reg.registerable_id == slot.id
    end || confirmed_slot_regs.any? { |reg| reg.registerable_id == slot.id }
  end
  special_day_groups =
    @event_slots
    .group_by { |slot| slot.start_time.to_date }
    .values
    .select { |slots| slots.size > 1 && slots.any?(&:special?) }
  special_day_slot_ids = special_day_groups.flatten.map(&:id)
  grouped_day_slots = lambda do |slots|
    (slots + slots.filter_map(&:afternoon_slot)).uniq.sort_by(&:start_time)
  end
  unregistered_special_day_groups =
    special_day_groups.select do |slots|
      grouped_day_slots.call(slots).any? { |slot| !slot_registered.call(slot) }
    end
  registered_special_day_groups =
    special_day_groups.select do |slots|
      grouped_day_slots.call(slots).all? { |slot| slot_registered.call(slot) }
    end
  normal_unregistered_slots =
    unregistered_slots.reject { |slot| special_day_slot_ids.include?(slot.id) }
  normal_registered_slots =
    @registered_slots.reject { |slot| special_day_slot_ids.include?(slot.id) }
  unregistered_card_items =
    (
      unregistered_special_day_groups.map do |slots|
        day_slots = grouped_day_slots.call(slots)
        { type: :special_day_group, start_time: day_slots.first.start_time, slots: slots }
      end +
      normal_unregistered_slots.map do |slot|
        { type: :slot, start_time: slot.start_time, slot: slot }
      end
    ).sort_by { |item| item[:start_time] }
  registered_card_items =
    (
      registered_special_day_groups.map do |slots|
        day_slots = grouped_day_slots.call(slots)
        { type: :special_day_group, start_time: day_slots.first.start_time, slots: slots }
      end +
      normal_registered_slots.map do |slot|
        { type: :slot, start_time: slot.start_time, slot: slot }
      end
    ).sort_by { |item| item[:start_time] }

  stimulus_actions = 'register:toggle->invoice#change ' \
                     'invoice:add@window->price#calculate ' \
                     'invoice:remove@window->price#calculate'

  frame_id = "child#{@child.id}invoice#{active_invoice.id}"

%main{ class: 'd-flex flex-column justify-content-start' \
              'align-items-start text-start bg-white',
       data: { controller: 'invoice price',
               action: stimulus_actions,
               'price-price-list-value': @price_list.to_json,
               'price-pricing-rules2026-value': @event.pricing_rules_2026?,
               'price-snack-cost-value': TimeSlot.snack_cost_for(@event),
               'price-sibling-event-cost-value': @siblings_event_cost || 0,
               'price-event-name-value': @event.name },
       id: 'event-show' }

  = render 'invoices/registration_page/header',
           child: @child, siblings: @siblings, event: @event,
           event_cost: @event_cost

  = render 'invoices/registration_page/parent_messages',
           child: @child, siblings: @siblings, event: @event

  %details.w-100.border.rounded{ name: 'accordion' }
    %summary.bg-primary.rounded.p-3
      = t('.more_info')
    = render 'invoices/registration_page/more_info',
             adjustments:, event: @event, child: @child,
             price_list: @price_list

  %details.w-100.border.rounded.mt-n3{ name: 'accordion', open: true }
    %summary.bg-primary.rounded.p-3= t('.unregistered_slots')
    .d-flex.flex-column.justify-content-around.flex-lg-row.flex-wrap.gap-3.p-3
      - cards_html = combo_card_for event: @event,
                                    school: @event.school,
                                    child: @child,
                                    registrations: registrations,
                                    confirmed_slot_regs: confirmed_slot_regs
      = cards_html

      - unregistered_card_items.each do |item|
        - if item[:type] == :special_day_group
          = render 'time_slots/special_day_group',
                   special_day_slots: item[:slots], child: @child,
                   registrations: registrations,
                   confirmed_slot_regs: confirmed_slot_regs,
                   confirmed_opt_regs: confirmed_opt_regs,
                   opt_regs: opt_regs
        - else
          = render 'time_slots/add_slot',
                   add_slot: item[:slot], child: @child,
                   registrations: registrations, event: @event,
                   confirmed_slot_regs: confirmed_slot_regs,
                   confirmed_opt_regs: confirmed_opt_regs,
                   opt_regs: opt_regs


  %details.w-100.border.rounded.mt-n3{ name: 'accordion' }
    %summary.bg-primary.rounded.p-3= t('.registered_slots')
    .d-flex.flex-column.justify-content-around.flex-lg-row.flex-wrap.gap-3.p-3
      - registered_card_items.each do |item|
        - if item[:type] == :special_day_group
          = render 'time_slots/special_day_group',
                   special_day_slots: item[:slots], child: @child,
                   registrations: registrations,
                   confirmed_slot_regs: confirmed_slot_regs,
                   confirmed_opt_regs: confirmed_opt_regs,
                   opt_regs: opt_regs
        - else
          = render 'time_slots/add_slot',
                   add_slot: item[:slot], child: @child,
                   registrations:, event: @event,
                   confirmed_slot_regs:, confirmed_opt_regs:, opt_regs:

  = render 'invoices/registration_page/price_footer',
           all_invoices: @all_invoices, child: @child, confirmed_opt_regs:,
           event_options: @event.options, frame_id:, options: @options,
           registrations:, siblings: @siblings

%dialog.rounded.w-100.h-100#invoice-preview
  = turbo_frame_tag frame_id
