:ruby
  unregistered_slots = @event_slots - @registered_slots

  active_invoice = @all_invoices.find { |i| i.in_ss == false }

  registrations = @all_invoices
                  .reduce([]) { |array, invoice| array + invoice.registrations }
  opt_regs = registrations.select { |reg| reg.registerable_type == 'Option' }
  adjustments = @all_invoices
                .reduce([]) { |array, inv| array + inv.adjustments }

  confirmed_slot_regs = @all_invoices
                        .select(&:in_ss)
                        .reduce([]) { |array, invoice| array + invoice.slot_regs }
  confirmed_opt_regs = @all_invoices
                       .select(&:in_ss)
                       .reduce([]) { |array, invoice| array + invoice.opt_regs }

  stimulus_actions = 'register:toggle->invoice#change ' \
                     'invoice:add@window->price#calculate ' \
                     'invoice:remove@window->price#calculate'

  frame_id = "child#{@child.id}invoice#{active_invoice.id}"

%main{ class: 'd-flex flex-column justify-content-start' \
              'align-items-start text-start bg-white',
       data: { controller: 'invoice price',
               action: stimulus_actions,
               'price-member-price-value': @price_list.to_json,
               'price-non-member-price-value': @price_list.to_json,
               'price-other-cost-value': @siblings_event_cost || 0,
               'price-event-name-value': @event.name },
       id: 'event-show' }

  = render 'invoices/registration_page/header',
           child: @child, siblings: @siblings, event: @event,
           event_cost: @event_cost

  = render 'invoices/registration_page/parent_messages',
           child: @child, siblings: @siblings, event: @event

  = render 'invoices/registration_page/event_options',
           child: @child, siblings: @siblings, confirmed_opt_regs:,
           event: @event, registrations:

  %details.w-100.border.rounded{ name: 'accordion' }
    %summary.bg-primary.rounded.p-3
      = t('.more_info')
    = render 'invoices/registration_page/more_info',
             adjustments:, event: @event, child: @child,
             price_list: @price_list

  %details.w-100.border.rounded.mt-n3{ name: 'accordion', open: true }
    %summary.bg-primary.rounded.p-3= t('.unregistered_slots')
    .d-flex.flex-column.justify-content-around.flex-lg-row.flex-wrap.gap-3.p-3
      = render partial: 'time_slots/add_slot_rework',
               collection: unregistered_slots,
               locals: { child: @child, registrations:, event: @event,
                         confirmed_slot_regs:, confirmed_opt_regs:, opt_regs: }

  %details.w-100.border.rounded.mt-n3{ name: 'accordion' }
    %summary.bg-primary.rounded.p-3= t('.registered_slots')
    .d-flex.flex-column.justify-content-around.flex-lg-row.flex-wrap.gap-3.p-3
      = render partial: 'time_slots/add_slot_rework',
               collection: @registered_slots,
               locals: { child: @child, registrations:, event: @event,
                         confirmed_slot_regs:, confirmed_opt_regs:, opt_regs: }

  = render 'invoices/registration_page/price_footer',
           all_invoices: @all_invoices, child: @child,
           frame_id:, options: @options

%dialog.rounded.w-100.h-100#invoice-preview
  = turbo_frame_tag frame_id
