<main id="invoice_show" class="gap-5">
    <div class="align-self-start d-flex gap-3">
        <%= link_to t('.customer_invoices'), invoices_path(user: @invoice.child.parent_id), class: 'btn btn-primary' %>
        <%= link_to t('.child_invoices'), invoices_path(child: @invoice.child_id), class: 'btn btn-primary' %>
    </div>

    <% if @updated %>
      <div class="card bg-success w-100 text-white">
        <% if current_user.staff? && @invoice.in_ss %>
          <%= t('.marked_in_ss') %>
        <% elsif current_user.staff? %>
          <%= t('.staff_confirm') %>
        <% else %>
          <%= t('.confirm_success') %>
        <% end %>
      </div>
    <% end %>

    <% if @surveys %>
        <% @surveys.each do |s| %>
            <%= render s %>
        <% end %>
    <% end %>

    <h1><%= link_to @invoice.child.name, child_path(@invoice.child_id) %></h1>

    <% unless @previous_versions.empty? %>
        <h1><%= t('.current_version') %></h1>
    <% end %>

    <%= render @invoice, index: false %>

    <div class="card d-flex flex-row flex-wrap gap-3 justify-content-around align-items-center">
        <%= link_to t('.edit_registrations'), event_path(id: @invoice.event_id, child: @invoice.child_id), class: 'btn btn-primary' unless @invoice.in_ss %>

        <% if current_user.staff? %>
            <% if @invoice.in_ss %>
                <% if @invoice.child.invoices.all?(&:in_ss) %>
                    <%= form_with model: @invoice do |f| %>
                        <%= f.hidden_field :in_ss, value: false %>
                        <%= f.submit t('.unconfirm_booking'), class: 'btn btn-primary', data: { turbo_confirm: t('.makes_editable') } %>
                    <% end %>
                <% end %>

                <p class="btn btn-info"><%= "Booking##{@invoice.id}" %></p>
            <% else %>
                <%= link_to t('.adjustments'), edit_adjustment_path(@invoice), class: 'btn btn-primary' %>

                    <%= form_with model: @invoice do |f| %>
                        <%= f.hidden_field :in_ss, value: true %>
                        <%= f.hidden_field :email_sent, value: true %>

                        <%= f.submit t('.confirm_w_email'), class: 'btn btn-primary' %>
                    <% end %>

                    <%= form_with model: @invoice do |f| %>
                        <%= f.hidden_field :in_ss, value: true %>

                        <%= f.submit t('.confirm_no_email'), class: 'btn btn-primary' %>
                    <% end %>

                <% unless Invoice.where(child_id: @invoice.child_id, event_id: @invoice.event_id).excluding(@invoice).empty? %>
                    <%= form_with url: merge_invoices_path, html: { class: 'd-flex align-items-center gap-3' } do |f| %>
                        <%= f.hidden_field :merge_from, value: @invoice.id %>
                        <%# Give the option to merge  %>
                        <div class="field">
                            <%= f.collection_select :merge_to, Invoice.where(child_id: @invoice.child_id, event_id: @invoice.event_id).excluding(@invoice), :id, :id_and_cost %>
                        </div>
                        <%= f.submit t('.merge_bookings'), class: 'btn btn-primary', data: { turbo_confirm: t('.merge_warning') }
                        %>
                    <% end %>
                <% end %>

                <%= link_to t('.delete_booking'), invoice_path(@invoice), data: { turbo_method: :delete, turbo_confirm: t('.you_sure') }, class: 'btn btn-danger' %>
            <% end %>
        <% end %>
    </div>

    <% unless @previous_versions.empty? %>
        <h1><%= t('.previous_versions') %></h1>

        <% @previous_versions.each do |v| %>
            <div class="card d-flex flex-column gap-2 text-white text-center bg-secondary p-3 rounded">
                <h2><%= t('.version_from', date: v.created_at.strftime('%m/%d/%Y %H:%M')) %></h2>
                <h5><%= t('.changed_by', user: User.find(v.whodunnit).name) unless v.whodunnit.nil? %></h5>
            </div>

            <%= render v.reify, partial: 'invoices/invoice', index: false %>
        <% end %>
    <% end %>
</main>