<main id="invoice_show" class="gap-5">
    <div class="align-self-start d-flex gap-3">
        <%= link_to t('.customer_invoices'), invoices_path(user: @invoice.child.parent_id), class: 'btn btn-primary' %>
        <%= link_to t('.child_invoices'), invoices_path(child: @invoice.child_id), class: 'btn btn-primary' %>
    </div>

    <% unless @previous_versions.empty? %>
        <h1><%= t('.current_version') %></h1>
    <% end %>

    <%= render @invoice, index: false %>

    <% if current_user.staff? %>
        <div class="card d-flex flex-row flex-wrap gap-3 justify-content-around align-items-center">
            <% if @invoice.in_ss %>
                <p class="btn btn-info"><%= t('.in_ss') %></p>
                <p class="btn btn-info"><%= "Booking##{@invoice.id}" %></p>
            <% else %>
                <%= link_to t('.edit_registrations'), event_path(id: @invoice.event_id, child: @invoice.child_id), class: 'btn btn-primary' %>

                <%= link_to t('.adjustments'), edit_adjustment_path(@invoice), class: 'btn btn-primary' %>

                <%= form_with model: @invoice do |f| %>
                    <%= f.hidden_field :in_ss, value: true %>
                    <%= f.submit t('.confirm_booking'), class: 'btn btn-primary' %>
                <% end %>

                <%= link_to t('.delete_booking'), invoice_path(@invoice), data: { turbo_method: :delete, turbo_confirm: t('.you_sure') }, class: 'btn btn-primary' %>
            <% end %>
        </div>
    <% end %>

    <% unless @previous_versions.empty? %>
        <h1><%= t('.previous_versions') %></h1>

        <% @previous_versions.each do |v| %>
            <div class="card d-flex flex-column gap-2 text-white text-center bg-secondary p-3 rounded">
                <h2><%= t('.version_from', date: v.created_at.strftime('%m/%d/%Y %H:%M')) %></h2>
                <h5><%= t('.changed_by', user: User.find(v.whodunnit).name) unless v.whodunnit.nil? %></h5>
            </div>

            <%= render v.reify, partial: 'invoices/invoice', index: false %>
        <% end %>
    <% end %>
</main>