<% child_invoices = @invoice.child.invoices.where(event_id: @invoice.event_id) %>

<% if @invoice.seen_at.present? && @invoice.seen_at > @invoice.updated_at %>
    <%= turbo_stream.replace "child#{@invoice.child_id}changes" do %>
        <td rowspan="2"></td>
    <% end %>
<% end %>

<%= turbo_stream.replace "child#{@invoice.child_id}entered" do %>
   <td rowspan="2" id=<%= "child#{@invoice.child_id}entered" %>>
       <% child_invoices.select { |i| i.total_cost > 3_000 }.each do |i| %>
            <% if i.entered %>
                <% if child_invoices.all?(&:in_ss) %>
                    <%= form_with model: i do |f| %>
                        <%= f.hidden_field :entered, value: false %>
                        <%= f.hidden_field :in_ss, value: false %>
                        <div class="d-flex gap-1">
                            <%= number_to_currency(i.total_cost, unit: '円', precision: 0, locale: :ja) %>
                            <%= f.submit '', class: 'form-check-input rounded entered text-center', data: { turbo_confirm: t('.makes_editable') } %>
                        </div>
                    <% end %>
                <% else %>
                    <%= form_with url: url_for do |f| %>
                        <div class="d-flex gap-1">
                            <%= number_to_currency(i.total_cost, unit: '円', precision: 0, locale: :ja) %>
                            <%= f.submit '', class: 'form-check-input rounded entered text-center', data: { turbo_confirm: t('.unconfirmed_invoice') } %>
                        </div>
                    <% end %>
                <% end %>
            <% else %>
                <%= form_with model: i do |f| %>
                    <%= f.hidden_field :entered, value: true %>
                    <%= f.hidden_field :in_ss, value: true %>
                    <div class="d-flex gap-1">
                        <%= number_to_currency(i.total_cost, unit: '円', precision: 0, locale: :ja) %>
                        <%= f.submit '', class: 'form-check-input rounded not-entered' %>
                    </div>
                <% end %>
            <% end %>
        <% end %>
   </td>
<% end %>

<%= turbo_stream.replace "child#{@invoice.child_id}invoices" do %>
    <td rowspan="2" class="invoices" id=<%= "child#{@invoice.child_id}invoices" %>>
        <% child_invoices.select { |i| i.total_cost > 3_000}.each do |invoice| %>
            <% if invoice.in_ss %>
                <p><%= link_to number_to_currency(invoice.total_cost, unit: '円', precision: 0, locale: :ja), invoice_path(invoice), class: 'text-info' %></p>
            <% else %>
                <p><%= link_to number_to_currency(invoice.total_cost, unit: '円', precision: 0, locale: :ja), invoice_path(invoice), class: 'text-danger fw-bold' %></p>
            <% end %>
        <% end %>
    </td>
<% end %>