<%# Child's invoices for this event %>
<% event_invoices = event_child.real_invoices.select { |invoice| invoice.event_id == event.id } %>
<%# The invoice that's still available to edit %>
<% active_invoice = event_invoices.reject(&:in_ss).last %>

<tr class=<%= "child#{event_child.id}" %>>
    <th scope="row" class="order order-header"><%= event_child_iteration.index + 1 %></th>
    <th scope="row" class="name name-header"><%= link_to event_child.name, child_path(event_child) %></th>
    <th scope="row" class="en-name en-name-header"><%= link_to event_child.en_name, child_path(event_child) %></th>
    <th scope="row" class="ssid ssid-header<%= ' table-danger' if event_child.ssid.nil? %>">
        <% if event_child.ssid %>
            <%= link_to event_child.ssid, child_path(event_child) %>
        <% elsif event_child.ssid.nil? && event_child.parent_id.nil? %>
            <%= link_to t('.no_ssid'), child_path(event_child) %>
        <% else %>
            <%= link_to t('.no_ssid'), user_path(event_child.parent, anchor: 'merge_children') %>
        <% end %>
    </th>

    <td class="diff-school<%= ' table-danger' unless event_child.school_id == event.school_id %>">
        <% unless event_child.school_id == event.school_id %>
            <button type="button" class="btn btn-danger" data-bs-toggle="popover" data-bs-title="担当校舎" data-bs-content=<%= t("schools.#{event_child.school.name}") %>>担当校舎</button>
        <% end %>
    </td>

    <td class="invoices" id=<%= "child#{event_child.id}invoices" %>>
        <% event_invoices.each do |invoice| %>
            <% if invoice.in_ss %>
                <p><%= link_to number_to_currency(invoice.total_cost, locale: :ja), invoice_path(invoice), class: 'text-info' %></p>
            <% else %>
                <p><%= link_to number_to_currency(invoice.total_cost, locale: :ja), invoice_path(invoice), class: 'text-danger fw-bold' %></p>
            <% end %>
        <% end %>
    </td>

    <td class="cost">
        <%= number_to_currency(event_invoices.reduce(0) { |sum, invoice| sum + invoice.total_cost }, unit: '円', precision: 0, locale: :ja) %>
    </td>

    <td class="summary">
        <button type="button" class="btn btn-primary"
            data-bs-toggle="modal" data-bs-target="#<%= "child#{event_child.id}summaries" %>">
            <%= t('.view_summary') %>
        </button>

        <div class="modal fade" id="<%= "child#{event_child.id}summaries" %>" tabindex="-1">
            <div class="modal-dialog modal-fullscreen d-grid">
                <div class="modal-content d-grid gap-2">
                    <div class="modal-header">
                      <h5 class="modal-title"><%= event_child.name %></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <% event_invoices.each do |invoice| %>
                            <div class="card mb-3"
                                 data-controller="clipboard" data-clipboard-success-content="コピーされました"
                                 data-clipboard-target="source">
                                 <button type="button" class="btn btn-primary" data-action="clipboard#copy" data-clipboard-target="button">コピー</button>
                                <%= sanitize invoice.summary, tags: %w[h2 h3 h4 h5 div p], attributes: %w[class id] %>
                            </div>
                        <% end %>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('.close') %></button>
                    </div>
                </div>
            </div>
        </div>
    </td>

    <% if active_invoice %>
        <% unseen = active_invoice.seen_at.nil? ||
                    (!active_invoice.versions.empty? &&
                     active_invoice.versions.last.created_at > active_invoice.seen_at) %>
        <td
            id=<%= "child#{event_child.id}changes" %>
            class="<%= 'table-danger' if unseen %>">
            <% if unseen %>
                <div class="d-flex flex-column align-items-center gap-1">
                    <%= link_to t('.view'), invoice_path(active_invoice), target: '_blank', class: 'btn btn-primary', style: "font-size:0.75rem;" %>
                    <%= button_to t('.seen'),
                                  seen_invoice_path(
                                    id: active_invoice.id
                                  ),
                                  class: 'btn btn-secondary',
                                  style: "font-size:0.75rem;" %>
                </div>
            <% end %>
        </td>
    <% else %>
        <td></td>
    <% end %>

    <td id=<%= "child#{event_child.id}entered" %>>
        <% if event_invoices.size == 1 %>
            <% i = event_invoices.first %>
            <% if i.entered %>
                <%= form_with model: i do |f| %>
                    <%= f.hidden_field :entered, value: false %>
                    <%= f.submit '✔', class: 'form-check-input rounded entered text-center' %>
                <% end %>
            <% else %>
                <% if i.in_ss %>
                    <%= form_with model: i do |f| %>
                        <%= f.hidden_field :entered, value: true %>
                        <%= f.submit '', class: 'form-check-input rounded not-entered' %>
                    <% end %>
                <% else %>
                    <div class="d-flex justify-content-center align-items-center gap-1">
                        <div class="form-check-input rounded cant-enter"></div>
                    </div>
                <% end %>
            <% end %>
        <% else %>
            <% event_invoices.each do |i| %>
                <% if i.entered %>
                    <%= form_with model: i, class: 'd-flex d-column justify-content-center align-items-center gap-1' do |f| %>
                        <%= f.hidden_field :entered, value: false %>
                        <div class="d-flex gap-1">
                            <%= number_to_currency(i.total_cost, unit: '円', precision: 0, locale: :ja) %>
                            <%= f.submit '', class: 'form-check-input rounded entered text-center small-entered' %>
                        </div>
                    <% end %>
                <% else %>
                    <% if i.in_ss %>
                        <%= form_with model: i, class: 'd-flex d-column justify-content-center align-items-center gap-1' do |f| %>
                            <%= f.hidden_field :entered, value: true %>
                            <div class="d-flex gap-1">
                                <%= number_to_currency(i.total_cost, unit: '円', precision: 0, locale: :ja) %>
                                <%= f.submit '', class: 'form-check-input rounded not-entered small-entered' %>
                            </div>
                        <% end %>
                    <% else %>
                        <div class="d-flex justify-content-center align-items-center gap-1">
                            <%= number_to_currency(i.total_cost, unit: '円', precision: 0, locale: :ja) %>
                            <div class="form-check-input rounded cant-enter small-entered">
                            </div>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    </td>

    <td id=<%= "child#{event_child.id}sent" %>>
        <% if event_invoices.size == 1 %>
            <% i = event_invoices.first %>
            <% if i.email_sent %>
                <%= form_with model: i do |f| %>
                    <%= f.hidden_field :email_sent, value: false %>
                    <%= f.submit '✔', class: 'form-check-input rounded entered text-center' %>
                <% end %>
            <% else %>
                <% if i.in_ss %>
                    <%= form_with model: i do |f| %>
                        <%= f.hidden_field :email_sent, value: true %>
                        <%= f.submit '', class: 'form-check-input rounded not-entered' %>
                    <% end %>
                <% else %>
                    <div class="d-flex justify-content-center align-items-center gap-1">
                        <div class="form-check-input rounded cant-enter"></div>
                    </div>
                <% end %>
            <% end %>
        <% else %>
            <% event_invoices.each do |i| %>
                <% if i.email_sent %>
                    <%= form_with model: i, class: 'd-flex d-column justify-content-center align-items-center gap-1' do |f| %>
                        <%= f.hidden_field :email_sent, value: false %>
                        <div class="d-flex gap-1">
                            <%= number_to_currency(i.total_cost, unit: '円', precision: 0, locale: :ja) %>
                            <%= f.submit '', class: 'form-check-input rounded entered text-center small-entered' %>
                        </div>
                    <% end %>
                <% else %>
                    <% if i.in_ss %>
                        <%= form_with model: i, class: 'd-flex d-column justify-content-center align-items-center gap-1' do |f| %>
                            <%= f.hidden_field :email_sent, value: true %>
                            <div class="d-flex gap-1">
                                <%= number_to_currency(i.total_cost, unit: '円', precision: 0, locale: :ja) %>
                                <%= f.submit '', class: 'form-check-input rounded not-entered small-entered' %>
                            </div>
                        <% end %>
                    <% else %>
                        <div class="d-flex justify-content-center align-items-center gap-1">
                            <%= number_to_currency(i.total_cost, unit: '円', precision: 0, locale: :ja) %>
                            <div class="form-check-input rounded cant-enter small-entered">
                            </div>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    </td>

    <td class="coupons"><% event_invoices.each do |invoice| %>
        <% unless invoice.coupons.size.zero? %>
            <% invoice.coupons.each do |coupon| %>
                <p><%= coupon.code %></p>
            <% end %>
        <% end %>
    <% end %></td>

    <td class="kindy">
        <% if event_child.kindy %>
          幼児
        <% else %>
          小学生
        <% end %>
    </td>

    <td class="membership">
        <%= case event_child.category
            when 'internal'
                '通学生'
            when 'reservation'
                '予約生'
            else
                '非会員'
            end
        %>
    </td>

    <td class="regular_schedule"><%= event_child.regular_schedule.days if event_child.regular_schedule %></td>
    <td class="allergies"><%= event_child.allergies %></td>
    <td class="photos"><%= event_child.photos unless event_child.photos == 'OK' %></td>
</tr>
