- event_name = "event-sheet-#{@event.id}"

%main#event-children-index{ data: { controller: 'refresh' } }
  = render 'children/events/event_slots_dropdown', slots: @slots

  %h1 #{@event.name} at #{t("schools.#{@event.school.name}")}
  %h2.counter
    %span{ 'data-refresh-target': 'counter' } 10:00
    %span にページが更新される。

  %table.table.table-sm.table-light.table-striped.table-hover.table-bordered.text-center.text-nowrap.align-middle
    %thead.sticky-top
      %tr.table-primary
        %th.order-header{ scope: 'col' } #
        %th.name-header{ scope: 'col',
                        data: { controller: 'sort',
                                'sort-event-value': event_name,
                                'sort-col-value': '.name' } }
          名前 (日本語)
          %button.btn-sort.ascending{ data: { 'sort-target': 'toggle',
                                              action: 'click->sort#sort' } } &#9650;

        %th.en-name-header{ scope: 'col',
                            data: { controller: 'sort',
                                    'sort-event-value': event_name,
                                    'sort-col-value': '.en-name' } }
          名前 (英語)
          %button.btn-sort.ascending{ data: { 'sort-target': 'toggle',
                                              action: 'click->sort#sort' } } &#9650;

        %th.ssid-header{ scope: 'col',
                        data: { controller: 'sort',
                                'sort-event-value': event_name,
                                'sort-col-value': '.ssid' } }
          生徒コード
          %button.btn-sort.ascending{ data: { 'sort-target': 'toggle',
                                              action: 'click->sort#sort' } } &#9650;

        %th{ scope: 'col' } フォトサービス
        %th{ scope: 'col' } 担当校舎

        %th{ scope: 'col',
            data: { controller: 'sort',
                    'sort-event-value': event_name,
                    'sort-col-value': '.invoices' } }
          = t('.invoices')
          %button.btn-sort.ascending{ data: { 'sort-target': 'toggle',
                                              action: 'click->sort#sort' } } &#9650;

        %th{ scope: 'col',
            data: { controller: 'sort',
                    'sort-event-value': event_name,
                    'sort-col-value': '.cost' } }
          = t('.cost')
          %button.btn-sort.ascending{ data: { 'sort-target': 'toggle',
                                              action: 'click->sort#sort' } } &#9650;
        %th{ scope: 'col' }= t('.summary')
        %th{ scope: 'col' }= t('.changes')
        %th{ scope: 'col' } SS登録済
        %th{ scope: 'col' }= t('.email_sent')
        %th{ scope: 'col' }= t('.coupons')
        %th{ scope: 'col' }
          %p 幼児
          %p 小学生
        %th{ scope: 'col' }
          %p 通学生
          %p 予約生
          %p 非会員
        %th{ scope: 'col' }= t('.reg_days')
        %th{ scope: 'col' }= t('.allergy')
        %th{ scope: 'col' }= t('.photo')

    %tbody{id: event_name}
      %tr{ data: { static: true } }
        %td
        - %w[.name .en-name .ssid .photo .diff_school .invoices .cost].each do |col_class|
          = render 'shared/filter_header', col_class:, siblings: '1'

        %td
        %td
        %td
        %td

        - %w[.coupons .kindy .membership .regular_schedule .allergies .photos].each do |col_class|
          = render 'shared/filter_header', col_class:, siblings: '1'

      = render partial: 'children/events/event_child',
               collection: @children,
               locals: { event: @event, photo_kids: @photo_kids,
                         slots: @slots }
