<% kindy = child.kindy? %>
<% opt_regs = registrations.select { |reg| reg.registerable_type == 'Option' } %>

<div class="card d-flex flex-row flex-nowrap bg-white">
    <div class="d-flex flex-column">
        <p class="text-black-50"><%= add_slot.date %></p>
        <%= image_tag(url_for(add_slot.image), class: 'img-fluid img-thumbnail') unless add_slot.image.blank? %>
    </div>

    <% in_ss = slots_in_ss.any? { |reg| reg.registerable_id == add_slot.id } %>
    <% registered = registrations.any? { |reg| reg.registerable_id == add_slot.id && reg.registerable_type == 'TimeSlot' } %>

    <div class="d-grid gap-3 w-50">
        <% if add_slot.closed? && current_user.customer? %>
            <h3 class="fw-bold"><%= t('am_closed') %></h3>
        <% elsif in_ss %>
            <p class="fw-bold fs-5">
                <%= "#{add_slot.name}: ◯" %>
            </p>
            <% if add_slot.special? && add_slot.name != "バンダナの絞り染め (午前)" %>
                <p>スペシャルデー: ◯</p>
            <% end %>
            <% add_slot.options.each do |opt| %>
                <% if registrations.any? { |reg| reg.registerable_id == opt.id && reg.registerable_type == 'Option' } %>
                    <p><%= "#{opt.name}: ◯" %></p>
                <% end %>
            <% end %>
        <% else %>
            <div class="morning w-100" data-controller="popup"
                 data-action="register:toggle->popup#listen">
                <div class="add_reg w-100 form-check form-switch p-0 d-flex flex-column justify-content-center align-items-center gap-3"
                     data-controller="register"
                     data-register-id-value=<%= add_slot.id %>
                     data-register-type-value="TimeSlot"
                     data-register-name-value=<%= add_slot.name.concat(' (午前)').gsub(' ', '_') %>
                     data-register-child-value=<%= child.id %>>
                    <label for=<%= "m_slot#{add_slot.id}" %>
                           data-register-target="name"
                           class="fw-bold fs-5 form-check-label">
                        <%= add_slot.name %>
                    </label>
                    <% if add_slot.closed? %>
                        <p class="bg-danger text-white rounded p-1"><%= t('am_closed')  %></p>
                    <% end %>
                    <%= check_box_tag "m_slot#{add_slot.id}", '', (true if registered), class: 'form-check-input m-0', data: { action: 'register#toggle', 'register-target': 'button' }, role: 'switch' %>
                </div>
                <div class="options mt-2<%= ' hidden' unless registered %>" data-popup-target="popup">
                    <% time_ids = add_slot.options.time.ids %>
                    <% extension_ids = add_slot.options.extension.ids %>

                    <% if add_slot.special? && add_slot.name != "バンダナの絞り染め (午前)" %>
                        <p>スペシャルデー: ◯</p>
                    <% end %>

                    <% add_slot.options.reject { |opt| time_ids.include?(opt.id) || extension_ids.include?(opt.id) }.each do |opt| %>
                        <% opt_registered = registrations.any? { |reg| reg.registerable_id == opt.id && reg.registerable_type == 'Option' } %>
                        <div class="add_reg form-check form-switch p-0 d-flex justify-content-center align-items-center gap-2 w-100"
                             data-controller="register"
                             data-register-id-value=<%= opt.id %>
                             data-register-type-value="Option"
                             data-register-child-value=<%= child.id %>
                             data-register-cost-value=<%= opt.cost %>>
                            <label for=<%= "opt#{opt.id}" %> class="form-check-label" data-register-target="name"><%= opt.name %></label>
                            <%= check_box_tag "opt#{opt.id}", '', (true if opt_registered), class: 'form-check-input m-0', data: { action: 'register#toggle', 'register-target': 'button' }, role: 'switch' %>
                        </div>
                    <% end %>

                    <% arrival_options = if kindy
                                            add_slot.options.select { |opt| opt.k_arrival? }
                                        else
                                            add_slot.options.select { |opt| opt.arrival? }
                                        end %>
                    <% if arrival_options.any? { |opt| opts_in_ss.any? { |reg| reg.registerable_id == opt.id } } %>
                        <% registered_arrival = arrival_options.select { |opt| opts_in_ss.any? {  |reg| reg.registerable_id == opt.id} }.first %>
                        <p><%= "#{registered_arrival.name}: ◯" %></p>
                    <% else %>                          
                        <% unless arrival_options.size.zero? %>
                            <fieldset class="mt-2">
                                <legend class="fs-6 fw-bold"><%= t('.arrival_options') %></legend>
                                <% arrival_options.each do |opt| %>
                                    <% opt_registered = registrations.any? { |reg| reg.registerable_id == opt.id && reg.registerable_type == 'Option' } %>
                                    <div class="add_reg w-100 form-check d-flex justify-content-center align-items-center"
                                        data-controller="register"
                                        data-register-id-value=<%= opt.id %>
                                        data-register-type-value="Radio"
                                        data-register-child-value=<%= child.id %>
                                        data-register-cost-value=<%= opt.cost %>>
                                        <label for="<%= "arrival#{opt.optionable_id}opt#{opt.id}" %>" data-register-target="name"
                                        class="form-check-label">
                                            <%= opt.name %>
                                        </label>
                                        <input type="radio"
                                        name=<%= "arrival#{opt.optionable_id}child#{child.id}" %>
                                        id="<%= "arrival#{opt.optionable_id}opt#{opt.id}" %>"
                                        <%= 'checked' if opt_registered || ( opt.name == 'なし' && arrival_options.none? { |a_opt| opt_regs.include?(a_opt) }) %>
                                        data-register-target='button' data-action="change->register#toggle"
                                        class="form-check-input m-0">
                                    </div>
                                <% end %>
                            </fieldset>
                        <% end %>
                    <% end %>

                    <% morn_depart_options = if kindy
                                                add_slot.options.select { |opt| opt.k_departure? }
                                            else
                                                add_slot.options.select { |opt| opt.departure? }
                                            end %>

                    <% if morn_depart_options.any? { |opt| opts_in_ss.any? { |reg| reg.registerable_id == opt.id } } %>
                        <% registered_depart = morn_depart_options.select { |opt| opts_in_ss.any? { |reg| reg.registerable_id == opt.id} }.first %>
                        <p><%= "#{registered_depart.name}: ◯" %></p>
                    <% else %>
                        <% unless morn_depart_options.size.zero? %>
                            <fieldset class="mt-2">
                                <legend class="fs-6 fw-bold"><%= t('.depart_options') %></legend>
                                <% morn_depart_options.each do |opt| %>
                                    <% opt_registered = registrations.any? { |reg| reg.registerable_id == opt.id && reg.registerable_type == 'Option' } %>
                                    <div class="add_reg w-100 form-check d-flex justify-content-center align-items-center"
                                        data-controller="register"
                                        data-register-id-value=<%= opt.id %>
                                        data-register-type-value="Radio"
                                        data-register-child-value=<%= child.id %>
                                        data-register-cost-value=<%= opt.cost %>>
                                        <label for="<%= "depart#{opt.optionable_id}opt#{opt.id}" %>" data-register-target="name"
                                        class="form-check-label">
                                            <%= opt.name %>
                                        </label>
                                        <input type="radio"
                                        name="depart<%= "#{opt.optionable_id}" %>"
                                        id="<%= "depart#{opt.optionable_id}opt#{opt.id}" %>"
                                        <%= 'checked' if opt_registered || ( opt.name == 'なし' && morn_depart_options.none? { |a_opt| opt_regs.include?(a_opt) }) %>
                                        data-register-target='button' data-action="change->register#toggle"
                                        class="form-check-input m-0">
                                    </div>
                                <% end %>
                            </fieldset>
                        <% end %>
                    <% end %>
                </div>
            </div>
        <% end %>

        <% if add_slot.special? && add_slot.morning %>
            <% ext_opt = if kindy
                            add_slot.options.extension.find_by(category: 'k_extension')
                            else
                            add_slot.options.extension.find_by(category: 'extension')
                            end %>
            
            <% if ext_opt  %>
              <% ext_opt_registered = registrations.any? { |reg| reg.registerable_id == ext_opt.id && reg.registerable_type == 'Option' } %>
                
                <div class="add_reg form-check form-switch p-0 d-flex justify-content-center align-items-center gap-2 w-100 border border"
                    data-controller="register"
                    data-controller="register"
                    data-register-id-value=<%= ext_opt.id %>
                    data-register-type-value="Option"
                    data-register-child-value=<%= child.id %>
                    data-register-cost-value=<%= ext_opt.cost %>>
                    <label for=<%= "opt#{ext_opt.id}" %> class="form-check-label" data-register-target="name"><%= ext_opt.name %></label>
                    <%= check_box_tag "opt#{ext_opt.id}", '', (true if ext_opt_registered), class: 'form-check-input m-0', data: { action: 'register#toggle', 'register-target': 'button' }, role: 'switch' %>
                </div>
            <% end %> 
        <% end %>

        <% afternoon_slot = add_slot.afternoon_slot %>
        <% unless afternoon_slot.nil? %>
            <% if afternoon_slot.closed? && current_user.customer? %>
                <h3 class="fw-bold"><%= t('pm_closed') %></h3>
            <% else %>
                <% in_ss = slots_in_ss.any? { |reg| reg.registerable_id == afternoon_slot.id } %>
                <% aft_registered = registrations.any? { |reg| reg.registerable_id == afternoon_slot.id } %>

                <% if in_ss %>
                    <p class="fw-bold fs-5">
                        <%= "#{afternoon_slot.special? ? afternoon_slot.name : t('.afternoon')}: ◯" %>
                    </p>
                    <% if afternoon_slot.special? %>
                        <p>スペシャルデー: ◯</p>
                    <% end %>
                    <% afternoon_slot.options.each do |opt| %>
                        <% if registrations.any? { |reg| reg.registerable_id == opt.id && reg.registerable_type == 'Option' } %>
                            <p><%= "#{opt.name}: ◯" %></p>
                        <% end %>
                    <% end %>
                <% else %>
                    <div class="afternoon w-100" data-controller="popup"
                        data-action="register:toggle->popup#listen">
                        <div class="add_reg w-100 form-check form-switch p-0 d-flex flex-column justify-content-center align-items-center gap-3"
                            data-controller="register"
                            data-register-id-value=<%= afternoon_slot.id %>
                            data-register-type-value="TimeSlot"
                            data-register-name-value=<%= afternoon_slot.name.concat(' (午後)').gsub(' ', '_') %>
                            data-register-child-value=<%= child.id %>>
                            <label for=<%= "a_slot#{afternoon_slot.id}" %> 
                                data-register-target="name"
                                class="fw-bold fs-5 form-check-label">
                                <%= afternoon_slot.special? ? afternoon_slot.name : t('.afternoon') %>
                            </label>
                            <% if slots_in_ss.any? { |reg| reg.registerable_id == afternoon_slot.id } %>
                                <p>◯</p>
                            <% else %>
                                <% if child.regular_schedule && child.regular_schedule[afternoon_slot.day.downcase] %>
                                    <p class="bg-danger text-white rounded p-1"><%= t('.regular_day') %></p>
                                <% end %>
                                <% if afternoon_slot.closed? %>
                                    <p class="bg-danger text-white rounded p-1"><%= t('pm_closed')  %></p>
                                <% end %>
                                <%= check_box_tag "a_slot#{afternoon_slot.id}", '', (true if aft_registered), class: 'form-check-input m-0', data: { action: 'register#toggle', 'register-target': 'button' }, role: 'switch' %>
                            <% end %>

                        </div>

                        <div class="options mt-2<%= ' hidden' unless aft_registered %>" data-popup-target="popup">
                            <% aft_time_ids = afternoon_slot.options.time.ids %>
                            <% unless afternoon_slot.name == "スペシャル遠足@品川アクアパーク (午後)" %>
                              <p><%= "#{t('.snack')}: ◯" %></p>
                            <% end %>
                             <% if afternoon_slot.special? %>
                                <p>スペシャルデー: ◯</p>
                            <% end %>
                            <% afternoon_slot.options.reject { |opt| aft_time_ids.include?(opt.id) }.each do |opt| %>
                                <% opt_registered = registrations.any? { |reg| reg.registerable_id == opt.id && reg.registerable_type == 'Option' } %>
                                <% if opts_in_ss.any? { |reg| reg.registerable_id == opt.id } %>
                                    <p><%= "#{opt.name}: ◯" %></p>
                                <% else %>
                                    <div class="add_reg form-check form-switch p-0 d-flex justify-content-center align-items-center gap-2 w-100 mt-2"
                                        data-controller="register"
                                        data-controller="register"
                                        data-register-id-value=<%= opt.id %>
                                        data-register-type-value="Option"
                                        data-register-child-value=<%= child.id %>
                                        data-register-cost-value=<%= opt.cost %>>
                                        <label for=<%= "opt#{opt.id}" %> class="form-check-label" data-register-target="name"><%= opt.name %></label>
                                        <%= check_box_tag "opt#{opt.id}", '', (true if opt_registered), class: 'form-check-input m-0', data: { action: 'register#toggle', 'register-target': 'button' }, role: 'switch' %>
                                    </div>
                                <% end %>
                            <% end %>

                            <% depart_options = if kindy
                                                    afternoon_slot.options.select { |opt| opt.k_departure? }
                                                else
                                                    afternoon_slot.options.select { |opt| opt.departure? }
                                                end %>
        
                            <% if depart_options.any? { |opt| opts_in_ss.any? { |reg| reg.registerable_id == opt.id } } %>
                                <% registered_depart = depart_options.select { |opt| opts_in_ss.any? { |reg| reg.registerable_id == opt.id} }.first %>
                                <p><%= "#{registered_depart.name}: ◯" %></p>
                            <% else %>
                                <% unless depart_options.size.zero? %>
                                    <fieldset class="mt-2">
                                        <legend class="fs-6 fw-bold"><%= t('.depart_options') %></legend>
                                        <% depart_options.each do |opt| %>
                                            <% opt_registered = registrations.any? { |reg| reg.registerable_id == opt.id && reg.registerable_type == 'Option' } %>
                                            <div class="add_reg w-100 form-check d-flex justify-content-center align-items-center"
                                                data-controller="register"
                                                data-register-id-value=<%= opt.id %>
                                                data-register-type-value="Radio"
                                                data-register-child-value=<%= child.id %>
                                                data-register-cost-value=<%= opt.cost %>>
                                                <label for="<%= "depart#{opt.optionable_id}opt#{opt.id}" %>" data-register-target="name"
                                                class="form-check-label">
                                                    <%= opt.name %>
                                                </label>
                                                <input type="radio"
                                                name="depart<%= "#{opt.optionable_id}" %>"
                                                id="<%= "depart#{opt.optionable_id}opt#{opt.id}" %>"
                                                <%= 'checked' if opt_registered || ( opt.name == 'なし' && depart_options.none? { |a_opt| opt_regs.include?(a_opt) }) %>
                                                data-register-target='button' data-action="change->register#toggle"
                                                class="form-check-input m-0">
                                            </div>
                                        <% end %>
                                    </fieldset>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>