<%= form_with model: @event, html: { class: 'flex-row flex-wrap card justify-content-around gap-3' }, data: { controller: 'fields' } do |f| %>
    <% if @event %>
        <%= f.fields_for :time_slots do |slot_f| %>
            <%= render 'time_slots/slot_fields', f: slot_f %>
        <% end %>

        <template data-fields-target="template">
            <%= f.fields_for :time_slots, TimeSlot.new(event_id: @event.id), child_index: 'CHILD' do |slot_f| %>
                <%= render 'time_slots/slot_fields', f: slot_f %>
            <% end %>
        </template>
    <% else %>
        <%= f.fields_for :time_slots do |slot_f| %>
            <%= render 'time_slots/slot_fields', f: slot_f %>
        <% end %>

        <template data-fields-target="template">
            <%= f.fields_for :time_slots, TimeSlot.new(event_id: @event.id), child_index: 'CHILD' do |slot_f| %>
                <%= render 'time_slots/slot_fields', f: slot_f %>
            <% end %>
        </template>
    <% end %>

    <div data-fields-target="target" class="d-none w-100"></div>

    <div class="d-flex gap-3 align-items-center justify-content-around w-100">
        <%= button_tag t('.add_time_slot'), type: 'button', data: { action: "fields#add" }, class: 'btn btn-primary' %>
        <%= f.submit 'Update Time Slots', class: 'btn btn-primary' %>
    </div>
<% end %>
