<div class="fields_wrapper d-grid gap-3"
     data-new-record="<%= f.object.new_record? %>">
    <%= f.hidden_field :id %>
    <%= f.hidden_field :event_id %>
    <%= f.hidden_field :morning, value: true %>

    <div>
        <%= label_tag :image_id, 'Image', class: 'form-label' %>
        <%= f.select :image_id, @images, {}, { class: 'form-select' } %>
    </div>

    <div>
        <%= f.label :avif_id,'Avif', class: 'form-label' %>
        <%= f.select :avif_id, @images, {}, { class: 'form-select' } %>
    </div>

    <div class="form-floating">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Name', required: true  %>
        <%= f.label :name, 'Name', class: 'form-label' %>
    </div>

    <div class="form-floating">
        <%= f.datetime_field :start_time, class: 'form-control', placeholder: 'Start Time', required: true %>
        <%= f.label :start_time, 'Start Time', class: 'form-label' %>
    </div>
        
    <div class="form-floating">
        <%= f.datetime_field :end_time, class: 'form-control', placeholder: 'End Time', required: true %>
        <%= f.label :end_time, 'End Time', class: 'form-label' %>
    </div>

    <div>
        <%= f.label :category, 'Category', class: 'form-label' %>
        <%= f.select :category, TimeSlot.categories.map { |k, _v| [k.capitalize, k] } , {}, {class: 'form-select'} %>
    </div>

    <div class="form-floating input-group">
        <%= f.number_field :int_modifier, class: 'form-control', placeholder: 0 %>
        <%= f.label :int_modifier, 'Internal Extra Charge', class: 'form-label' %>
        <span class="input-group-text">円</span>
    </div>

    <div class="form-floating input-group">
        <%= f.number_field :ext_modifier, class: 'form-control', placeholder: 0 %>
        <%= f.label :ext_modifier, 'External Extra Charge', class: 'form-label' %>
        <span class="input-group-text">円</span>
    </div>

    <% if f.object.new_record? %>
        <%= button_tag 'Remove Activity', data: { action: "fields#remove" }, class: 'btn btn-danger' %>
    <% else %>
        <div class="form-check">
            <%= f.check_box :_destroy, class: 'form-check-input' %>
            <%= f.label :_destroy, 'Remove Activity', class: 'form-check-label' %>
        </div>
    <% end %>

    <hr class="text-primary opacity-75">
</div>