<div class="event-sidebar w-50">
    <%= render partial: 'events/event', locals: { child: nil, event: @slot.event } %>
</div>

<%= form_with model: @slot, html: {class: "card", data: { controller: "fields" } } do |f| %>
    <%= f.hidden_field :event_id %>
    <%= f.hidden_field :morning, value: true %>

    <div>
        <%= label_tag :image_id, t('.image'), class: 'form-label' %>
        <%= f.select :image_id, @images, {}, { class: 'form-select' } %>
    </div>

    <div class="form-floating">
        <%= f.text_field :name, class: 'form-control', placeholder: t('.name'), required: true  %>
        <%= f.label :name, t('.name'), class: 'form-label' %>
    </div>

    <div class="form-floating">
        <%= f.datetime_field :start_time, class: 'form-control', placeholder: t('.start_time'), required: true %>
        <%= f.label :start_time, t('.start_time'), class: 'form-label' %>
    </div>
        
    <div class="form-floating">
        <%= f.datetime_field :end_time, class: 'form-control', placeholder: t('.end_time'), required: true %>
        <%= f.label :end_time, t('.end_time'), class: 'form-label' %>
    </div>

    <div>
        <%= f.label :category, t('.category'), class: 'form-label' %>
        <%= f.select :category, TimeSlot.categories.map { |k, _v| [k.capitalize, k] } , {}, {class: 'form-select'} %>
    </div>

    <%= button_tag t('.remove_slot'), data: { action: "fields#remove" }, class: 'btn btn-danger' if f.object.new_record? %>

    <hr class="text-primary opacity-75">

    <button type="button" 
            class="btn btn-info" 
            data-bs-toggle="collapse" 
            data-bs-target="#options<%= f.object.id %>" 
            aria-expanded="false" 
            aria-controls="options<%= f.object.id %>">
        Customise Options
    </button>

    <div class="collapse" id="options<%= f.object.id %>">
        <h3>Options</h3>

        <%= f.fields_for :options, f.object.options do |opt_f| %>
            <%= render 'options/opt_fields', f: opt_f %>
        <% end %>

        <template data-fields-target="template">
            <%= f.fields_for :options, Option.new(optionable_id: @slot.id), child_index: 'CHILD' do |opt_f| %>
                <%= render 'options/opt_fields', f: opt_f %>
            <% end %>
        </template>

        <div data-fields-target="target" class="d-none w-100"></div>

        <%= button_tag t('.add_option'), type: 'button', data: { action: "fields#add" }, class: 'btn btn-primary w-100' %>
    </div>

    <% if @slot.special? && @slot.morning %>
        <%= f.fields_for :afternoon_slot, f.object.afternoon_slot || TimeSlot.new do |aft_f| %>

            <button type="button" 
                    class="btn btn-info" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#afternoon<%= aft_f.object.id %>" 
                    aria-expanded="false" 
                    aria-controls="afternoon<%= aft_f.object.id %>">
                Customise Afternoon Slot
            </button>

            <div class="collapse" id="afternoon<%= aft_f.object.id %>">
                <div class="d-grid gap-3">
                    <%= aft_f.hidden_field :event_id, value: @slot.event_id %>
                    <%= aft_f.hidden_field :id %>
                    <%= aft_f.hidden_field :category, value: "special" %>


                    <h3>Afternoon Slot</h3>

                    <div class="form-floating">
                        <%= aft_f.text_field :name, class: 'form-control', placeholder: t('.name')  %>
                        <%= aft_f.label :name, t('.name'), class: 'form-label' %>
                    </div>

                    <div class="form-floating">
                        <%= aft_f.datetime_field :start_time, class: 'form-control', placeholder: t('.start_time') %>
                        <%= aft_f.label :start_time, t('.start_time'), class: 'form-label' %>
                    </div>

                    <div class="form-floating">
                        <%= aft_f.datetime_field :end_time, class: 'form-control', placeholder: t('.end_time') %>
                        <%= aft_f.label :end_time, t('.end_time'), class: 'form-label' %>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>

    <%= f.submit class: "btn btn-primary" %>
<% end %>