-# locals: (images: @images, slot: @slot)

- special_no_arvo = slot.special? && slot.morning && slot.afternoon_slot.nil?

.d-flex.flex-column.align-items-stretch.gap-3
  = form_with model: slot,
              html: { class: 'card', data: { controller: 'fields' } } do |f|
    = render 'shared/form_errors', resource: slot

    .form-floating
      = f.text_field :name,
                     class: 'form-control',
                     placeholder: 'Name',
                     required: true
      = f.label :name, t('.name'), class: 'form-label'

    %div
      = f.label :image_id, 'Image', class: 'form-label'
      = f.select :image_id, images, {}, { class: 'form-select' }

    %div
      = f.label :avif_id, 'Avif', class: 'form-label'
      = f.select :avif_id, images, {}, { class: 'form-select' }

    .form-floating
      = f.datetime_field :start_time,
                         class: 'form-control',
                         placeholder: 'Start time',
                         required: true
      = f.label :start_time, 'Start time', class: 'form-label'

    .form-floating
      = f.datetime_field :end_time,
                         class: 'form-control',
                         placeholder: 'End time',
                         required: true
      = f.label :end_time, 'End time', class: 'form-label'

    .form-floating
      = f.datetime_field :close_at,
                         class: 'form-control',
                         placeholder: 'Close At',
                         required: true
      = f.label :close_at, 'Close At', class: 'form-label'

    %div
      = f.label :category, 'Category', class: 'form-label'
      = f.select :category,
                 TimeSlot.categories.map { |k, _v| [k.capitalize, k] },
                 {},
                 class: 'form-select'

    .form-floating.input-group
      = f.number_field :int_modifier, class: 'form-control', placeholder: 0
      = f.label :int_modifier, 'Internal Extra Charge', class: 'form-label'
      %span.input-group-text 円

    .form-floating.input-group
      = f.number_field :ext_modifier, class: 'form-control', placeholder: 0
      = f.label :ext_modifier, 'External Extra Charge', class: 'form-label'
      %span.input-group-text 円

    .form-floating.input-group
      = f.number_field :kindy_modifier, class: 'form-control', placeholder: 0
      = f.label :kindy_modifier, 'Kindy Extra Charge', class: 'form-label'
      %span.input-group-text 円

    .form-floating.input-group
      = f.number_field :ele_modifier, class: 'form-control', placeholder: 0
      = f.label :ele_modifier, 'Elementary Extra Charge', class: 'form-label'
      %span.input-group-text 円

    - if slot.morning == false
      .form-check
        = f.check_box :snack, class: 'form-check-input'
        = f.label :snack, 'Snack?', class: 'form-check-label'

    - if special_no_arvo
      .form-check
        = f.check_box :apply_all, class: 'form-check-input'
        = f.label :apply_all,
                  'Create afternoon slot for all activities with this name',
                  class: 'form-check-label'

    %hr.text-primary.opacity-75

    = render 'time_slots/opt_fields',
             f:, slot:, special_no_arvo:
    = render 'time_slots/multi_school_batch', f: f, slot: slot
    
  - if slot.afternoon_slot
    .card
      = form_with model: slot.afternoon_slot do |aft_f|
        - if slot.afternoon_slot.special?
          = aft_f.hidden_field :category, value: 'seasonal'
          = aft_f.submit 'Mark afternoon seasonal',
                         class: 'btn btn-primary w-100'
        - else
          = aft_f.hidden_field :category, value: 'special'
          = aft_f.submit 'Mark afternoon special',
                         class: 'btn btn-primary w-100'
