-# locals: (child:, confirmed_slot_regs:, confirmed_opt_regs:,
  opt_regs:, registrations:, slot:)

:ruby
  kindy = child.kindy?
  confirmed = confirmed_slot_regs.any? { |reg| reg.registerable_id == slot.id }
  registered = registrations.any? do |reg|
    reg.registerable_id == slot.id && reg.registerable_type == 'TimeSlot'
  end

  arrive_category = kindy ? :k_arrival? : :arrival?
  arrive_options = slot.options.select(&arrive_category).sort_by(&:modifier)
  confirmed_arrival = arrive_options.find do |opt|
    confirmed_opt_regs.any? { |reg| reg.registerable_id == opt.id }
  end

  depart_category = kindy ? :k_departure? : :departure?
  depart_options = slot.options.select(&depart_category).sort_by(&:modifier)
  confirmed_depart = depart_options.find do |opt|
    confirmed_opt_regs.any? { |reg| reg.registerable_id == opt.id }
  end

  extension_option =
    kindy ? slot.options.k_extension.first : slot.options.extension.first
  extension_registered =
    extension_option && opt_regs.any? { |reg| reg.registerable_id == extension_option.id }

- if slot.closed? && current_user.customer?
  %p.d-flex.align-items-center.justify-content-center.text-bg-warning.p-1.rounded
    = t(slot_closed_key(slot))

- elsif confirmed
  %p.fw-bold.fs-5
    = slot.name
    %br/
    %span.fw-normal.text-muted.small= slot.display_time_range
    = ": ◯"

  - if activity_modifier(slot, child).positive?
    %p= t('time_slots.add_slot.extra_charge',
          cost: number_to_currency(activity_modifier(slot, child)))

  - if slot.snack
    %p #{t('time_slots.add_slot.snack')}: ◯

  - slot.options.each do |opt|
    - next if opt_regs.none? { |reg| reg.registerable_id == opt.id }

    %p #{opt.name}: ◯

- else
  .time-slot.w-100{ data: { controller: 'popup',
                            action: 'register:toggle->popup#listen' } }
    %div{ class: 'add_reg w-100 form-check form-switch p-0 d-flex ' \
                 'flex-column justify-content-center align-items-center ' \
                 'gap-3',
          data: { controller: 'register',
                  'register-id-value': slot.id,
                  'register-type-value': 'TimeSlot',
                  'register-modifier-value': activity_modifier(slot, child),
                  'register-name-value': slot.name.tr(' ', '_'),
                  'register-child-value': child.id,
                  'register-snack-value': (slot.snack && !child.own_snack?).to_s } }
      %label{ for: "slot#{slot.id}",
              class: 'fw-bold fs-5 form-check-label',
              data: { 'register-target': 'name' } }
        = slot.name
        %br/
        %span.fw-normal.text-muted.fs-6
          %span.fw-normal.text-muted.small= slot.display_time_range

      - if child.regular_schedule && child.regular_schedule.has?(slot.start_time)
        %p.text-bg-danger.rounded.p-1= t('time_slots.add_slot.regular_day')
      - elsif slot.closed?
        %p.d-flex.align-items-center.justify-content-center.text-bg-warning.p-1.rounded
          = t(slot_closed_key(slot))

      = check_box_tag "slot#{slot.id}",
                      '',
                      (true if registered),
                      class: 'form-check-input m-0',
                      data: { action: 'register#toggle change->full-day#syncFromSlots',
                              'register-target': 'button',
                              'full-day-target': 'slot' },
                      role: 'switch'

    %div{ class: "options mt-2 #{'hidden' unless registered}",
          'data-popup-target': 'popup' }
      - if activity_modifier(slot, child).positive?
        %p= t('time_slots.add_slot.extra_charge',
              cost: number_to_currency(activity_modifier(slot, child)))

      - if slot.snack
        - if child.own_snack?
          %p おやつ持参（料金なし）
        - else
          %p #{t('time_slots.add_slot.snack')}: ◯

      - slot.options.each do |opt|
        - next if opt.time? || opt.any_extension?

        - option_registered = opt_regs.any? { |reg| reg.registerable_id == opt.id }

        %div{ class: 'add_reg form-check form-switch p-0 d-flex ' \
                     'justify-content-center align-items-center ' \
                     'gap-2 w-100',
              data: { controller: 'register',
                      'register-id-value': opt.id,
                      'register-type-value': 'Option',
                      'register-child-value': child.id,
                      'register-cost-value': opt.cost } }
          %label{ class: 'form-check-label d-flex align-items-center gap-2',
                  'data-register-target': 'name',
                  for: "opt#{opt.id}" }
            = opt.name

            = check_box_tag "opt#{opt.id}",
                            '',
                            (true if option_registered),
                            class: 'form-check-input m-0',
                            data: { action: 'register#toggle',
                                    'register-target': 'button' },
                            role: 'switch'

      - if extension_option
        %div{ class: 'add_reg form-check form-switch p-0 d-flex ' \
                     'flex-column justify-content-center ' \
                     'align-items-center gap-2 p-2 w-100 border',
              data: { controller: 'register',
                      'register-child-value': child.id,
                      'register-cost-value': extension_option.cost,
                      'register-id-value': extension_option.id,
                      'register-type-value': 'Option' } }
          %label.form-check-label{ 'data-register-target': 'name',
                                   for: "opt#{extension_option.id}" }
            = extension_option.name

          = check_box_tag "opt#{extension_option.id}",
                          '',
                          (true if extension_registered),
                          class: 'form-check-input m-0',
                          data: { action: 'register#toggle',
                                  'register-target': 'button',
                                  'full-day-target': 'extension' },
                          role: 'switch'

      - if confirmed_arrival
        %p #{confirmed_arrival.name}: ◯
      - elsif arrive_options.size.positive?
        = render 'options/time_options',
                 child_id: child.id, opt_regs:,
                 options: arrive_options, slot:,
                 translation_key: 'arrival_options'

      - if confirmed_depart
        %p #{confirmed_depart.name}: ◯
      - elsif depart_options.size.positive?
        = render 'options/time_options',
                 child_id: child.id, opt_regs:,
                 options: depart_options, slot:,
                 translation_key: 'depart_options'
