<div class="time_slot">
    <h3><%= link_to time_slot.name, time_slot_path(time_slot) %></h3>
    <h5><%= t('.date', date: time_slot.date) %></h5>
    <h5><%= t('.times', time: time_slot.times) %></h5>

    <p><%= time_slot.description %></p>
    <p><%= t('.reg_count', num_kids: time_slot.children.distinct.size) %></p>

    <div class="slot_registrations">
        <% unless children.empty? %>
            <% children.each do |c| %>
                <%= render Registration.new, child: c, time_slot: time_slot %>
            <% end %>
        <% end %>
    </div>
</div>