<% afternoon = time_slot.afternoon_slot %>

<div class="card justify-content-between">
    <h3><%= time_slot.name %></h3>
    
    <% unless time_slot.image.blank? || time_slot.avif.blank? %>
        <picture>
            <source srcset=<%= url_for(time_slot.avif) %>
                    type="image/avif" />
            <img src=<%= url_for(time_slot.image) %>
                alt=<%= time_slot.name.tr(' ', '_') %>
                class="img-fluid img-thumbnail">
        </picture>
    <% end %>

    <div class="d-grid gap-3 w-100">
        <% if current_user.area_manager? || current_user.admin? %>
        
            <%# Allow morning slots to be opened/closed %>
            <% if time_slot.closed? %>
                <%= form_with model: time_slot, html_options: { class: 'w-100' } do |f| %>
                    <%= f.hidden_field :closed, value: 0 %>
                    <%= f.submit t('.reopen'), class: 'btn btn-warning w-100' %>
                <% end %>
            <% else %>
                <%= form_with model: time_slot, html_options: { class: 'w-100' } do |f| %>
                    <%= f.hidden_field :closed, value: 1 %>
                    <%= f.submit t('.close'), class: 'btn btn-success w-100' %>
                <% end %>
            <% end %>

            <%# Allow afternoon slots to be opened/closed %>
            <% if afternoon && afternoon.closed? %>
                <%= form_with model: afternoon, html_options: { class: 'w-100' } do |f| %>
                    <%= f.hidden_field :closed, value: 0 %>
                    <%= f.submit t('.aft_reopen'), class: 'btn btn-warning w-100' %>
                <% end %>
            <% elsif afternoon %>
                <%= form_with model: afternoon, html_options: { class: 'w-100' } do |f| %>
                    <%= f.hidden_field :closed, value: 1 %>
                    <%= f.submit t('.aft_close'), class: 'btn btn-success w-100' %>
                <% end %>
            <% end %>
        <% end %>

        <% if current_user.staff? %>
            <%= link_to t('.view_attendance'), children_path(source: 'time_slot', id: time_slot.id), class: 'btn btn-primary' %>
        <% end %>

        <%# Allow admins to edit activity details %>
        <% if current_user.admin? %>
          <%= link_to "Edit Activity", edit_time_slot_path(time_slot), class: "btn btn-info" %>
        <% end %>
    </div>
</div>