-# locals (time_slot:)

.card.justify-content-between
  %h3= time_slot.name

  = render 'shared/picture_for', resource: time_slot

  .d-grid.gap-2.w-100
    = render 'time_slots/close_buttons', time_slot: time_slot

    = link_to t('.view_attendance'),
              children_path(source: 'time_slot', id: time_slot.id),
              class: 'btn btn-primary'

    - if current_user.admin?
      = link_to 'Edit Activity',
                edit_time_slot_path(time_slot),
                class: 'btn btn-info'
