<div class="time_slot">
    <h3><%= link_to t('.title', name: time_slot.name, school: time_slot.school.name), time_slot_path(time_slot) %></h3>
    <h5><%= t('.date', date: time_slot.date) %></h5>
    <h5><%= t('.times', time: time_slot.times) %></h5>

    <p><%= time_slot.description %></p>
    <%= turbo_frame_tag "slot#{time_slot.id}reg_count" do %>
        <%= link_to t('.reg_count', num_kids: time_slot.children.distinct.size), children_path(source: 'TimeSlot', id: time_slot.id), data: { turbo_frame: '_top' } %>
    <% end %>

    <div class="slot_registrations">
        <%= turbo_frame_tag "slot#{time_slot.id}_reg" do %>
            <% children.each do |c| %>
                <% if c.registered?(time_slot) %>
                    <%= render c.registrations.find_by(registerable: time_slot) %>
                <% else %>
                    <%= render 'registrations/unregistered', child: c, slot: time_slot %>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>