<div class="time_slot">
    <div class="slot_details">
        <%= link_to image_tag("#{time_slot.name.downcase.gsub(' ', '_').gsub('_pm', '')}.jpg"), time_slot_path(time_slot) %>
        <h2><%= time_slot.description %></h2>
        <p>
            <% if current_user.staff? %>
                <%= turbo_frame_tag "event#{time_slot.id}_reg_count" do %>
                    <%= link_to t('.reg_count', num_kids: time_slot.children.distinct.size), children_path(source: 'TimeSlot', id: time_slot.id) %>
                <% end %>
            <% else %>
                <%= turbo_frame_tag "time_slot#{time_slot.id}_reg_count" do %>
                    <%= t('.reg_count', num_kids: time_slot.children.distinct.size) %>
                <% end %>
            <% end %>
        </p>
    </div>

    <div class="slot_registrations">
        <div class="am_reg">
            <h3><%= t('.am_reg') %></h3>

            <%= turbo_frame_tag "slot#{time_slot.id}_reg" do %>
                <% children.each do |c| %>
                    <% if c.registered?(time_slot) %>
                        <%= render c.registrations.find_by(registerable: time_slot) %>
                    <% else %>
                        <%= render 'registrations/unregistered', child: c, slot: time_slot %>
                    <% end %>
                <% end %>
            <% end %>
        </div>


        <% pm_slot = TimeSlot.find_by(name: "#{time_slot.name} PM") %>
        <% if pm_slot %>
            <div class="pm_reg">
                <h3><%= t('.pm_reg') %></h3>
                <%= turbo_frame_tag "slot#{pm_slot.id}_reg" do %>
                    <% children.each do |c| %>
                        <% if c.registered?(pm_slot) %>
                            <%= render c.registrations.find_by(registerable: pm_slot) %>
                        <% else %>
                            <%= render 'registrations/unregistered', child: c, slot: pm_slot %>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>