<main id="time_slot_index" class="justify-content-start">
    <% unless current_user.school_manager? %>
        <nav class="d-flex flex-row flex-wrap justify-content-center gap-3">
            <% @schools.each do |school| %>
                <%= link_to t("schools.#{school.name}"),
                            time_slots_path(school: school.id),
                            class: "card #{' bg-primary text-white fw-semibold' if @school.id == school.id}" %>
            <% end %>
        </nav>

        <h1><%= "イベント at #{t("schools.#{@school.name}")}" %></h1>
    <% end %>

    <% unless @events.empty? %>
        <nav class="d-flex flex-row flex-wrap justify-content-center gap-3">
            <% @events.each do |event| %>
                <%= link_to event.name,
                            time_slots_path(
                                event: event.id, school: @school.id
                            ),
                            class: "card #{' bg-primary text-white fw-semibold' if @event.id == event.id}" %>
            <% end %>
        </nav>
        
        <h1>
            <%= t('.slots_for', name: @event.name,
                                school: t("schools.#{@event.school.name}")) %>
        </h1>

        <% if current_user.admin? %>
            <%= link_to 'Add an activity to this event',
                        new_time_slot_path(event: @event.id),
                        class: 'btn btn-primary' %>
        <% end %>

        <div class="row row-cols-sm-5 justify-content-evenly gap-3 p-3">
            <%= render partial: 'time_slots/time_slot', collection: @slots %>
        </div>      
    <% end %> 
</main>