<%= turbo_frame_tag "add_child", class: 'd-flex flex-column gap-3' do %>       
    <% if @child %>
        <%= link_to t('back'), '#add_child', class: 'btn btn-primary align-self-start' %>

        <table class="table">
            <thead>
                <tr class="table-primary">
                    <th scope="col"><%= t('.ssid') %></th>
                    <th scope="col"><%= t('.name') %></th>
                    <th scope="col"><%= t('.katakana') %></th>
                    <th scope="col"><%= t('.en_name') %></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td><%= @child.ssid %></td>
                    <td><%= @child.name %></td>
                    <td><%= @child.katakana_name %></td>
                    <td><%= @child.en_name %></td>
                </tr>

                <% unless @child.parent_id.nil? %>
                    <tr class="table-danger">
                        <td colspan="4"><%= t('.already_claimed') %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        
        <% if @child.parent_id.nil? %>
            <%= form_with url: add_child_path, id: "add_form", html: { class: 'd-grid gap-3' } do |f| %>
                <%= f.hidden_field :child_id, value: @child.id %>
                <%= f.hidden_field :parent_id, value: parent.id %>
                <%= f.submit t('.claim_child'), class: 'btn btn-primary', data: { turbo_frame: '_top' } %>
            <% end %>            
        <% end %>

    <% else %>
        <%= form_with url: find_child_path, method: :get, id: 'claim_child_form', html: { class: 'd-grid gap-3 needs-validation', novalidate: true } do |f| %>
            <%= f.hidden_field :parent_id, value: parent.id %>
            <div class="form-floating" data-controller="count" data-count-countdown-value="true">
                <%= f.search_field :ssid, class: 'form-control', placeholder: t('.ssid'), required: true, data: { 'count-target' => 'input' }, maxlength: 10 %>
                <%= f.label :ssid, t('.ssid'), class: 'form-label'  %>
                <div id="confirm-length" class="form-text"><span  data-count-target="counter"></span></div>
            </div>
            <div class="form-floating">
                <%= f.date_field :bday, class: 'form-control', placeholder: t('.bday'), required: true %>
                <%= f.label :bday, t('.bday'), class: 'form-label'  %>
            </div>
            <%= f.submit t('.find_child'), class: 'btn btn-primary' %>
        <% end %>

        <hr>

        <div class="add_new_child">
            <%= link_to t('.add_new_child'), new_child_path(parent: parent.id), class: 'btn btn-primary' %>
        </div>
    <% end %>
<% end %>
