<div class="fields_wrapper" data-new-record="<%= f.object.new_record? %>">
    <%= f.hidden_field :parent_id %>

    <h2><%= t('.child_info') %></h2>

    <div class="personal_info">
        <h3><%= t('.personal_information') %></h3>

        <div class="field">
            <%= f.label :first_name, t('.first_name') %><br />
            <%= text_field_tag "user[children_attributes][#{f.index}][first_name]", (f.object.name.split[0] unless f.object.name.nil?) %>
        </div>

        <div class="field">
            <%= f.label :family_name, t('.family_name') %><br />
            <%= text_field_tag "user[children_attributes][#{f.index}][family_name]", (f.object.name.split[1] unless f.object.name.nil?) %>
        </div>
        
        <div class="field">
            <%= f.label :kana_first, t('.kana_first') %><br />
            <%= text_field_tag "user[children_attributes][#{f.index}][kana_first]", (f.object.katakana_name.split[0] unless f.object.katakana_name.nil?) %>
        </div>

        <div class="field">
            <%= f.label :kana_family, t('.kana_family') %><br />
            <%= text_field_tag "user[children_attributes][#{f.index}][kana_family]", (f.object.katakana_name.split[1] unless f.object.katakana_name.nil?) %>
        </div>
        
        <div class="field">
            <%= f.label :en_name, t('.en_name') %><br />
            <%= f.text_field :en_name, autocomplete: "english-name" %>
        </div>

        <div class="field">
            <%= f.label :birthday, t('.birthday') %><br />
            <%= f.date_field :birthday, autocomplete: "birth-date" %>
        </div>

        <div class="field" data-controller="conditional">
            <%= f.label :allergies, t('.allergies') %><br />
            <input type="checkbox" name="allergies" data-action="click->conditional#toggle" <%= "checked=checked" unless f.object.allergies == '' %> data-conditional-target="condition">
            <%= f.text_field :allergies, value: f.object.allergies, data: { conditional_target: 'target' } %>
        </div>

        <div class="field">
            <%= f.label :grade, t('.grade') %><br />
            <%= f.select :grade, Child.grades.reject { |k, _| %w[満１歳 満２歳 年々少 中学１年 中学２年].include?(k) }.map { |k, v| v = k }, selected: f.object.grade %>
        </div>

        <div class="field">
            <%= f.label :ele_school_name, t('.ele_school_name') %><br />
            <%= f.text_field :ele_school_name %>
        </div>
    </div>

    <div class="school_info">
        <h3><%= t('.school_information') %></h3>

        <div class="field school">
            <%= f.label :school, t('.school') %><br />
            <%= f.collection_select :school_id, School.order(:name), :id, :name %>
        </div>

        <div class="field">
            <%= f.label :category, t('.category') %><br />
            <%= f.select :category, [["#{t('.internal')}", "internal"], ["#{t('.reservation')}", "reservation"], ["#{t('.external')}", "external"]] %>
        </div>

        <% if current_user.staff? %>
            <div class="field">
                <%= f.label :kindy, t('.kindy') %><br />
                <%= f.check_box :kindy %>
            </div>

            <div class="field">
                <%= f.label :photos, t('.photos') %><br />
                <%= f.check_box :photos %>
            </div>

            <div class="field">
                <%= f.label :needs_hat, t('.needs_hat') %><br />
                <%= f.check_box :needs_hat %>
            </div>

            <div class="field">
                <%= f.label :received_hat, t('.received_hat') %><br />
                <%= f.check_box :received_hat %>
            </div>

            <div class="field">
                <%= f.label :ssid, t('.ssid') %><br />
                <%= f.number_field :ssid %>
            </div>
        <% end %>
    </div>

    <%= button_tag t('.remove_child'), data: {action: "fields#remove"}, class: 'button' %>
</div>