-# locals: (f:, user:)

.form-floating
  = f.text_field :postcode,
                 class: 'form-control',
                 placeholder: t(',postcode'),
                 required: true
  = f.label :postcode, t('.postcode'), class: 'form-label'

.form-floating
  = f.text_field :prefecture,
                 class: 'form-control',
                 placeholder: t('prefecture'),
                 required: true
  = f.label :prefecture, t('.prefecture'), class: 'form-label'

.form-floating
  = f.text_area :address,
                class: 'form-control',
                placeholder: t('.address'),
                required: true
  = f.label :address, t('.address'), class: 'form-label'

.form-floating
  = f.telephone_field :phone,
                      class: 'form-control',
                      placeholder: t('.phone'),
                      required: true
  = f.label :phone, t('.phone'), class: 'form-label'
