:ruby
  creating_new_user = @user.new_record? && current_user.staff?
  editing_self = current_user.id == @user.id

= form_with model: @user,
            data: { controller: :fields },
            html: { class: 'card d-grid gap-3' } do |f|
  = render 'shared/form_errors', resource: @user

  %h3= t('.account_information')

  .form-floating
    = f.email_field :email,
                    autofocus: true,
                    class: 'form-control',
                    placeholder: t('.email'),
                    required: true
    = f.label :email, class: 'form-label'

  .form-floating
    = f.email_field :email_confirmation,
                    value: @user.email,
                    class: 'form-control',
                    placeholder: t('.email_confirmation'),
                    required: true
    = f.label :email_confirmation,
              t('.email_confirmation'),
              class: 'form-label'

  = render 'users/password_fields', f:, user: @user if @user.new_record?

  - if @user.school_manager?
    .form-floating
      = f.text_field :name,
                     class: 'form-control',
                     placeholder: t('.name'),
                     required: true
      = f.label :name, t('.name'), class: 'form-label'
  - else
    %div
      = f.label :first_name, t('.name'), class: 'form-label'
      .input-group
        = text_field_tag 'user[family_name]',
                         family_name(@user),
                         class: 'form-control',
                         required: true,
                         placeholder: t('.family_name')
        %span.input-group-text
        = text_field_tag 'user[first_name]',
                         first_name(@user),
                         class: 'form-control',
                         required: true,
                         placeholder: t('.first_name')

  %div
    = f.label :kana_first, t('.kana_name'), class: 'form-label'
    .input-group
      = text_field_tag 'user[kana_family]',
                       kana_family(@user),
                       class: 'form-control',
                       required: true,
                       placeholder: t('.kana_family')
      %span.input-group-text
      = text_field_tag 'user[kana_first]',
                       kana_first(@user),
                       class: 'form-control',
                       required: true,
                       placeholder: t('.kana_first')

  - if creating_new_user || editing_self
    = render 'users/contact_fields', f:, user: @user
  - else
    %div{ data: { controller: 'conditional',
                  'conditional-pin-value': current_user.pin } }
      .d-grid.gap-3.d-none{ data: { 'conditional-target': 'target' } }
        = render 'users/contact_fields', f:, user: @user
      .form-floating{ data: { 'conditional-target': 'target' } }
        = text_field_tag t('enter_pin', info: t('contact_info')),
                         '',
                         class: 'form-control',
                         placeholder: t('enter_pin', info: t('contact_info')),
                         maxlength: 4,
                         data: { 'conditional-target': 'condition',
                                 action: 'conditional#pin' }

  - if @user.school_manager? && current_user.admin?
    = render 'users/allowed_ips',
             f:, user: @user

  = f.submit class: 'btn btn-primary'
