<%= turbo_frame_tag "user#{@user.id}" do %>
    <%= form_with model: @user, data: { controller: :fields }, class: 'edit_user' do |f| %>

        <% if @user.errors.any? %>
            <div class="errors">
                <h3><%= t('.unable_to_save', user: @user.name) %></h3>
                <ul>
                    <% @user.errors.full_messages.each do |error| %>
                        <li><%= error %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <div class="user_fields">
            <h2><%= t('.user_info') %></h2>
            <div class="account_info">
                <h3><%= t('.account_information') %></h3>

                <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>

                <% if current_user.admin? %>
                    <div class="field">
                        <%= f.label :role %>
                        <%= f.select :role, [["Admin", "admin"], ["Area Manager", "area_manager"], ["School Manager", "school_manager"], ["Parent", "customer"]] %>
                    </div>
                <% end %>
            </div>

            <div class="personal_info">
                <h3><%= t('.personal_information') %></h3>

                <div class="field">
                    <%= f.label :ja_first_name, t('.ja_first_name') %><br />
                    <%= f.text_field :ja_first_name, autocomplete: "first-name" %>
                </div>

                <div class="field">
                    <%= f.label :ja_family_name, t('.ja_family_name') %><br />
                    <%= f.text_field :ja_family_name, autocomplete: "family-name" %>
                </div>

                <div class="field">
                    <%= f.label :katakana_name, t('.katakana_name') %><br />
                    <%= f.text_field :katakana_name, autocomplete: "kana-name" %>
                </div>

                <div class="field">
                    <%= f.label :address, t('.address') %><br />
                    <%= f.text_area :address, autocomplete: "address" %>
                </div>

                <div class="field">
                    <%= f.label :phone, t('.phone') %><br />
                    <%= f.telephone_field :phone, autocomplete: "phone" %>
                </div>

                <div class="field school">
                    <%= f.label :school, t('.school') %><br />
                    <%= f.collection_select :school_id, School.order(:name), :id, :name %>
                </div>
            </div>
        </div>
    
        <template data-fields-target="template">
            <%= f.fields_for :children, Child.new(parent_id: @user.id), child_index: 'CHILD' do |child_f| %>
                <%= render 'users/child_fields', f: child_f %>
            <% end %>
        </template>
    
        <%= f.fields_for :children do |child_f| %>
            <%= render 'users/child_fields', f: child_f %>
        <% end %>
    
        <div data-fields-target="target"></div>
    
        <div class="actions">
            <%= button_tag t('.add_child'), data: { action: "fields#add" }, class: 'button' %>
            <%= f.submit t('.update_all'), class: 'button', data: { turbo_frame: '_top' } %>
        </div>
    <% end %>
<% end %>