<%= turbo_frame_tag "merge_child" do %>
    <% if @child %>
        <%= link_to "戻る", user_path(@parent), class: 'btn btn-primary w-25' %>

        <h2 class="text-bg-info mt-2 rounded p-1">
            <span>入力したSSIDの生徒と同じ生徒を下から選んでください。</span>
            <br>
            <span class='fs-3'>（兄弟がいる場合は複数の選択肢が表示されます）</span>
        </h2>

        <table class="table align-middle mt-3">
            <thead>
                <tr class="table-primary">
                    <th scope="col">SSID</th>
                    <th scope="col"><%= t('.name') %></th>
                    <th scope="col"><%=t('.katakana') %></th>
                    <th scope="col"><%= t('.en') %></th>
                    <th scope="col"><%= t('.category') %></th>
                    <th scope="col"><%= t('.allergies') %></th>
                    <th scope="col"><%= t('.parent') %></th>
                    <th scope="col"><%= t('.school') %></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <%= render partial: 'children/mergeable_child', locals: { child: @child } %>
                <% @parent.children.where(ssid: nil).each do |parent_child| %>
                    <%= render partial: 'children/mergeable_child', locals: { child: parent_child, ss_child: @child } %>
                <% end %>
            </tbody>
        </table>
    <% else %>
        <%= form_with url: find_child_path, method: :get, id: 'merge_child_form', html: { class: 'd-grid gap-3 p-5 needs-validation', novalidate: true } do |f| %>
            <%= f.hidden_field :parent, value: @user.id %>
            <div class="form-floating" data-controller="count" data-count-countdown-value="true">
                <%= f.search_field :ssid, class: 'form-control', placeholder: t('.to_ssid'), required: true, data: { 'count-target' => 'input' }, maxlength: 10 %>
                <%= f.label :ssid, t('.to_ssid'), class: 'form-label'  %>
                <div id="confirm-length" class="form-text"><span  data-count-target="counter"></span></div>
            </div>

            <%= f.submit t('.find_child'), class: 'btn btn-primary' %>
        <% end %>
    <% end %>
<% end %>
