<%= turbo_frame_tag "merge_child" do %>
    <% if @child %>

        <h3></h3>
        <table class="table align-middle mt-3">
            <thead>
                <tr class="table-primary">
                        <th scope="col"><%= t('.to_ssid') %></th>
                        <th scope="col"><%= t('.name') %></th>
                        <th scope="col"><%=t('.katakana') %></th>
                        <th scope="col"><%= t('.en') %></th>
                        <th scope="col"><%= t('.category') %></th>
                        <th scope="col"><%= t('.allergies') %></th>
                        <th scope="col"><%= t('.parent') %></th>
                        <th scope="col"><%= t('.school') %></th>
                        <th scope="col"></th>
                    </tr>
            </thead>
            <tbody>
                <tr class='table-success'>
                    <% if @child.ssid %>
                        <td class="ssid"><%= link_to @child.ssid, child_path(@child) %></td>
                    <% elsif @child.ssid.nil? && @child.parent_id.nil? %>
                        <td class="ssid"><%= link_to 'なし', child_path(@child) %></td>
                    <% else %>
                        <td class="ssid"><%= link_to 'なし', user_path(@child.parent, anchor: 'merge_children') if @child.ssid.nil? %></td>
                    <% end %>
                    <td class="name"><%= link_to (@child.name ? @child.name : 'なし'), child_path(@child) %></td>
                    <td class="kana"><%= link_to (@child.katakana_name ? @child.katakana_name : 'なし'), child_path(@child) %></td>
                    <td class="en"><%= link_to (@child.en_name ? @child.en_name : 'なし'), child_path(@child) %></td>
                    <td class="category"><%= t(".#{@child.category}") %></td>
                    <td class="allergies"><%= @child.allergies %></td>
                    <td class="parent">
                        <% if @child.parent %>
                        <%= link_to @child.parent.name, user_path(@child.parent) %>
                        <% else %>   
                            なし
                        <% end %>
                    </td>
                    <td class="school">
                        <% if @child.school %>
                            <%= @child.school.name %>
                        <% else %>
                            なし
                        <% end %>
                    </td>
                    <td><%= t('.ss_kid') %></td>
                </tr>
                <% @parent.children.where(ssid: nil).each do |parent_child| %>
                    <tr class='table-warning'>
                        <% if parent_child.ssid %>
                            <td class="ssid"><%= link_to parent_child.ssid, child_path(parent_child) %></td>
                        <% elsif parent_child.ssid.nil? && parent_child.parent_id.nil? %>
                            <td class="ssid"><%= link_to 'なし', child_path(parent_child) %></td>
                        <% else %>
                            <td class="ssid"><%= link_to 'なし', user_path(parent_child.parent, anchor: 'merge_children') if parent_child.ssid.nil? %></td>
                        <% end %>
                        <td class="name"><%= link_to (parent_child.name ? parent_child.name : 'なし'), child_path(parent_child) %></td>
                        <td class="kana"><%= link_to (parent_child.katakana_name ? parent_child.katakana_name : 'なし'), child_path(parent_child) %></td>
                        <td class="en"><%= link_to (parent_child.en_name ? parent_child.en_name : 'なし'), child_path(parent_child) %></td>
                        <td class="category"><%= t(".#{parent_child.category}") %></td>
                        <td class="allergies"><%= parent_child.allergies %></td>
                        <td class="parent">
                            <% if parent_child.parent %>
                            <%= link_to parent_child.parent.name, user_path(parent_child.parent) %>
                            <% else %>
                                なし
                            <% end %>
                        </td>
                        <td class="school">
                            <% if parent_child.school %>
                                <%= parent_child.school.name %>
                            <% else %>
                                なし
                            <% end %>
                        </td>
                        <td>
                            <%= form_with url: merge_children_path, html: { class: 'd-grid' } do |f| %>
                                <%= f.hidden_field :ss_kid, value: @child.id %>
                                <%= f.hidden_field :non_ss_kid, value: parent_child.id %>
                                <%= f.submit t('.merge_children'), class: 'btn btn-primary' %>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% else %>
        <%= form_with url: find_child_path, method: :get, id: 'merge_child_form', html: { class: 'd-grid gap-3 p-5 needs-validation', novalidate: true } do |f| %>
            <%= f.hidden_field :parent, value: @user.id %>
            <div class="form-floating" data-controller="count" data-count-countdown-value="true">
                <%= f.search_field :ssid, class: 'form-control', placeholder: t('.to_ssid'), required: true, data: { 'count-target' => 'input' }, maxlength: 10 %>
                <%= f.label :ssid, t('.to_ssid'), class: 'form-label'  %>
                <div id="confirm-length" class="form-text"><span  data-count-target="counter"></span></div>
            </div>

            <%= f.submit t('.find_child'), class: 'btn btn-primary' %>
        <% end %>
    <% end %>
<% end %>
