<%= turbo_frame_tag "merge_child" do %>
    <% if @child %>
        <%= form_with url: merge_children_path, html: { class: 'd-grid gap-3 p-5' } do |f| %>
            <%= f.hidden_field :ss_kid, value: @child.id %>

            <h3><%= t('.ss_kid') %></h3>
            <table class="table">
                <thead>
                    <tr class="table-primary">
                            <th scope="col"><%= t('.ssid') %></th>
                            <th scope="col"><%= t('.name') %></th>
                            <th scope="col"><%=t('.katakana') %></th>
                            <th scope="col"><%= t('.en') %></th>
                            <th scope="col"><%= t('.category') %></th>
                            <th scope="col"><%= t('.allergies') %></th>
                            <th scope="col"><%= t('.hat') %></th>
                            <th scope="col"><%= t('.parent') %></th>
                            <th scope="col"><%= t('.school') %></th>
                            <th scope="col"><%= t('.edit_info') %></th>
                        </tr>
                </thead>
                <tbody><%= render @child %></tbody>
            </table>

            <div>
                <h3><%= f.label :non_ss_kid, class: 'form-label' %></h3>
                <%= f.collection_select :non_ss_kid, @child.parent.children.where(ssid: nil), :id, :name, {}, class: 'form-select' %>
            </div>

            <%= f.submit t('.merge_children'), class: 'btn btn-primary' %>
        <% end %>
    <% else %>
        <%= form_with url: find_child_path, method: :get, id: 'merge_child_form', html: { class: 'd-grid gap-3 p-5 needs-validation', novalidate: true } do |f| %>
            <div class="form-floating">
                <%= f.search_field :ssid, class: 'form-control', placeholder: t('.ssid'), required: true %>
                <%= f.label :ssid, t('.ssid'), class: 'form-label'  %>
            </div>

            <%= f.submit t('.find_child'), class: 'btn btn-primary' %>
        <% end %>
    <% end %>
<% end %>
