<div class="user">
    <div class="key_info">
        <h3><%= link_to user.name, user_path(user) %></h3>
        <h4><%= t(".roles.#{user.role}") unless user.customer? %></h4>
        <h4><%= "#{t(".school")}: #{user.school.name}" unless user.school.nil? %></h4>
    </div>

    <% if user.customer? %>
        <div class="children">
            <h4><%= t(".children") if user.children.size > 1 %></h4>
            <h4><%= t(".child") if user.children.size == 1 %></h4>

            <ul>
                <%= turbo_frame_tag "user#{user.id}_children" do %>
                    <% user.children.each do |child| %>
                        <li id="<%= "user#{user.id}_child#{child.id}" %>">
                            <%= link_to child.name, child_path(child) %>

                            <% if current_user.admin? %>
                                <%= form_with url: remove_child_path do |f| %>
                                    <%= f.hidden_field :child_id, value: child.id %>
                                    <%= f.hidden_field :parent_id, value: user.id %>
                                    <%= f.submit t('.remove_child'), class: 'button' %>
                                <% end %>
                            <% end %>
                        </li>
                    <% end %>             
                <% end %>
            </ul>

        </div>
    <% end %>

    <% if current_user.staff? %>
        <div class="user_options">
            <%= link_to t(".edit"), edit_user_path(user) %>
            <%= link_to t('.delete'), user_path(user), data: {turbo_method: :delete, turbo_confirm: t('.delete_confirm')} %>
        </div>
    <% end %>
</div>