<tr class="<%= "user#{user.id}" %> table-secondary">
    <td class="name"><%= link_to user.name, user_path(user) %></td>
    <td class="katakana"><%= link_to user.katakana_name, user_path(user) %></td>
    <td class="email"><%= user.email %></td>
    <td class="edit"><%= link_to t('.edit_user'), edit_user_path(user), class: 'btn btn-primary' if current_user.staff? %></td>
</tr>
    
<tr class="table-secondary details <%= "user#{user.id}" %>">
    <% if user.children.size > 1 %>
        <td colspan="4" class="text-center"><%= t('.children') %> </h3></td>
    <% elsif user.children.size == 1 %>
        <td colspan="4" class="text-center"><%= t('.child') %> </td>
    <% else %>
        <td colspan="4" class="text-center"><%= t('.no_children') %> </td>
    <% end %>
</tr>
    
<tr class="table-light details <%= "user#{user.id}" %>">
    <td colspan="4" class="text-center">
        <% user.children.each do |child| %>
            <p><%= link_to child.name, child_path(child) %></p>
        <% end %>
    </td>
</tr>
