<div class="user">
    <p class="name"><%= link_to user.name, user_path(user) %></p>
    <p class="katakana"><%= link_to user.katakana_name, user_path(user) %></p>
    <p class="email"><%= user.email %></p>
    <p class="phone"><%= user.phone %></p>
    <p class="address"><%= user.address %></p>
    <% if user.school.nil? %>
        <p class="school"><%= t('.no_school') %></p>
    <% else %>
        <p class="school"><%= user.school.name %></p>
    <% end %>
    <p class="edit"><%= link_to t('.edit_user'), edit_user_path(user), class: 'button' if current_user.staff? %></p>

    <div class="user_children">
        <h4><%= t('.children') if user.children.size > 1 %></h3>
        <h4><%= t('.child') if user.children.size == 1 %></h3>
        <h4><%= t('.no_children') if user.children.empty? %></h3>
        <% user.children.each do |child| %>
            <%= link_to child.name, child_path(child) %>
        <% end %>
    </div>
</div>
