<div class="d-flex gap-3 justify-content-between">
    <p class="name"><%= link_to user.name, user_path(user) %></p>
    <p class="katakana"><%= link_to user.katakana_name, user_path(user) %></p>
    <p class="email"><%= user.email %></p>
    <p class="edit"><%= link_to t('.edit_user'), edit_user_path(user), class: 'btn btn-primary' if current_user.staff? %></p>

    <div class="user_children">
        <h4><%= t('.children') if user.children.size > 1 %></h3>
        <h4><%= t('.child') if user.children.size == 1 %></h3>
        <h4><%= t('.no_children') if user.children.empty? %></h3>
        <% user.children.each do |child| %>
            <%= link_to child.name, child_path(child) %>
        <% end %>
    </div>
</div>
