<%# Update flash message %>
<%= turbo_stream.update "flash", partial: "shared/flash" %>

<%# Update children in _user %>
<%= turbo_stream.append "user#{@parent.id}_children" do %>
    <li id="<%= "user#{@parent.id}_child#{@child.id}" %>">
        <%= link_to @child.name, child_path(@child) %>

        <% if current_user.admin? %>
            <%= form_with url: remove_child_path do |f| %>
                <%= f.hidden_field :child_id, value: @child.id %>
                <%= f.hidden_field :parent_id, value: @parent.id %>
                <%= f.submit t('.remove_child'), class: 'btn btn-primary' %>
            <% end %>
        <% end %>
    </li>
<% end %>

<%# Update children in _time_slots %>
<% @parent.time_slots.distinct.each do |slot| %>
    <% if @child.registered?(slot) %>
        <%= turbo_stream.append "slot#{slot.id}_reg", Registration.find_by(child: @child, registerable: slot) %>
    <% else %>
        <%= turbo_stream.append "slot#{slot.id}_reg", partial: 'registrations/unregistered', locals: { child: @child, slot: slot } %>
    <% end %>
<% end %>

<%# Inform user child has been added %>
<%= turbo_stream.update "add_child", partial: "users/add_child", locals: { parent: @parent } %>