<main id="user_show" class="gap-3">
    <div class="card text-center">
        <h1 class="fw-bold"><%= "yo #{@user.name.split[0]}" %></h1>
    </div>

    <%= render partial: 'invoices/recent_bookings',
               locals: { bookings: @recent_bookings }  %>

    <% @upcoming_events.each do |name, events| %>
        <div class="card">
            <h2><%= "#{name} for All Schools" %></h2>
            <%= render partial: 'events/stats_summary',
                        locals: { events: events } %>
        </div>

        <%= render partial: 'events/condensed_stats',
                    locals: { events: events } %>
    <% end %>

    <div class="card flex-row flex-wrap justify-content-between gap-3">
        <h2 class="w-100">Admin Tasks</h2>

        <%= link_to 'Create New Event',
                    new_event_path,
                    class: 'btn btn-primary flex-grow-1' %>

        <%= link_to 'Import/Export Files',
                    csvs_path,
                    class: 'btn btn-primary flex-grow-1' %>

        <%= link_to 'Manage Price Lists',
                    price_lists_path,
                    class: 'btn btn-primary flex-grow-1' %>

        <%= link_to 'Manage Schools/Areas',
                    areas_path,
                    class: 'btn btn-primary flex-grow-1' %>
        
        <%= link_to 'Manage Setsumeikais',
                    setsumeikais_path,
                    class: 'btn btn-primary flex-grow-1' %>
    </div>

    <div class="card flex-row flex-wrap justify-content-center">
        <h2 class="w-100">Managers</h2>

        <% @managers.group_by(&:role).each do |r| %>
            <h3 class='w-100'><%= r.first.humanize %></h3>
            <% r.last.each do |m| %>
                <%= link_to m.name,
                            user_path(m),
                            class: 'btn btn-primary' %>
            <% end %>
        <% end %>
    </div>
</main>