<main id="user_show" class="gap-3">
    <div class="card text-center">
        <h1 class="fw-bold"><%= "yo #{@user.name.split[0]}" %></h1>
    </div>

    <%= render partial: 'invoices/recent_bookings',
               locals: { bookings: @recent_bookings }  %>

    <% unless @upcoming_events.empty? %>
        <div class="card">
            <h2>All Schools</h2>
            <%= render partial: 'events/stats_summary',
                       locals: { events: @upcoming_events } %>
        </div>

        <%= render partial: 'events/condensed_stats',
                   locals: { events: @upcoming_events } %>
    <% end %>

    <div class="card flex-row flex-wrap justify-content-between gap-3">
        <h2 class="w-100">Admin Tasks</h2>

        <%= link_to 'Create New Event',
                    new_event_path,
                    class: 'btn btn-primary flex-grow-1' %>

        <%= link_to 'Import/Export Files',
                    csvs_path,
                    class: 'btn btn-primary flex-grow-1' %>

        <%= link_to 'Manage Price Lists',
                    price_lists_path,
                    class: 'btn btn-primary flex-grow-1' %>

        <%= link_to 'Manage Schools/Areas',
                    areas_path,
                    class: 'btn btn-primary flex-grow-1' %>

        <%= link_to 'View Stats',
                    charts_path,
                    class: 'btn btn-primary flex-grow-1' %>
    </div>
</main>