<main id="user-show" class="gap-3">
    <div class="card text-center">
        <h1 class="fw-bold"><%= "yo #{@user.name.split[0]}" %></h1>
    </div>

    <%= render partial: 'invoices/recent_bookings',
               locals: { bookings: @recent_bookings }  %>

    <% @upcoming_events.each do |name, events| %>
        <div class="card">
            <h2><%= "#{name} for All Schools" %></h2>
            <%= render partial: 'events/stats_summary',
                       locals: { events: events } %>
        </div>

        <%= render partial: 'events/condensed_stats',
                   locals: { events: events } %>
    <% end %>

    <div class="card flex-row flex-wrap justify-content-between gap-3">
        <h2 class="w-100">Admin Tasks</h2>

        <%= link_to 'New Event',
                    new_event_path,
                    class: 'btn btn-primary flex-grow-1' %>

        <%= link_to 'Import/Export Files',
                    csvs_path,
                    class: 'btn btn-primary flex-grow-1' %>

        <%= link_to 'Price Lists',
                    price_lists_path,
                    class: 'btn btn-primary flex-grow-1' %>

        <%= link_to 'Schools/Areas',
                    areas_path,
                    class: 'btn btn-primary flex-grow-1' %>

        <%= link_to 'Setsumeikais',
                    setsumeikais_path,
                    class: 'btn btn-primary flex-grow-1' %>

        <%= link_to 'Inquiries',
                    inquiries_path,
                    class: 'btn btn-primary flex-grow-1' %>

        <%= link_to 'Surveys',
                    surveys_path,
                    class: 'btn btn-primary flex-grow-1' %>
    </div>

    <%= render partial: 'users/schools',
               locals: { managers: @managers } %>
</main>
