<main id="user_show" class="gap-3">
    <div class="card text-center">
        <h1 class="fw-bold"><%= t('.greet', user: @user.name) %></h1>
        <h4>Area Manager</h4>
    </div>

    <% if (current_user.area_manager? || current_user.admin?) %>
        <% unless @upcoming_events.empty? %>
            <div class="card">
                <h2>All Schools</h2>
                <%= render partial: 'events/stats_summary',
                        locals: { events: @upcoming_events } %>
            </div>
        <% end %>

        <% @managed_areas.each do |area| %>
            <% next if area.upcoming_events.empty? %>

            <div class="card">
                <h2 class="fw-semibold"><%= area.name %></h2>

                <%= render partial: 'events/stats_summary',
                           locals: { events: area.upcoming_events } %>
            </div>
        <% end %>

        <% unless @area_events.empty? %>
            <%= render partial: 'events/condensed_stats',
                       locals: { events: @area_events } %>
        <% end %>
    <% end %>
</main>