<main id="user_show" class="gap-3">
    <div class="card text-center">
        <h1 class="fw-bold"><%= t('.greet', user: @user.name) %></h1>
        <h4>Area Manager</h4>
    </div>

    <% @managed_areas.each do |area| %>
        <% next if area.upcoming_events.empty? %>

        <% area.upcoming_events.group_by(&:name).each do |name, events| %>
            <div class="card">
                <h2 class="fw-semibold"><%= "#{name} for #{area.name}" %></h2>

                <%= render partial: 'events/stats_summary',
                            locals: { events: events } %>
            </div>
        <% end %>
    <% end %>

    <% @upcoming_events.each do |name, events| %>
        <div class="card">
            <h2><%= "#{name} for All Schools" %></h2>
            <%= render partial: 'events/stats_summary',
                       locals: { events: events } %>
        </div>
    <% end %>

    <% @area_events.each do |name, events| %>
        <%= render partial: 'events/condensed_stats',
                    locals: { events: events } %>
    <% end %>
</main>