<main id="user_show" class="gap-3">
    <% unless @user.confirmed? %>
        <div class="card justify-content-center align-items-center bg-danger">
            <h3><%= t('.please_confirm_email') %></h3>
            <%= button_to t('.resend_confirm_email'),
                          user_confirmation_path(user: { email: @user.email }),
                          class: 'btn btn-primary' %>
        </div>
    <% end %>

    <div class="card text-center">
        <h1 class="fw-bold"><%= t('.greet', user: @user.name) %></h1>

        <% if current_user.staff? %>
            <div data-controller="conditional"
                data-conditional-pin-value=<%= current_user.pin %>>
                <div class="d-none" data-conditional-target="target">
                    <p><%= "#{t('.phone')}: #{@user.phone}" %></p>
                    <p><%= "#{t('.email')}: #{@user.email}" %></p>
                </div>

                <div class="form-floating" data-conditional-target="target">
                    <%= text_field_tag t('enter_pin', info: "#{t('ele_school')}, #{t('.phone')}, #{t('.email')}"),
                        '',
                        class: 'form-control',
                        placeholder: t('enter_pin',
                        info: "#{t('ele_school')}, #{t('.phone')}, #{t('.email')}"),
                        maxlength: 4,
                        data: {
                            'conditional-target': 'condition',
                            action: 'conditional#pin'
                            } %>

                    <%= label_tag t('enter_pin', info: "#{t('ele_school')}, #{t('.phone')}, #{t('.email')}"),
                            nil,
                            class: 'form-label' %>
                </div>
            </div>
        <% end %>
    </div>

    <% unless @children.empty? %>
        <div class="card">
            <div>
                <ul>
                    <% @children.map(&:school).uniq.each do |school| %>
                        <li class="fw-bold">
                            <%= t('.school_name', school: school.name) %>
                        </li>
                    <% end %>
                </ul>
            </div>

            <div class="d-flex flex-column gap-3">
                <h4 class="fw-bold"><%= t(".children") %></h4>

                <div class="d-flex flex-wrap justify-content-center gap-5">
                    <% @user.children.each do |child| %>
                        <%= link_to child.name, child_path(child) %>
                    <% end %>
                </div>            
            </div>
        </div>

        <% if @next_event %>
            <%= render @next_event, child: @user.children.first %>
        <% end %>

        <div class="card">
            <%= link_to t('.user_bookings', user: @user.name),
                        invoices_path(user: @user.id),
                        class: 'btn btn-primary' unless @invoices.empty? %>

            <%= link_to t('.email_prefs'),
                        mailer_subscriptions_path,
                        class: 'btn btn-primary' %>

            <%= link_to t('.edit_info'),
                        edit_user_path(@user),
                        class: 'btn btn-primary' %>
        </div>
    <% end %>

    <div id="add_child_container" class="card">
        <%= render 'users/add_child', parent: @user %>
    </div>

    <% if @children.any? { |c| c.ssid.nil? } && current_user.staff? %>        
        <div class="card" id="merge_children">
            <h2 class="text-center w-100"><%= t('.merge_children') %></h2>

            <%= render 'users/merge_children', parent: @user %>
        </div>
    <% end %>
</main>