<% columns = %w[name katakana email edit_info] %>

<main id="user_index">
    <%= link_to t('.new_customer'),
                new_user_path,
                class: 'btn btn-primary' if current_user.staff? %>

    <%= paginate @users if current_user.admin? %>

    <table class="table table-hover text-center">
        <thead>
        <tr class="table-primary">
            <% columns.each do |col| %>
                <th scope="col"><%= t(".#{col}") %></th>
            <% end %>
        </tr>
        <tr>
            <% columns[0..-2].each do |col| %>
                <%= render partial: 'shared/filter_header',
                        locals: { column: col, siblings: '1' } %>
            <% end %>
        </tr>
        </thead>

        <tbody>
            <%= render @users %>
        </tbody>
    </table>

    <%= paginate @users if current_user.admin? %>

</main>