- cols = %w[name katakana_name email]

%main#user-index
  - if current_user.staff?
    = link_to t('.new_customer'),
              new_user_path,
              class: 'btn btn-primary'

    = render 'shared/search',
             fields: cols,
             resource: 'users'

  = paginate @users

  %table.table.table-hover.text-center
    %thead
      %tr.table-primary
        - cols.each do |col|
          %th{ scope: col }= t(".#{col}")
        %th
    %tbody
      = render @users

  = paginate @users
