<main id="user_index">
    <div class="user header">
        <p class="name"><%= t('.name') %></p>
        <p class="katakana"><%=t('.katakana') %></p>
        <p class="email"><%= t('.email') %></p>
        <p class="edit"><%= t('.edit_info') %></p>
    </div>

    <%= render @users %>
</main>