%main.gap-3#user-show
  .card.text-center
    %h1.fw-bold= t('.greet', user: @user.name)

  - if @user.managed_school
    .card.flex-row.flex-wrap.justify-content-between.gap-3
      = link_to t('.stats'),
                chart_path(@user.managed_school),
                class: 'btn btn-primary flex-grow-1'
      = link_to t('.surveys'),
                surveys_path,
                class: 'btn btn-primary flex-grow-1'
      = link_to t('.edit_school_info'),
                edit_school_path(@user.managed_school),
                class: 'btn btn-primary flex-grow-1'
      -# link_to t('.manage_setsumeikais'),
                setsumeikais_path,
                class: 'btn btn-primary flex-grow-1'
      -# link_to t('.manage_inquiries'),
                inquiries_path,
                class: 'btn btn-primary flex-grow-1'

    - unless @recent_bookings.empty?
      = render 'invoices/recent_bookings',
               bookings: @recent_bookings

    - @upcoming_events.each do |event|
      = render 'events/event_stats', event: event
      = render 'events/daily_attendance', event: event

    - unless @deleted_invoices.empty?
      = render 'invoices/deleted',
               deleted_invoices: @deleted_invoices
  - else
    %h1 No School Assigned
