<main id="user_show">
    <%= render @user %>

    <% if @user.children? %>
        <h2><%= t('.next_event') %></h2>
        <% @user.school.events.limit(1).order(updated_at: :asc).each do |event| %>
            <%= render event %>
        <% end %>

        <h2><%= t('.upcoming_registrations') %></h2>
        <%= link_to t('.all_registrations'), registrations_path(id: @user.id, type: 'User'), class: 'button' %>
        <div id="time_slot_container">
            <% @user.time_slots.distinct.order(start_time: :asc).limit(5).each do |slot| %>
                <%= render slot, children: @user.children %>
            <% end %>
        </div>
    <% end %>

    <% if @user.area_manager? %>
        <h2><%= t('.managed_areas') %></h2>
        <div id="area_container">
            <%= render @user.managed_areas %>
        </div>
    <% end %>

    <% if @user.school_manager? %>
        <h2><%= t('.managed_schools') %></h2>
        <div id="school_container">
            <%= render @user.managed_schools %>
        </div>
    <% end %>

    <h2><%= t('.add_children') %></h2>
    <div id="add_child_container">
        <%= render 'add_child', parent: @user %>
    </div>
</main>