<% next_event = @user.children.first.school.next_event unless @user.children.empty? %>
<% schools = @user.children.reject{ |c| c.school_id.nil? }.map(&:school).map(&:name).uniq %>

<main id="user_show" class="gap-3">
    <% unless @user.confirmed? %>
        <div class="card justify-content-center align-items-center bg-danger">
            <h3><%= t('.please_confirm_email') %></h3>
            <%= button_to t('.resend_confirm_email'), user_confirmation_path(user: { email: @user.email }), class: 'btn btn-primary' %>
        </div>
    <% end %>


    <div class="card text-center">
        <% if @user.admin? %>
          <h1 class="fw-bold"><%= "yo #{@user.name.split[0]}" %></h1>
        <% else %>
            <h1 class="fw-bold"><%= t('.greet', user: @user.name) %></h1>
        <% end %>

        <% unless @user.customer? %>
            <h4><%= t(".roles.#{@user.role}") %></h4>
        <% end %>
    </div>

    <% if @user.customer? && @user.children.size.positive? %>
        <div class="card">
            <div class="mb-3">
                <ul>
                    <% schools.each do |school| %>
                        <li><%= t('.school_name', school: school) %></li>
                    <% end %>
                </ul>
            </div>

            <div>
                <h4 class="fw-bold mb-3"><%= t(".children") %></h4>

                <div class="d-flex flex-wrap justify-content-center gap-5">
                    <% @user.children.each do |child| %>
                        <%= link_to child.name, child_path(child) %>
                    <% end %>
                </div>            
            </div>
        </div>
    <% end %>

    <% if current_user.admin? && !@user.admin? && current_user.id != @user.id %>
        <div class="card">
            <%= link_to t('.delete'), user_path(@user), data: { turbo_method: :delete, turbo_confirm: t('.delete_confirm') }, class: 'btn btn-danger' %>
        </div>
    <% end %>

    <% if @user.children? %>
        <% unless next_event.nil? %>
            <%= render next_event, child: @user.children.first %>
        <% end %>
    <% end %>

    <% if @user.customer? %>
        <div class="card">
            <%= link_to t('.user_bookings', user: @user.name), invoices_path(user: @user.id), class: 'btn btn-primary' if @user.children %>
            <%= link_to t('.email_prefs'), mailer_subscriptions_path, class: 'btn btn-primary' %>
            <%= link_to t('.edit_info'), edit_user_path(@user), class: 'btn btn-primary' %>
        </div>
    <% end %>

    <% if @user.admin? && current_user.admin? %>
        <h1>All schools</h1>
        <div class="card">
            <%= render partial: 'events/stats_summary', as: :all, locals: { children: Child.all, events: Event.all, invoices: Invoice.all, photo_regs: Event.all.reduce(0) { |sum, event| sum + event.photo_regs } } %>
        </div>

        <h1>Admin Options</h1>
        <div class="card gap-3 padding-3">
            <%= link_to 'Import/Export Data', csvs_path, class: 'btn btn-primary' %>
            <%= link_to 'Manage Price Lists', price_lists_path, class: 'btn btn-primary' %>
            <%= link_to 'Create New Event', new_event_path, class: 'btn btn-primary' %>
        </div>
    <% end %>

    <% if @user.area_manager? %>
        <% @user.managed_areas.each do |area| %>
            <div class="card">
                <h2 class="fw-semibold"><%= area.name %></h2>
                <%= render partial: 'events/stats_summary', as: :area, locals: { children: area.children, events: area.events, invoices: area.invoices, photo_regs: area.events.reduce(0) { |sum, event| sum + event.photo_regs } } %>
            </div>

            <div class="card">
                <% area.schools.each do |school| %>
                    <%= render partial: 'events/event_stats', collection: school.events, as: :event %>
                <% end %>
            </div>
        <% end %>
    <% end %>

    <% if @user.school_manager? %>
        <% @user.managed_schools.each do |school| %>
            <div class="card">
                <%= render partial: 'events/event_stats', collection: school.events, as: :event %>
            </div>

            <div class="daily-attendance card flex-row flex-wrap justify-content-around gap-3" data-controller="print" data-print-target="print">
                <%= render partial: 'events/daily_attendance', locals: { event: school.next_event } %>
            </div>
        <% end %>
    <% end %>

    <% unless @user.staff? %>
        <div id="add_child_container" class="card">
            <%= render 'users/add_child', parent: @user %>
        </div>
    <% end %>

    <% if @user.customer? && current_user.staff? && @user.children.any? { |c| c.ssid.nil? } %>
        <h2 class="text-center w-75"><%= t('.merge_children') %></h2>
        <div class="card" id="merge_children">
            <%= render 'users/merge_children', parent: @user %>
        </div>
    <% end %>
</main>