<thead>
    <tr class="table-primary">
        <th scope="col" 
            data-controller="sort"
            data-sort-col-value=".school">
            School
            <button
                class="btn-sort ascending"
                data-sort-target="toggle"
                data-action="click->sort#sort">
                &#9650;
            </button>
        </th>
        <th scope="col" 
            data-controller="sort"
            data-sort-col-value=".int_kids"
            >
            <%= t('.int_kids') %>
            <button
                class="btn-sort ascending"
                data-sort-target="toggle"
                data-action="click->sort#sort">
                &#9650;
            </button>
        </th>
        <th scope="col" 
            data-controller="sort"
            data-sort-col-value=".res_kids">
            <%= t('.res_kids') %>
            <button
                class="btn-sort ascending"
                data-sort-target="toggle"
                data-action="click->sort#sort">
                &#9650;
            </button>
        </th>
        <th scope="col" 
            data-controller="sort"
            data-sort-col-value=".ext_kids">
            <%= t('.ext_kids') %>
            <button
                class="btn-sort ascending"
                data-sort-target="toggle"
                data-action="click->sort#sort">
                &#9650;
            </button>
        </th>
        <th scope="col" 
            data-controller="sort"
            data-sort-col-value=".total_kids">
            <%= t('.total_kids') %>
            <button
                class="btn-sort ascending"
                data-sort-target="toggle"
                data-action="click->sort#sort">
                &#9650;
            </button>
        </th>
        <th scope="col" 
            data-controller="sort"
            data-sort-col-value=".photo_sales">
            <%= t('.photo_sales') %>
            <button
                class="btn-sort ascending"
                data-sort-target="toggle"
                data-action="click->sort#sort">
                &#9650;
            </button>
        </th>
        <th scope="col" 
            data-controller="sort"
            data-sort-col-value=".total_revenue">
            <%= t('.total_revenue') %>
            <button
                class="btn-sort ascending"
                data-sort-target="toggle"
                data-action="click->sort#sort">
                &#9650;
            </button>
        </th>
        <th scope="col" 
            data-controller="sort"
            data-sort-col-value=".goal_revenue">
            <%= t('.goal_revenue') %>
            <button
                class="btn-sort ascending"
                data-sort-target="toggle"
                data-action="click->sort#sort">
                &#9650;
            </button>
        </th>
        <th scope="col" 
            data-controller="sort"
            data-sort-col-value=".goal_percent">
            <%= t('.goal_percent') %>
            <button
                class="btn-sort ascending"
                data-sort-target="toggle"
                data-action="click->sort#sort">
                &#9650;
            </button>
        </th>
    </tr>
</thead>
