<main id="user_show">
    <div class="card">
        <%= turbo_frame_tag "user#{@user.id}" do %>
            <div class="key_info">
                <h1><%= @user.name %></h1>
                <h4><%= t(".roles.#{@user.role}") unless @user.customer? %></h4>
            </div>

            <% if @user.customer? && !@user.children.nil? %>
                <div class="children">
                    <h4><%= t(".children") if @user.children.size > 1 %></h4>
                    <h4><%= t(".child") if @user.children.size == 1 %></h4>

                    <ul>
                        <%= turbo_frame_tag "user#{@user.id}_children" do %>
                            <% @user.children.each do |child| %>
                                <li id="<%= "user#{@user.id}_child#{child.id}" %>">
                                    <%= link_to child.name, child_path(child), data: { turbo_frame: '_top' } %>

                                    <% if current_user.admin? %>
                                        <%= form_with url: remove_child_path do |f| %>
                                            <%= f.hidden_field :child_id, value: child.id %>
                                            <%= f.hidden_field :parent_id, value: @user.id %>
                                            <%= f.submit t('.remove_child'), class: 'btn btn-primary', data: { turbo_frame: '_top' } %>
                                        <% end %>
                                    <% end %>
                                </li>
                            <% end %>             
                        <% end %>
                    </ul>

                </div>
            <% end %>

            <div class="user_options">
                <% if current_user.staff? || current_user == @user %>
                    <%= link_to t(".edit"), edit_user_path(@user), class: 'btn btn-primary' %>
                <% end %>
                
                <% if current_user.staff? %>
                        <%= link_to t('.delete'), user_path(@user), data: { turbo_method: :delete, turbo_confirm: t('.delete_confirm'), turbo_frame: '_top' }, class: 'btn btn-primary' %>
                <% end %>
            </div>
        <% end %>
    </div>

    <% if @user.children? %>
        <%= link_to t('.my_bookings'), invoices_path(user: @user.id), class: 'btn btn-primary' %>

        <h2><%= t('.next_event') %></h2>
        <%= render Event.all.where(school: @user.children.map(&:school)).order(start_date: :asc).first, child: nil %>
    <% end %>

    <% if @user.admin? && current_user.admin? %>
        <h1><%= t('.admin_options') %></h1>

        <div id="admin_options">
            <%= link_to t('.import_export'), csvs_path, class: 'btn btn-primary' %>
        </div>
    <% end %>

    <% if @user.area_manager? %>
        <h2><%= t('.event_stats') %></h2>
        <div class="card">
            <% @user.managed_areas.each do |area| %>
                <% area.schools.each do |school| %>
                    <h3><%= school.name %></h3>
                    <%= render partial: 'events/event_stats', collection: school.events %>
                <% end %>
            <% end %>
        </div>

        <h2><%= t('.managed_areas') %></h2>
        <div class="card">
            <%= render @user.managed_areas %>
        </div>
    <% end %>

    <% if @user.school_manager? %>
        <h2><%= t('.event_stats') %></h2>
        <div class="card">
            <% @user.managed_schools.each do |school| %>
                <h3><%= school.name %></h3>
                <%= render partial: 'events/event_stats', collection: school.events %>
            <% end %>
        </div>

        <h2><%= t('.managed_schools') %></h2>
        <div class="card">
            <table class="table table-striped">
                <thead>
                    <tr class="table-primary">
                        <th scope="col"><%= t('.name') %></th>
                        <th scope="col"><%= t('.address') %></th>
                        <th scope="col"><%= t('.phone') %></th>
                        <th scope="col"><%= t('.area') %></th>
                        <th scope="col"><%= t('.children') %></th>
                        <th scope="col"><%= t('.edit') if current_user.admin? || current_user.area_manager? %></th>
                    </tr>
                </thead>

                <tbody><%= render @user.managed_schools %></tbody>
            </table>
        </div>
    <% end %>

    <% unless @user.staff? %>
        <h2><%= t('.add_children') %></h2>
        <div id="add_child_container" class="card">
            <%= render 'users/add_child', parent: @user %>
        </div>
    <% end %>

    <% if @user.customer? && current_user.staff? %>
        <h2><%= t('.merge_children') %></h2>
        <div class="card">
            <%= render 'users/merge_children', parent: @user %>
        </div>
    <% end %>
</main>