<% next_event = @user.children.first.school.next_event unless @user.children.empty? %>
<% online_event = School.find(2).events.first if @user.admin? || @user.area_manager? %>
<% schools = @user.children.reject{ |c| c.school_id.nil? }.map(&:school).map(&:name).uniq if @user.customer? %>

<main id="user_show" class="gap-3">
    <% unless @user.confirmed? %>
        <div class="card justify-content-center align-items-center bg-danger">
            <h3><%= t('.please_confirm_email') %></h3>
            <%= button_to t('.resend_confirm_email'), user_confirmation_path(user: { email: @user.email }), class: 'btn btn-primary' %>
        </div>
    <% end %>


    <div class="card text-center">
        <% if @user.admin? %>
          <h1 class="fw-bold"><%= "yo #{@user.name.split[0]}" %></h1>
        <% else %>
            <h1 class="fw-bold"><%= t('.greet', user: @user.name) %></h1>
        <% end %>

        <% unless @user.customer? %>
            <h4><%= t(".roles.#{@user.role}") %></h4>
        <% end %>

        <% if current_user.staff? && current_user.id != @user.id %>
            <div data-controller="conditional"
                data-conditional-pin-value=<%= current_user.pin %>>
                <div class="d-none" data-conditional-target="target">
                    <p><%= "#{t('.phone')}: #{@user.phone}" %></p>
                    <p><%= "#{t('.email')}: #{@user.email}" %></p>
                </div>
                <div class="form-floating" data-conditional-target="target">
                    <%= text_field_tag t('enter_pin', info: "#{t('ele_school')}, #{t('.phone')}, #{t('.email')}"), '', class: 'form-control', placeholder: t('enter_pin', info: "#{t('ele_school')}, #{t('.phone')}, #{t('.email')}"), maxlength: 4, data: { 'conditional-target': 'condition', action: 'conditional#pin' } %>
                    <%= label_tag t('enter_pin', info: "#{t('ele_school')}, #{t('.phone')}, #{t('.email')}"), nil, class: 'form-label' %>
                </div>
            </div>
        <% end %>
    </div>

    <% if @user.customer? && @user.children.size.positive? %>
        <div class="card">
            <div class="mb-3">
                <ul>
                    <% schools.each do |school| %>
                        <li><%= t('.school_name', school: school) %></li>
                    <% end %>
                </ul>
            </div>

            <div>
                <h4 class="fw-bold mb-3"><%= t(".children") %></h4>

                <div class="d-flex flex-wrap justify-content-center gap-5">
                    <% @user.children.each do |child| %>
                        <%= link_to child.name, child_path(child) %>
                    <% end %>
                </div>            
            </div>
        </div>
    <% end %>

    <% if @user.children? %>
        <% unless next_event.nil? %>
            <%= render next_event, child: @user.children.first %>
        <% end %>
    <% end %>

    <% if @user.customer? && @user.children.size.positive? %>
        <div class="card">
            <%= link_to t('.user_bookings', user: @user.name), invoices_path(user: @user.id), class: 'btn btn-primary' unless @user.children.joins(:real_invoices).empty? %>
            <%= link_to t('.email_prefs'), mailer_subscriptions_path, class: 'btn btn-primary' %>
            <%= link_to t('.edit_info'), edit_user_path(@user), class: 'btn btn-primary' %>
        </div>
    <% end %>

    <% if @user.admin? && current_user.admin? %>
        <div class="card">
            <h2>All Schools</h2>
            <%= render partial: 'events/stats_summary', locals: { events: Event.all.excluding(online_event) } %>
        </div>

        <div class="card">
            <h2>Recent Bookings</h2>
            <%= render partial: 'invoices/recent_invoices', locals: { recent_invoices: Invoice.all.real.order(created_at: :desc).limit(5).includes(:child, :time_slots) } %>
        </div>

        <div class="card">
            <div class="table-responsive-lg">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col">School</th>
                            <th scope="col"><%= t('.int_kids') %></th>
                            <th scope="col"><%= t('.res_kids') %></th>
                            <th scope="col"><%= t('.ext_kids') %></th>
                            <th scope="col"><%= t('.total_kids') %></th>
                            <th scope="col"><%= t('.photo_sales') %></th>
                            <th scope="col"><%= t('.total_revenue') %></th>
                            <th scope="col"><%= t('.goal_revenue') %></th>
                            <th scope="col"><%= t('.goal_percent') %></th>
                        </tr>
                    </thead>

                    <tbody>
                        <% School.all.each do |school| %>
                            <%= render partial: 'events/condensed_stats', collection: school.events.excluding(online_event), as: :event %>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card">
            <% popularity_hash = TimeSlot.where(morning: true, category: %i[seasonal outdoor]).or(TimeSlot.where(category: :special)).left_joins(:registrations).group(:name).count %>

            <h2>Activities by Popularity</h2>

            <div class="tbale-responsive-lg">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col">Activity</th>
                            <th scope="col">Registrations</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <% popularity_hash.sort_by { |_k, v| v }.reverse.each do |slot| %>
                            <tr>
                                <td><%= slot.first %></td>
                                <%# The minus 1 is becuase we're using left joins to catch slots with no registrations, but this adds an extra slot to everything %>
                                <td><%= slot.last - 1 %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>

        <h1>Admin Options</h1>
        <div class="card gap-3 padding-3">
            <%= link_to 'Import/Export Data', csvs_path, class: 'btn btn-primary' %>
            <%= link_to 'Manage Price Lists', price_lists_path, class: 'btn btn-primary' %>
            <%= link_to 'Create New Event', new_event_path, class: 'btn btn-primary' %>
        </div>
    <% end %>

    <% if @user.area_manager? && (current_user.area_manager? || current_user.admin?) %>
        <div class="card">
            <h2>All Schools</h2>
            <%= render partial: 'events/stats_summary', locals: { events: Event.all.excluding(online_event) } %>
        </div>

        <% @user.managed_areas.each do |area| %>
            <% next if area.schools.size.zero? %>

            <div class="card">
                <h2 class="fw-semibold"><%= area.name %></h2>

                <%= render partial: 'events/stats_summary', locals: { events: area.events.excluding(online_event) } %>
            </div>

            <div class="card">
                <div class="table-responsive-lg">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr class="table-primary">
                                <th scope="col">School</th>
                                <th scope="col"><%= t('.int_kids') %></th>
                                <th scope="col"><%= t('.res_kids') %></th>
                                <th scope="col"><%= t('.ext_kids') %></th>
                                <th scope="col"><%= t('.total_kids') %></th>
                                <th scope="col"><%= t('.photo_sales') %></th>
                                <th scope="col"><%= t('.total_revenue') %></th>
                                <th scope="col"><%= t('.goal_revenue') %></th>
                                <th scope="col"><%= t('.goal_percent') %></th>
                            </tr>
                        </thead>

                        <tbody>
                            <% area.schools.each do |school| %>
                                <%= render partial: 'events/condensed_stats', collection: school.events.excluding(online_event), as: :event %>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        <% end %>
    <% end %>

    <% if @user.school_manager? %>
        <% deleted_invoices = PaperTrail::Version.where(whodunnit: @user.id, event: 'destroy').order(created_at: :desc).map(&:reify).compact %>

        <% @user.managed_schools.each do |school| %>
            <div class="card">
                <%= render partial: 'events/event_stats', collection: school.events, as: :event %>
            </div>

            <div class="card">
                <h2><%= t('.recent_bookings') %></h2>
                <%= render partial: 'invoices/recent_invoices', locals: { recent_invoices: school.next_event.invoices.order(created_at: :desc).limit(5).includes(:child, :time_slots) } %>
            </div>

            <%= render partial: 'events/daily_attendance', locals: { event: school.next_event } %>

            <% if deleted_invoices.size.positive? %>
              <%= render partial: 'invoices/deleted', locals: { deleted_invoices: deleted_invoices } %>
            <% end %>
        <% end %>
    <% end %>

    <% unless @user.staff? %>
        <div id="add_child_container" class="card">
            <%= render 'users/add_child', parent: @user %>
        </div>
    <% end %>

    <% if @user.customer? && current_user.staff? && @user.children.any? { |c| c.ssid.nil? } %>
        <h2 class="text-center w-75"><%= t('.merge_children') %></h2>
        <div class="card" id="merge_children">
            <%= render 'users/merge_children', parent: @user %>
        </div>
    <% end %>

    <% if @user.id == 36 %>
        <% badge_invoices = Invoice.where(event_id: 32).includes(:time_slots, :child).select { |i| i.time_slots.select{ |s| s.morning }.size >= 5 } %>

      <div class="card">
        <h3>Badge Kids</h3>

        <div class="table-responsive-lg">
            <table class="table table-striped table-hover">
                <thead class="table-primary">
                    <tr>
                        <th>Japanese Name</th>
                        <th>English Name</th>
                        <th>Number of Activities</th>
                    </tr>
                </thead>

                <tbody>
                    <% badge_invoices.sort_by { |i| i.time_slots.select{ |s| s.morning }.size }.reverse!.each do |i| %>
                        <tr>
                            <td><%= i.child.name %></td>
                            <td><%= i.child.en_name %></td>
                            <td><%= i.time_slots.select{ |s| s.morning }.size %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
      </div>      
    <% end %>
</main>