<% next_event = @user.children.first.school.next_event unless @user.children.empty? %>
<% schools = @user.children.reject{ |c| c.school_id.nil? }.map(&:school).map(&:name).uniq %>


<main id="user_show" class="gap-3">
    <% unless @user.confirmed? %>
        <div class="card justify-content-center align-items-center bg-danger">
            <h3><%= t('.please_confirm_email') %></h3>
            <%= button_to t('.resend_confirm_email'), user_confirmation_path(user: { email: @user.email }), class: 'btn btn-primary' %>
        </div>
    <% end %>


    <div class="card text-center">
        <% if @user.admin? %>
          <h1 class="fw-bold"><%= "yo #{@user.name.split[1]}" %></h1>
        <% else %>
            <h1 class="fw-bold"><%= t('.greet', user: @user.name) %></h1>
        <% end %>

        <% unless @user.customer? %>
            <h4><%= t(".roles.#{@user.role}") %></h4>
        <% end %>
    </div>

    <% if @user.customer? && !@user.children.nil? %>
        <div class="card">
            <div class="mb-3">
                <ul>
                    <% schools.each do |school| %>
                        <li><%= t('.school_name', school: school) %></li>
                    <% end %>
                </ul>
            </div>

            <div>
                <h4 class="fw-bold"><%= t(".children") %></h4>

                <ul>
                    <% @user.children.each do |child| %>
                        <li id="<%= "user#{@user.id}_child#{child.id}" %>">
                            <%= link_to child.name, child_path(child) %>
                        </li>
                    <% end %>             
                </ul>

            </div>
        </div>
    <% end %>

    <% if current_user.admin? && current_user.id != @user.id %>
        <div class="card">
            <%= link_to t('.delete'), user_path(@user), data: { turbo_method: :delete, turbo_confirm: t('.delete_confirm') }, class: 'btn btn-danger' %>
        </div>
    <% end %>

    <% if @user.children? %>
        <% unless next_event.nil? %>
            <%= render next_event, child: @user.children.first %>
        <% end %>

        <div class="card">
            <%= link_to t('.user_bookings', user: @user.name), invoices_path(user: @user.id), class: 'btn btn-primary' %>
            <%= link_to t('.email_prefs'), mailer_subscriptions_path, class: 'btn btn-primary' %>
            <%= link_to t('.edit_info'), edit_user_path(@user), class: 'btn btn-primary' %>
        </div>
    <% end %>

    <% if @user.admin? && current_user.admin? %>
        <h1><%= t('.admin_options') %></h1>

        <div class="card gap-3 padding-3">
            <%= link_to 'Import/Export Data', csvs_path, class: 'btn btn-primary' %>
            <%= link_to 'Manage Price Lists', price_lists_path, class: 'btn btn-primary' %>
            <%= link_to 'Create New Event', new_event_path, class: 'btn btn-primary' %>
        </div>
    <% end %>

    <% if @user.area_manager? %>
        <div class="card">
            <% @user.managed_areas.each do |area| %>
                <% area.schools.each do |school| %>
                    <h3><%= school.name %></h3>
                    <%= render partial: 'events/event_stats', collection: school.events %>
                <% end %>
            <% end %>
        </div>
    <% end %>

    <% if @user.school_manager? %>
        <% @user.managed_schools.each do |school| %>
            <div class="card">
                <h3><%= school.name %></h3>
                <%= render partial: 'events/event_stats', collection: school.events %>
            </div>

            <div class="daily-attendance card flex-row flex-wrap justify-content-around gap-3" data-controller="print" data-print-target="print">
                <h3 class="w-100"><%= t('.daily_attendance') %></h3>
                <%= render partial: 'events/daily_attendance', locals: { event: school.next_event } %>
            </div>
        <% end %>
    <% end %>

    <% unless @user.staff? %>
        <div id="add_child_container" class="card">
            <%= render 'users/add_child', parent: @user %>
        </div>
    <% end %>

    <% if @user.customer? && current_user.staff? && @user.children.any? { |c| c.ssid.nil? } %>
        <h2><%= t('.merge_children') %></h2>
        <div class="card" id="merge_children">
            <%= render 'users/merge_children', parent: @user %>
        </div>
    <% end %>
</main>