<%# Local variables %>
<% child = registration.child %>
<% slot = registration.registerable %>

<%# Content %>
<%= turbo_frame_tag "child#{child.id}_slot#{slot.id}" do %>
    <div class="registration">
        <%= link_to child.ja_name, child_path(child) %>

        <% if current_user.customer? %>              
            <div class="registration_form">
                <div class="field date">
                    <p><%= t('.billing_date') %></p>
                    <% if registration.billing_date %>
                        <p><%= registration.f_billing_date %></p>
                    <% else %>
                        <p><%= t('.not_set') %></p>
                    <% end %>
                </div>
                <div class="field check_box">
                    <p><%= t('.con') %></p>
                    <% if registration.confirmed %>
                        <p>✓</p>
                    <% else %>
                        <p>✖</p>
                    <% end%>
                </div>
                <div class="field check_box">
                    <p><%= t('.paid') %></p>
                    <% if registration.paid %>
                        <p>✓</p>
                    <% else %>
                        <p>✖</p>
                    <% end %>
                </div>
                <% if registration.cost == registration.adjusted_cost %>
                    <div class="field cost">
                        <p><%= t('.cost') %></p>
                        <p><%= registration.cost %></p>
                    </div>
                <% else %>
                    <div class="field cost">
                        <p><%= t('.adj_cost') %></p>
                        <p><%= registration.adjusted_cost %></p>
                    </div>
                <% end %>
            </div>
        <% else %>
            <%= form_with model: registration, class: 'registration_form' do |f| %>
                <div class="field date">
                    <%= f.label :billing_date, t('.billing_date') %>
                    <%= f.date_field :billing_date %>
                </div>
                <div class="field check_box">
                    <%= f.label :confirmed, t('.con') %>
                    <%= f.check_box :confirmed %>
                </div>
                <div class="field check_box">
                    <%= f.label :paid, t('.paid') %>
                    <%= f.check_box :paid %>
                </div>
                <% if registration.cost == registration.adjusted_cost %>
                    <div class="field cost">
                        <%= t('.cost') %>
                        <%= registration.cost %>
                    </div>
                <% else %>
                    <div class="field cost">
                        <%= t('.adj_cost') %>
                        <%= registration.adjusted_cost %>
                    </div>
                <% end %>
                <%= f.submit t('.update'), class: 'button' %>
                <% unless registration.cost == registration.adjusted_cost %>
                    <%= link_to t('.view_adj'), adjustments_path(id: registration.id), class: 'button' %>
                <% end %>
            <% end %>
        <% end %>

        <%= link_to t('.delete'), registration_path(registration), data: {turbo_method: :delete, turbo_confirm: t('.delete_confirm', child: child.ja_name, slot: slot.name)}, class: 'button' %>
    </div>

    <div class="registration_options_container">
        <h5><%= t('.options') %></h5>
        <%= render slot.options, child: child %>
    </div>
<% end %>
                
