<%# Local variables %>
<% child = registration.child %>
<% slot = registration.registerable %>

<%# Content %>
<%= turbo_frame_tag "child#{child.id}_slot#{slot.id}" do %>
    <div class="registration">
        <%= link_to child.name, child_path(child) %>

        <% if current_user.customer? %>              
            <div class="registration_form">
                <div class="field date">
                    <p><%= t('.billing_date') %></p>
                    <% if registration.billing_date %>
                        <p><%= registration.f_billing_date %></p>
                    <% else %>
                        <p><%= t('.not_set') %></p>
                    <% end %>
                </div>
                <div class="field check_box">
                    <p><%= t('.con') %></p>
                    <% if registration.confirmed %>
                        <p>✓</p>
                    <% else %>
                        <p>✖</p>
                    <% end%>
                </div>
                <div class="field check_box">
                    <p><%= t('.paid') %></p>
                    <% if registration.paid %>
                        <p>✓</p>
                    <% else %>
                        <p>✖</p>
                    <% end %>
                </div>
            </div>

            <% if registration.paid %>
                <p><%= t('.contact_sm') %></p>

                <div class="registration_options_container">
                    <h5><%= t('.options') %></h5>
                    <%= render slot.options, child: child, paid: true %>
                </div>
            <% else %>
                <%= render 'registrations/delete_button', registration: registration %>

<%# FIXME: this mess with arrival/departure options %>
                <div class="registration_options_container">
                    <h5><%= t('.options') %></h5>
                    <%= render partial: 'options/option', collection: slot.options.regular, locals: { child: child, paid: false } %>

<%# FIXME: arrival/dept registrations are not actually mutually exclusive rn, you can even register for the same one multiple times %>
                    <% unless slot.options.arrival.empty? %>
                        <div class="arrival option">
                            <% if child.registrations.find_by(registerable: slot.options.arrival) %>
                                <%= form_with model: Registration.new do |f| %>
                                <%# FIXME: this is hardcoded for presentation %>
                                    <%= f.hidden_field :cost, value: 1000  %>
                                    <%= f.hidden_field :child_id, value: child.id %>
                                    <%= f.collection_select :registerable_id, slot.options.departure, :id, :name, default: child.registrations.find_by(registerable: slot.options.arrival).registerable.name %>
                                    <%= f.hidden_field :registerable_type, value: 'Option' %>
                                    <%= f.submit t('.register'), class: 'button' %>
                                <% end %>
                            <% else %>
                                <%= form_with model: Registration.new do |f| %>
                                <%# FIXME: this is hardcoded for presentation %>
                                    <%= f.hidden_field :cost, value: 1000  %>
                                    <%= f.hidden_field :child_id, value: child.id %>
                                    <%= f.collection_select :registerable_id, slot.options.arrival, :id, :name %>
                                    <%= f.hidden_field :registerable_type, value: 'Option' %>
                                    <%= f.submit t('.register'), class: 'button' %>
                                <% end %>
                            <% end %>
                        </div>
                    <% end %>

                    <% unless slot.options.departure.empty? %>
                        <div class="arrival option">
                            <% if child.registrations.find_by(registerable: slot.options.arrival) %>
                                <%= form_with model: Registration.new do |f| %>
                                <%# FIXME: this is hardcoded for presentation %>
                                    <%= f.hidden_field :cost, value: 1000  %>
                                    <%= f.hidden_field :child_id, value: child.id %>
                                    <%= f.collection_select :registerable_id, slot.options.departure, :id, :name, default: child.registrations.find_by(registerable: slot.options.arrival).registerable.name %>
                                    <%= f.hidden_field :registerable_type, value: 'Option' %>
                                    <%= f.submit t('.register'), class: 'button' %>
                                <% end %>
                            <% else %>
                                <%= form_with model: Registration.new do |f| %>
                                <%# FIXME: this is hardcoded for presentation %>
                                    <%= f.hidden_field :cost, value: 1000  %>
                                    <%= f.hidden_field :child_id, value: child.id %>
                                    <%= f.collection_select :registerable_id, slot.options.departure, :id, :name %>
                                    <%= f.hidden_field :registerable_type, value: 'Option' %>
                                    <%= f.submit t('.register'), class: 'button' %>
                                <% end %>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            <% end %>
        <% else %>
            <%= form_with model: registration, class: 'registration_form' do |f| %>
                <div class="field date">
                    <%= f.label :billing_date, t('.billing_date'), for: "reg#{registration.id}_billing_date" %>
                    <%= f.date_field :billing_date, id: "reg#{registration.id}_billing_date" %>
                </div>
                <div class="field check_box">
                    <%= f.label :confirmed, t('.con'), for: "reg#{registration.id}_confirmed" %>
                    <%= f.check_box :confirmed, id: "reg#{registration.id}_confirmed" %>
                </div>
                <div class="field check_box">
                    <%= f.label :paid, t('.paid'), for: "reg#{registration.id}_paid" %>
                    <%= f.check_box :paid, id: "reg#{registration.id}_paid" %>
                </div>
                <%= f.submit t('.update'), class: 'button' %>
            <% end %>

            <%= render 'registrations/delete_button', registration: registration %>

            <div class="registration_options_container">
                <h5><%= t('.options') %></h5>
                <%= render partial: 'options/option', collection: slot.options.regular, locals: { child: child, paid: false } %>
            </div>
        <% end %>
    </div>
<% end %>
                
