<% courses = %w[1 3 5 10 15 20 25 30 35 40 45 50] %>

<main id="price_list_edit">
    <%= form_with model: @price_list, html: { class: 'card' } do |f| %>
        <div class="form-floating">
            <%= f.text_field :name, class: 'form-control',
                                    placeholder:  t('.name'),
                                    required: true %>
            <%= f.label :name, t('.name'), class: 'form-label' %>
        </div>

        <h2><%= t('.courses') %></h2>
        <% if @price_list.courses.nil? %>
            <% courses.each do |course| %>
                <div class="form-floating input-group">
                    <%= number_field_tag "price_list[course#{course}]",
                                         '',
                                         class: 'form-control',
                                         placeholder: course %>

                    <%= label_tag "price_list[course#{course}]",
                                  course,
                                  class: 'form-label' %>
                    <span class="input-group-text">円</span>
                </div>
            <% end %>
        <% else %>
            <% courses.each do |course| %>
                    <div class="form-floating input-group">
                        <%= number_field_tag "price_list[course#{course}]",
                                             @price_list.courses[course] || '',
                                             class: 'form-control',
                                             placeholder: course,
                                             required: true %>

                        <%= label_tag "price_list[course#{course}]",
                                      course,
                                      class: 'form-label' %>
                        <span class="input-group-text">円</span>
                    </div>
            <% end %>
        <% end %>

        <%= f.submit class: 'btn btn-primary' %>
    <% end %>
</main>
