<main id="price_list_edit">
    <%= form_with model: @price_list, html: { class: 'card' } do |f| %>
        <div class="form-floating">
            <%= f.text_field :name, class: 'form-control', placeholder:  t('.name') %>
            <%= f.label :name, t('.name'), class: 'form-label' %>
        </div>

        <h2><%= t('.courses') %></h2>
        <% if @price_list.courses.nil? %>
            <% courses = [1, 5, 10, 15, 20, 25, 30] %>

            <% courses.each do |course| %>
                <div class="form-floating input-group">
                    <%= number_field_tag "price_list[course#{course}]", '', class: 'form-control', placeholder: "Course #{course}" %>
                    <%= label_tag "price_list[course#{course}]", "Course #{course}", class: 'form-label' %>
                    <span class="input-group-text">円</span>
                </div>
            <% end %>
        <% else %>
            <% @price_list.courses.each do |k, v| %>
                    <div class="form-floating input-group">
                        <%= number_field_tag k, v, class: 'form-control', placeholder: k %>
                        <%= label_tag k, k, class: 'form-label' %>
                        <span class="input-group-text">円</span>
                    </div>
            <% end %>
        <% end %>

        <%= f.submit class: 'btn btn-primary' %>
    <% end %>
</main>