<div class="card">
    <h2><%= link_to price_list.name, price_list_path(price_list) %></h2>    
    
    <table class="table">
        <thead>
            <tr class="table-primary">
                <th>Course</th>
                <th>Price</th>
            </tr>
        </thead>
        <% price_list.courses.each do |k, v| %>
                <tr>
                    <td><%= k %></td>
                    <td><%= number_to_currency(v, unit: '円', precision: 0, locale: :ja) %></td>
                </tr>
        <% end %>
    </table>

    <div class="d-flex justify-content-center align-items-center gap-3">
        <%= link_to 'Edit', edit_price_list_path(price_list), class: 'btn btn-primary' %>
        
        <%= link_to 'Delete', price_list_path(price_list), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{price_list.name}?"}, class: 'btn btn-danger' %>
    </div>
</div>
