<h3><%= t(".#{title}") %></h3>
<table>
    <tr>
        <th><%= t('.course') %></th>
        <th><%= t('.price') %></th>
    </tr>

    <% price_list.courses.each do |course, price| %>
        <tr>
            <td><%= course %></td>
            <td><%= price %></td>
        </tr>
    <% end %>
</table>
