-# locals: (price_list:)

.card
  %h2= price_list.name

  %table.table
    %thead
      %tr.table-primary
        %th Course
        %th Price
    - price_list.courses.each do |k, v|
      %tr
        %td= k
        - if v
          %td= number_to_currency(v)
        - else
          %td.fw-bold.text-danger Not set

  = link_to 'Edit', edit_price_list_path(price_list), class: 'btn btn-primary'

  = render 'price_lists/used_by', price_list: price_list
