<div class="option">
    <% opt_registration = child.registrations.find_by(registerable: option) %>

    <% if opt_registration.nil? %>
        <%= turbo_frame_tag "child#{child.id}_opt#{option.id}" do %>
            <%= form_with model: Registration.new do |f| %>
                <%= option.name %>
                <%= f.hidden_field :cost, value: option.cost %>
                <%= f.hidden_field :child_id, value: child.id %>
                <%= f.hidden_field :registerable_id, value: option.id %>
                <%= f.hidden_field :registerable_type, value: 'Option' %>
                <%= f.submit t('.reg_for_opt'), class: 'button' %>
            <% end %>
        <% end %>
    <% end %>

    <% unless opt_registration.nil? %>
        <%= turbo_frame_tag "child#{child.id}_opt#{option.id}" do %>
            <%= option.name %>
            <%= link_to t('.delete'), registration_path(opt_registration), data: {turbo_method: :delete, turbo_confirm: t('.delete_confirm')}, class: 'button' %>
        <% end %>
    <% end %>
</div>