<% if opt.name == 'なし' %>
    <div class="add_reg w-100 form-check d-flex justify-content-center align-items-center"
        data-controller="new-register"
        data-new-register-id-value="0"
        data-new-register-type-value="Radio"
        data-new-register-child-value=<%= child_id %>
        data-new-register-cost-value="0"
        data-new-register-name-value=<%= opt.name %>>

        <label for="<%= "arrival#{opt.optionable_id}opt0" %>"
            data-new-register-target="name"
            class="form-check-label me-2">
            <%= opt.name %>
        </label>

        <input type="radio"
            name=<%= "arrival#{opt.optionable_id}child#{child_id}" %>
            id="<%= "arrival#{opt.optionable_id}opt0" %>"
            <%= 'checked' if checked %>
            data-new-register-target='button'
            data-action="change->new-register#toggle"
            class="form-check-input m-0">
    </div>
<% else %>
    <div class="add_reg w-100 form-check d-flex justify-content-center align-items-center"
        data-controller="new-register"
        data-new-register-id-value=<%= opt.id %>
        data-new-register-type-value="Radio"
        data-new-register-child-value=<%= child_id %>
        data-new-register-cost-value=<%= opt.cost %>
        data-new-register-name-value=<%= opt.name %>>

        <label for="<%= "arrival#{opt.optionable_id}opt#{opt.id}" %>"
            data-new-register-target="name"
            class="form-check-label">
            <%= opt.name %>
        </label>

        <input type="radio"
            name=<%= "arrival#{opt.optionable_id}child#{child_id}" %>
            id="<%= "arrival#{opt.optionable_id}opt#{opt.id}" %>"
            <%= 'checked' if checked %>
            data-new-register-target='button'
            data-action="change->new-register#toggle"
            class="form-check-input m-0">
    </div>
<% end %>

