<% slots = event.time_slots
                .select { |s| s.morning || s.special? }
                .sort_by { |s| s.start_time } %>

<div class="daily-attendance card flex-column flex-lg-row flex-wrap justify-content-around gap-3 mb-5"
     data-controller="print"
     data-print-target="print">
    <h3 class="w-100">
        <%= link_to event.name, children_path(source: 'event', id: event.id) %>
    </h3>

    <% slots.each do |slot| %>
        <% regs = slot.registrations.size %>

        <div class="card <%= case
                            when regs < 10
                                'bg-danger'
                            when regs < 20
                                'bg-warning'
                            else
                                'bg-success'
                            end %> justify-content-between text-white fw-semibold">
            <h6 class="bg-light rounded-3 p-2">
                <%= link_to name_date(slot), children_path(source: 'time_slot', id: slot.id), class: 'fw-semibold' %>
            </h6>
            <h3>
                <%= regs %>
            </h3>
        </div>
    <% end %>

    <%= button_tag t('.print'),
            class: 'btn btn-primary w-100 print',
            data: { action: "click->print#print" } %>
</div>
