<div class="event">
    <%= link_to image_tag("#{event.name.downcase.gsub(' ', '_')}.jpg"), event_path(event) %>
    <h2><%= event.description %></h2>
    <p>
        <% if current_user.staff? %>
            <%= turbo_frame_tag "event#{event.id}_reg_count" do %>
                <%= link_to t('.reg_count', num_kids: event.children.distinct.size), children_path(source: 'Event', id: event.id) %>
            <% end %>
        <% else %>
            <%= turbo_frame_tag "event#{event.id}_reg_count" do %>
                <%= t('.reg_count', num_kids: event.children.distinct.size) %>
            <% end %>
        <% end %>
    </p>

    <% unless current_user.customer? %>
        <div class="event_management">
            <%= link_to t('.edit'), edit_event_path(event), class: 'button' %>
            <%= link_to t('.delete'), event_path(event), data: {turbo_method: :delete, turbo_confirm: t('.delete_confirm')}, class: 'button' %>
        </div>
    <% end %>
</div>