<div class="card d-grid">
    <% if current_user.staff? && child.nil? %>
    
        <%= (link_to image_tag(url_for(event.image), class: 'img-fluid img-thumbnail'), children_path(source: 'Event', id: event.id)) unless event.image.blank? %>
    
        <div class="d-flex justify-content-center align-items-center flex-column flex-grow-1 gap-3">
            <h2 class="fw-bold">
                <%= link_to t('.title', name: event.name, school: event.school.name), children_path(source: 'Event', id: event.id) %>
            </h2>
            <p><%= event.f_start_date %></p>
        </div>

        <%= link_to 'Edit Event', edit_event_path(event), class: 'btn btn-primary' if current_user.admin? %>

    <% elsif child %>
    
        <%= (link_to image_tag(url_for(event.image), class: 'img-fluid img-thumbnail'), event_path(id: event, child: child.id), class: 'w-100') unless event.image.blank? %>

        <div class="d-flex justify-content-center align-items-center flex-column flex-grow-1 gap-3">
            <h2 class="fw-bold">
                <%= link_to t('.title', name: event.name, school: event.school.name), event_path(id: event, child: child.id) %>
            </h2>
            <p><%= event.f_start_date %></p>
        </div>
        <% unless Event.upcoming.empty? %>
            <button class="btn btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#school_select" aria-expanded="false" aria-controls="school_select">
              <%= t('.diff_school_reg') %>
            </button>

            <div class="collapse" id="school_select">
                <%= form_with method: :get, 
                            url: :diff_school_path,
                            html: { class: 'd-grid gap-3' } do |f| %>
                    <%= f.hidden_field :child, value: child.id %>

                    <%# For all schools other than test and online, create an option with the text as the school name and the value as id of the next event at that school %>
                    <div>
                        <%= f.label :id, t('.diff_school') %>
                        <%= f.collection_select :id,
                                                School.real.includes(:upcoming_events),
                                                proc { |s| s.upcoming_events.first.id },
                                                :name,
                                                {},
                                                class: 'form-select' %>
                    </div>

                    <%= f.submit t('.reg_at_selected'), class: 'btn btn-primary' %>
                <% end %>
            </div>
        <% end %>

    <% else %>
    
        <%= (link_to image_tag(url_for(event.image), class: 'img-fluid img-thumbnail'), event_path(id: event, child: current_user.children.first.id)) unless event.image.blank? %>

        <div class="d-flex justify-content-center align-items-center flex-column flex-grow-1 gap-3">
            <h2 class="fw-bold">
                <%= link_to t('.title', name: event.name, school: event.school.name), event_path(id: event, child: current_user.children.first.id) %>
            </h2>
            <p><%= event.f_start_date %></p>
        </div>

                <button class="btn btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#school_select" aria-expanded="false" aria-controls="school_select">
          <%= t('.diff_school_reg') %>
        </button>

        <div class="collapse" id="school_select">
            <%= form_with method: :get, url: :diff_school_path, html: { class: 'd-grid gap-3' } do |f| %>
                <div>
                    <%= f.label :id, t('.diff_school') %>
                    <%= f.collection_select :id, School.all.where.not(id: [1, 2]), :id, :name, {}, class: 'form-select' %>
                </div>

                <%= f.submit t('.reg_at_selected'), class: 'btn btn-primary' %>
            <% end %>
        </div>
    
    <% end %>
</div>