<div class="event">
    <%= link_to image_tag(url_for(event.images.first)), event_path(event) unless event.images.empty? %>
    <h2><%= link_to event.description, event_path(event) %></h2>
    <p>
        <% if current_user.staff? %>
            <%= turbo_frame_tag "event#{event.id}_reg_count" do %>
                <%= link_to t('.reg_count', num_kids: event.children.distinct.size), children_path(source: 'Event', id: event.id) %>
            <% end %>
        <% else %>
            <%= turbo_frame_tag "event#{event.id}_reg_count" do %>
                <%= t('.reg_count', num_kids: event.children.distinct.size) %>
            <% end %>
        <% end %>
    </p>

    <div class="options_container">
        <h3><%= t('.event_options') %></h3>
        <% if current_user.staff? %>
            <% event.children.distinct.each do |c| %>
                <div class="option">
                    <p class="name">
                        <%= c.name %>
                    </p>
                    <%= render event.options, child: c, paid: false %>
                </div>
            <% end %>
        <% else %>
            <% current_user.children.each do |c| %>
                <div class="option">
                    <p class="name">
                        <%= c.name %>
                    </p>
                    <%= render event.options, child: c, paid: false %>
                </div>
            <% end %>
        <% end %>
    </div>

    <% unless current_user.customer? %>
        <div class="event_management">
            <%= link_to t('.edit'), edit_event_path(event), class: 'button' %>
            <%= link_to t('.delete'), event_path(event), data: {turbo_method: :delete, turbo_confirm: t('.delete_confirm')}, class: 'button' %>
        </div>
    <% end %>
</div>