<%= form_with model: @event, data: { controller: :fields }, class: 'event_form' do |f| %>

    <% if @event.errors.any? %>
        <div class="errors">
            <h3><%= t('.unable_to_save', event: @event.name) %></h3>
            <ul>
                <% @event.errors.full_messages.each do |error| %>
                    <li><%= error %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="event_fields">
        <div class="field">
            <%= f.label :image, t('.event_image') %><br />
            <%= f.file_field :image %>
        </div>

        <div class="field">
            <%= f.label :name, t('.name') %><br />
            <%= f.text_field :name %>
        </div>

        <div class="field">
            <%= f.label :description, t('.description') %><br />
            <%= f.text_area :description %>
        </div>

        <div class="field">
            <%= f.label :start_date, t('.start_date') %><br />
            <%= f.date_field :start_date %>
        </div>

        <div class="field">
            <%= f.label :end_date, t('.end_date') %><br />
            <%= f.date_field :end_date %>
        </div>

        <div class="field">
            <%= f.label :school_id, t('.school') %><br />
            <%= f.collection_select :school_id, School.order(:name), :id, :name %>
        </div>

        <div class="field">
            <%= f.label :member_prices_id, t('.member_prices') %><br />
            <%= f.collection_select :member_prices_id, PriceList.order(:name), :id, :name %>
        </div>

        <div class="field">
            <%= f.label :non_member_prices_id, t('.non_member_prices') %><br />
            <%= f.collection_select :non_member_prices_id, PriceList.order(:name), :id, :name %>
        </div>
    </div>

    <div class="time_slots">
        <template data-fields-target="template">
            <%= f.fields_for :time_slots, TimeSlot.new(event_id: @event.id), child_index: 'CHILD' do |slot_f| %>
                <%= render 'events/slot_fields', f: slot_f %>
            <% end %>
        </template>
        
        <%= f.fields_for :time_slots do |slot_f| %>
            <%= render 'events/slot_fields', f: slot_f %>
        <% end %>
        
        <div data-fields-target="target"></div>
    </div>

    <div class="actions">
        <%= button_tag t('.add_time_slot'), data: { action: "fields#add" }, class: 'button' %>
        <%= f.submit class: 'button' %>
    </div>
<% end %>