-# locals: (child:, price_list:)

.d-flex.w-100.justify-content-center.align-items-center.flex-shrink-1.gap-3
  %table.table.table-sm.table-info.table-striped.table-hover.text-center
    %caption.caption-top.text-center
      %h3.text-start
        = child.member? ? t('.member_prices') : t('.non_member_prices')
    %thead
      %tr
        %th= t('.course')
        %th= t('.price')
    %tbody
      - price_list.courses.each do |course, price|
        - next if price.blank?

        %tr
          %td= course
          %td= number_to_currency(price, unit: '円', precision: 0, locale: :ja)
