<main id="event_show">

    <div class="wrap-collapsible"> 
        <input id="collapsible" class="toggle" type="checkbox"> 
        <label for="collapsible" class="lbl-toggle button"><%= t('.price_lists') %></label>

        <div class="collapsible-content">
            <div class="content-inner">
                <p>    
                    <%= render @member_prices, title: 'member_prices' %>
                    <%= render @non_member_prices, title: 'non_member_prices' %>
                </p>
            </div>
        </div>
    </div>
    



    <%= render partial: 'time_slots/add_slot', collection: @event_slots %>
    
    <div id="price_bar">
        <%# TODO: Leave the details for later, just a scaffold %>

        <%= button_tag t('.cost_breakdown'), class: 'button' %>
        <h2 id="total_cost">Cost goes here</h2>
        
        <% if @invoice.nil? %>
            <%= form_with model: Invoice.new do |f| %>
                <%= f.submit class: 'button' %>
            <% end %>
        <% else %>
            <%= form_with model: @invoice do |f| %>
                <%= f.submit class: 'button' %>
            <% end %>
        <% end %>
    </div>
</main>
