<% all_registered_slots = @child.time_slots.where(event_id: @event.id) %>
<% registered_slots = @child.time_slots.morning.where(event_id: @event.id) %>
<% unregistered_slots = @event.time_slots.morning.where.not(id: registered_slots.ids) %>
<% active_invoice = @all_invoices.find { |i| i.in_ss == false } %>
<% registrations = @all_invoices.reduce([]) { |array, invoice| array + invoice.registrations } %>
<% adjustments = @all_invoices.reduce([]) { |array, inv| array + inv.adjustments } %>
<% slots_in_ss = @all_invoices.select { |invoice| invoice.in_ss }.reduce([]) { |array, invoice| array + invoice.slot_regs } %>
<% opts_in_ss = @all_invoices.select { |invoice| invoice.in_ss }.reduce([]) { |array, invoice| array + invoice.opt_regs } %>
<% event_cost = @child.parent.invoices.where(event_id: @event.id).reduce(0) { |sum, invoice| sum + invoice.total_cost } unless @child.parent.nil? %>
<% others_cost = @child.parent.invoices.where(event_id: @event.id).where.not(child_id: @child.id).reduce(0) { |sum, invoice| sum + invoice.total_cost } unless @child.parent.nil? %>


<main id="event_show" 
      data-controller="invoice price"
      data-action="register:toggle->invoice#change invoice:add@window->price#calculate invoice:remove@window->price#calculate"
      data-price-member-price-value=<%= @member_prices.courses.to_json unless @member_prices.nil? %>
      data-price-non-member-price-value=<%= @non_member_prices.courses.to_json unless @non_member_prices.nil? %>
      data-price-other-cost-value="<%= others_cost || 0 %>"
      class="d-flex flex-column justify-content-start align-items-start text-start bg-white">

    <div class="d-flex justify-content-between align-items-center flex-wrap gap-3 w-100">
        <h1 class="fw-bolder text-center"><%= t('.title', name: @event.name, school: @event.school.name) %></h1>

        <% unless @child.parent.nil? %>
            <div class="card bg-info">
                <h4 data-price-target="eventCost"><%= t('.event_cost', cost: number_to_currency(event_cost, unit: '円', precision: 0, locale: :ja), event: @event.name) %></h4>
                <p>複数のお子様のお申し込みをされた場合、合算された金額となります。</p>
            </div>
        <% end %>
    </div>

    <table class="table table-info table-striped table-hover text-center align-middle">
        <tbody>
            <tr>
                <td class="fw-bold text-secondary"><%= t('.regs_for', child: @child.name) %></td>
                <td>
                    <%= link_to event_path(id: @event.id, child: @child.id) do %>
                        <div class="child bg-info rounded-pill p-2 text-white active" data-price-target="child">
                            <div class="hidden"><%= "#{@child.id}" %></div>
                            <%= @child.name %>
                            <p class="hidden level"><%= (@child.kindy) ? 'Kindy' : "Elementary" %></p>
                            <% if @child.member? %>
                                <p class="hidden membership">Yes</p>
                            <% else %>
                                <p class="hidden membership">No</p>
                            <% end %>
                        </div>
                    <% end %>
                </td>
            </tr>

            <% @children.reject { |c| c.id == @child.id }.each do |child| %>
                <tr>
                    <td>
                        <%=
                        link_to t('.copy_regs', from: @child.name, to: child.name),
                        copy_invoice_path(origin: @child.id, target: child.id, event: @event.id), class: 'copy text-black-50',
                        data: {
                            turbo_method: :put,
                            turbo_confirm: "#{@child.name}から#{child.name}にお申込内容をコピーしてよろしいですか？「OK」を押すと#{child.name}のお申込内容がスクールに送信されます。"
                            } unless child.id == @child.id
                        %>
                    </td>
                    <td>
                        <%= link_to event_path(id: @event.id, child: child.id) do %>
                            <div class="child bg-info rounded-pill p-2 text-white">
                                <div class="hidden"><%= "#{child.id}" %></div>
                                <%= child.name %>
                                <p class="hidden level"><%= (child.kindy) ? 'Kindy' : "Elementary" %></p>
                                <% if child.member? %>
                                    <p class="hidden membership"><%= t('.member') %></p>
                                <% else %>
                                    <p class="hidden membership"><%= t('.non_member') %></p>
                                <% end %>
                            </div>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <% if @children.size > 1 %>
        <h5 class="text-center">＋ボタンを押すと、お子様のお申込内容を他のお子様に反映させることができ、ご兄弟で同じ日程のお申込が出来ます。（反映させる前に、1人目のお申込を確定させる必要がございます。）</h5>
    <% end %>

    <h5 class="text-center w-100">通常レッスン日(午後)は選択しないでください。</h5>

    <hr class="border border-secondary border-1 w-100">

    <% unless @event.options.empty? %>
        <% @event.options.each do |opt| %>
            <% if @child.siblings.any? { |sib| sib.registered?(opt) } %>
                <div class="d-flex gap-2 align-items-center">
                    <h4><%= "#{opt.name}: #{t('.sibling_reg', opt: opt.name)}" %></h4>
                </div>
            <% elsif opts_in_ss.any? { |reg| reg.registerable_id == opt.id } %>
                <div class="d-flex gap-2 align-items-center">
                    <h4><%= "#{opt.name} (#{number_to_currency(opt.cost, unit: '円', precision: 0, locale: :ja)}): ◯" %></h4>
                </div>
            <% else %>
                <% opt_registered = registrations.any? { |reg| reg.child_id == @child.id && reg.registerable_id == opt.id } %>
                <div class="d-flex gap-2 align-items-center"
                    data-controller="register"
                    data-register-id-value=<%= opt.id %>
                    data-register-type-value="Option"
                    data-register-child-value=<%= @child.id %>
                    data-register-cost-value=<%= opt.cost %>>
                    <h4 data-register-target="name"><%= "#{opt.name} (#{number_to_currency(opt.cost, unit: '円', precision: 0, locale: :ja)})" %></h4>
                    <%= check_box_tag '', '', (true if opt_registered), class: 'form-check-input', data: { action: 'register#toggle', 'register-target': 'button' } %>
                </div>
            <% end %>
        <% end %>
    <% end %>

    <div class="accordion w-100" id="accordionEvent">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed text-bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#event-collapseOne" aria-expanded="false" aria-controls="event-collapseOne">
                    <%= t('.more_info') %>
                </button>
            </h2>

            <div id="event-collapseOne" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <div class="d-flex w-100 justify-content-center align-items-center flex-shrink-1 gap-3">
                        <% if @child.member? && !@member_prices.nil? %>
                            <table class="table table-sm table-info table-striped table-hover text-center">
                                <caption class="caption-top text-center">
                                    <h3 class="text-start"><%= t('.member_prices') %></h3>
                                </caption>
                                <thead>
                                    <tr>
                                        <th><%= t('.course') %></th>
                                        <th><%= t('.price') %></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @member_prices.courses.each do |course, price| %>
                                        <tr>
                                            <td><%= course %></td>
                                            <td><%= number_to_currency(price, unit: '円', precision: 0, locale: :ja)  %></td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        <% end %>
                        <% unless @child.member? || @non_member_prices.nil? %>
                            <table class="table table-sm table-info table-striped table-hover text-center">
                                <caption class="caption-top text-center">
                                    <h3 class="text-start"><%= t('.non_member_prices') %></h3>
                                </caption>
                                <thead>
                                    <tr>
                                        <th><%= t('.course') %></th>
                                        <th><%= t('.price') %></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @non_member_prices.courses.each do |course, price| %>
                                        <tr>
                                            <td><%= course %></td>
                                            <td><%= price %></td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        <% end %>
                    </div>
                    <% unless adjustments.empty? %>
                        <table class="table table-info table-striped table-hover text-center">
                            <caption class="caption-top">
                                <h3><%= t('.adjustments') %></h3>
                            </caption>
                            <thead>
                                <tr>
                                    <th><%= t('.change') %></th>
                                    <th><%= t('.reason') %></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% adjustments.each do |adj| %>
                                    <tr>
                                        <td data-price-target="adjChange"><%= adj.change %></td>
                                        <td><%= adj.reason %></td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    <% end %>
                    <% if @child.regular_schedule %>
                        <table class="table table-striped table-info text-center">
                            <thead>
                                <tr>
                                    <th><%= t('.regular_schedule') %></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <%= @child.regular_schedule.days %>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    <% end %>
                </div>
            </div>
        </div>
        

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button text-bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#event-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                    <%= t('.unregistered_slots') %>
                </button>
            </h2>
            <div id="event-collapseTwo" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <div class="d-flex flex-column flex-lg-row flex-lg-wrap justify-content-lg-around gap-3">
                        <%# Only internal kids can register for the family ice cream %>
                        <% if @event.id == 29 && !@child.internal? %>
                            <%= render partial: 'time_slots/add_slot', collection: unregistered_slots.reject { |slot| slot.name == "親子参加型！サイエンスアイスクリームを作ろう♪" }, locals: { child: @child, registrations: registrations, event: @event, slots_in_ss: slots_in_ss, opts_in_ss: opts_in_ss } %>
                        <% else %>                        
                            <%= render partial: 'time_slots/add_slot', collection: unregistered_slots, locals: { child: @child, registrations: registrations, event: @event, slots_in_ss: slots_in_ss, opts_in_ss: opts_in_ss } %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed text-bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#event-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    <%= t('.registered_slots') %>
                </button>
            </h2>

            <div id="event-collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <div class="d-flex flex-column flex-lg-row flex-lg-wrap justify-content-lg-around gap-3">
                        <%= render partial: 'time_slots/add_slot', collection: registered_slots, locals: { child: @child, registrations: registrations, event: @event, slots_in_ss: slots_in_ss, opts_in_ss: opts_in_ss } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div id="price_bar" class="w-100 d-flex justify-content-evenly align-items-center flex-wrap gap-2 bg-info p-2 rounded sticky-bottom">
        <h3 id="total_cost" class="text-white fw-bold" data-price-target="finalCost"><%="#{t('.total_cost')}: #{@all_invoices.reduce(0) {|sum, i| sum + i.total_cost}}円"%></h3>

        <div class="d-flex justify-content-around gap-2">
            <div class="d-flex flex-column gap-2">
                <div id="reg_details" class="collapse multi-collapse text-white">
                    <div id="reg_slots">
                        <% all_registered_slots.each do |slot| %>
                            <p><%= slot.name + (slot.morning ? ' (午前)' : ' (午後)') %></p>
                        <% end %>
                    </div>
                    <p data-price-target="specialCount"><%= t('.special_count', count: all_registered_slots.where(category: :special).size) %></p>
                    <p data-price-target="snackCount"><%= t('.snack_count', count: all_registered_slots.afternoon.size) %></p>
                    <p data-price-target="optCount"><%= t('.num_options', num: @all_invoices.reduce(0) { |sum, i| sum + i.options.size  })%></p>
                </div>
                <button class="btn btn-primary"
                        type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="collapseSlots">
                    <%= t('.see_more') %>
                </button>
            </div>
            <% @all_invoices.each do |invoice| %>
                <turbo-frame class="<%= "d-none" if invoice.in_ss %>">
                    <%= form_with model: invoice, url: confirm_invoice_path, data: { turbo: false, 'turbo-frame' => "child#{invoice.child_id}invoice#{invoice.id}" }, html: { class: 'align-self-center d-flex gap-3' } do |f| %>
                        <%= f.hidden_field :id %>
                        <%= f.hidden_field :child_id %>
                        <%= f.hidden_field :event_id %>
                        <div class="slot_regs" data-price-target="slotRegs">
                            <%= f.fields_for :slot_regs do |slot_f| %>
                                <div class="slot_reg <%= "child#{slot_f.object.child_id}" %>" id=<%= "slot#{slot_f.object.registerable_id}child#{slot_f.object.child_id}" %>>
                                    <%= slot_f.hidden_field :_destroy, value: 0 %>
                                    <%= slot_f.hidden_field :id %>
                                    <%= slot_f.hidden_field :child_id %>
                                    <%= slot_f.hidden_field :registerable_id %>
                                    <%= slot_f.hidden_field :registerable_type %>
                                </div>
                            <% end %>
                            <% unless f.object.in_ss %>
                                <div data-invoice-target="slotTarget"></div>
                            <% end %>
                        </div>
                        <div class="opt_regs" data-price-target="optRegs">
                            <%= f.fields_for :opt_regs do |opt_f| %>
                                <div class="opt_reg <%= "child#{opt_f.object.child_id}" %>" id=<%= "opt#{opt_f.object.registerable_id}child#{opt_f.object.child_id}" %>>
                                    <%= opt_f.hidden_field :_destroy, value: 0 %>
                                    <%= opt_f.hidden_field :id %>
                                    <%= opt_f.hidden_field :child_id %>
                                    <%= opt_f.hidden_field :registerable_id %>
                                    <%= opt_f.hidden_field :registerable_type %>
                                    <div class="opt_cost hidden registered" data-price-target="optCost"><%= @options.find { |opt| opt.id == opt_f.object.registerable_id }.cost %></div>
                                </div>
                            <% end %>
                            <% unless f.object.in_ss %>
                                <div data-invoice-target="optTarget"></div>
                            <% end %>
                        </div>
                        <template data-invoice-target="slotTemplate">
                            <%= f.fields_for :slot_regs, Registration.new, child_index: 'REG_INDEX' do |reg_f| %>
                                <div class="slot_reg NEW_CLASS" id="NEW_ID" data-new-record="<%= reg_f.object.new_record? %>">
                                    <%= reg_f.hidden_field :child_id, value: 'NEW_CHILD_ID' %>
                                    <%= reg_f.hidden_field :registerable_id, value: 'NEW_REGISTERABLE_ID' %>
                                    <%= reg_f.hidden_field :registerable_type, value: 'TimeSlot' %>
                                </div>
                            <% end %>
                        </template>
                        <template data-invoice-target="optTemplate">
                            <%= f.fields_for :opt_regs, Registration.new, child_index: 'REG_INDEX' do |reg_f| %>
                                <div class="opt_reg NEW_CLASS" id="NEW_ID" data-new-record="<%= reg_f.object.new_record? %>">
                                    <%= reg_f.hidden_field :child_id, value: 'NEW_CHILD_ID' %>
                                    <%= reg_f.hidden_field :registerable_id, value: 'NEW_REGISTERABLE_ID' %>
                                    <%= reg_f.hidden_field :registerable_type, value: 'Option' %>
                                    <div class="opt_cost hidden registered" data-price-target="optCost">NEW_COST</div>
                                </div>
                            <% end %>
                        </template>
                        <%= f.submit t('.confirm_invoice'), class: 'btn btn-primary w-100', data: { 'bs-toggle' => 'modal', 'bs-target' => "#child#{invoice.child_id}invoice#{invoice.id}" } unless f.object.in_ss %>
                    <% end %>
                </turbo-frame>
            <% end %>
        </div>
    </div>

    
    <turbo-frame 
        id=<%= "child#{active_invoice.child_id}invoice#{active_invoice.id}" %>
        class="modal fade"
        tabindex="-1">
        <div class="modal-dialog modal-fullscreen d-grid">
            <div class="modal-content d-grid gap-2">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('.close') %></button>
                </div>
            </div>
        </div>
    </turbo-frame>
</main>
