<% registered_slots = @event.time_slots.morning.joins(:registrations).where(registrations: { child_id: @child.id, invoice_id: @all_invoices.ids }).with_attached_image.includes(afternoon_slot: :options).includes(:options) %>
<% unregistered_slots = @event.time_slots.morning.where.not(id: registered_slots.ids).with_attached_image.includes(afternoon_slot: :options).includes(:options) %>
<% registrations = @all_invoices.reduce([]) { |array, invoice| array + invoice.registrations } %>
<% slots_in_ss = @all_invoices.select { |invoice| invoice.in_ss }.reduce([]) { |array, invoice| array + invoice.slot_regs } %>
<% opts_in_ss = @all_invoices.select { |invoice| invoice.in_ss }.reduce([]) { |array, invoice| array + invoice.opt_regs } %>

<main id="event_show" 
      data-controller="invoice price"
      data-action="register:toggle->invoice#change invoice:add@window->price#calculate invoice:remove@window->price#calculate"
      data-price-member-price-value=<%= @member_prices.courses.to_json unless @member_prices.nil? %>
      data-price-non-member-price-value=<%= @non_member_prices.courses.to_json unless @non_member_prices.nil? %>>

    <div id="children">
        <% @children.each do |child| %>
            <%= link_to event_path(id: @event.id, child: child.id) do %>
                <div class="child<%= ' active' if child.id == @child.id %>" <%= "data-price-target=child" if child.id == @child.id %>>
                    <div class="hidden"><%= "#{child.id}" %></div>
                    <div class="hidden hat"><%= child.needs_hat %></div>
                    <p><%= child.name %></p>
                    <p class="level"><%= child.level.capitalize.gsub(/\d+/, ' \0 ') %></p>
                    <% if child.member? %>
                        <p class="membership"><%= t('.member') %></p>
                    <% else %>
                        <p class="membership"><%= t('.non_member') %></p>
                    <% end %>

                    <%= link_to t('.copy_regs', child: child.name), 
                        copy_invoice_path(origin: @child.id, target: child.id, event: @event.id), class: 'button', 
                        data: { 
                            turbo_method: :put, 
                            turbo_message: "This will register #{child.name} for all the same time slots and options as #{@child.name}. None of #{child.name}'s existing registrations will be affected"
                            } unless child.id == @child.id %>
                </div>
            <% end %>
        <% end %>
    </div>

    <div class="wrap-collapsible"> 
        <input id="collapsible" class="toggle" type="checkbox"> 
        <label for="collapsible" class="lbl-toggle button"><%= t('.more_info') %></label>

        <div class="collapsible-content">
            <div class="content-inner">
                <p> 
                    <% unless @member_prices.nil? %>   
                        <div class="price_list">
                            <h3><%= t('.member_prices') %></h3>
                            <table>
                                <tr>
                                    <th><%= t('.course') %></th>
                                    <th><%= t('.price') %></th>
                                </tr>
                                <% @member_prices.courses.each do |course, price| %>
                                    <tr>
                                        <td><%= course %></td>
                                        <td><%= price %></td>
                                    </tr>
                                <% end %>
                            </table>
                        </div>
                    <% end %>

                    <% unless @non_member_prices.nil? %>
                        <div class="price_list">
                            <h3><%= t('.non_member_prices') %></h3>
                            <table>
                                <tr>
                                    <th><%= t('.course') %></th>
                                    <th><%= t('.price') %></th>
                                </tr>
                                <% @non_member_prices.courses.each do |course, price| %>
                                    <tr>
                                        <td><%= course %></td>
                                        <td><%= price %></td>
                                    </tr>
                                <% end %>
                            </table>
                        </div>
                    <% end %>

                    <div id="adjustments">
                        <h3><%= t('.adjustments') %></h3>
                        <div class="adjustment">
                            <p><%= t('.change') %></p>
                            <p><%= t('.reason') %></p>
                        </div>

                        <% @all_invoices.each do |invoice| %>
                            <% invoice.adjustments.each do |adj| %>
                                <div class="adjustment">
                                    <p data-price-target="adjChange"><%= adj.change %></p>
                                    <p><%= adj.reason %></p>
                                </div>
                            <% end %>
                        <% end %>
                    </div>

                    <% if @child.regular_schedule %>
                        <div class="schedule">
                            <h3><%= t('.regular_schedule') %></h3>

                            <p><%= @child.regular_schedule.days %></p>
                        </div>
                    <% end %>
                </p>
            </div>
        </div>
    </div>
        
    <% unless @event.options.empty? %>
        <h2><%= t('.event_options') %></h2>

        <% @event.options.each do |opt| %>
            <% if opts_in_ss.any? { |reg| reg.registerable_id == opt.id } %>
                <div class="event_option">
                    <p><%= "#{opt.name}: ✓" %></p>
                </div>
            <% else %>
                <% opt_registered = registrations.any? { |reg| reg.child_id == @child.id && reg.registerable_id == opt.id } %>
                <div class="event_option"
                    data-controller="register"
                    data-register-id-value=<%= opt.id %>
                    data-register-type-value="Option"
                    data-register-child-value=<%= @child.id %>
                    data-register-cost-value=<%= opt.cost %>>

                    <h4 data-register-target="name"><%= opt.name %></h4>

                    <button class="button <%= 'registered' if opt_registered %>" 
                        data-register-target="button" data-action="click->register#toggle"><%= 
                        if opt_registered
                            t('unregister')
                        else
                            t('register')
                        end
                    %></button>
                </div>
            <% end %>
        <% end %>
    <% end %>

    <h2><%= t('.unregistered_slots') %></h2>
    <%= render partial: 'time_slots/add_slot', collection: unregistered_slots, locals: { child: @child, registrations: registrations, event: @event, slots_in_ss: [], opts_in_ss: [] } %>

    <h2><%= t('.registered_slots') %></h2>
    <%= render partial: 'time_slots/add_slot', collection: registered_slots, locals: { child: @child, registrations: registrations, event: @event, slots_in_ss: slots_in_ss, opts_in_ss: opts_in_ss } %>
    

    <div id="price_bar">
        <h3 id="total_cost" data-price-target="finalCost"><%="#{t('.total_cost')}: #{@all_invoices.reduce(0) {|sum, i| sum + i.total_cost}}円"%></h3>

        <% @all_invoices.each do |invoice| %>
            <%= form_with model: invoice do |f| %>
                <div class="slot_regs" data-price-target="slotRegs">
                    <%= f.fields_for :slot_regs do |slot_f| %>
                        <div class="slot_reg <%= "child#{slot_f.object.child_id}" %>" id=<%= "slot#{slot_f.object.registerable_id}child#{slot_f.object.child_id}" %>>
                            <%= slot_f.hidden_field :_destroy, value: 0 %>
                            <%= slot_f.hidden_field :id %>
                            <%= slot_f.hidden_field :child_id %>
                            <%= slot_f.hidden_field :registerable_id %>
                            <%= slot_f.hidden_field :registerable_type %>
                        </div>
                    <% end %>
                    <div data-invoice-target="slotTarget"></div>
                </div>

                <div class="opt_regs" data-price-target="optRegs">
                    <%= f.fields_for :opt_regs do |opt_f| %>
                        <div class="opt_reg <%= "child#{opt_f.object.child_id}" %>" id=<%= "opt#{opt_f.object.registerable_id}child#{opt_f.object.child_id}" %>>
                            <%= opt_f.hidden_field :_destroy, value: 0 %>
                            <%= opt_f.hidden_field :id %>
                            <%= opt_f.hidden_field :child_id %>
                            <%= opt_f.hidden_field :registerable_id %>
                            <%= opt_f.hidden_field :registerable_type %>
                            <div class="opt_cost hidden registered" data-price-target="optCost"><%= @options.find { |opt| opt.id == opt_f.object.registerable_id }.cost %></div>
                        </div>
                    <% end %>
                    <div data-invoice-target="optTarget"></div>
                </div>

                <template data-invoice-target="slotTemplate">
                    <%= f.fields_for :slot_regs, Registration.new, child_index: 'REG_INDEX' do |reg_f| %>
                        <div class="slot_reg NEW_CLASS" id="NEW_ID" data-new-record="<%= reg_f.object.new_record? %>">
                            <%= reg_f.hidden_field :child_id, value: 'NEW_CHILD_ID' %>
                            <%= reg_f.hidden_field :registerable_id, value: 'NEW_REGISTERABLE_ID' %>
                            <%= reg_f.hidden_field :registerable_type, value: 'TimeSlot' %>
                        </div>
                    <% end %>
                </template>

                <template data-invoice-target="optTemplate">
                    <%= f.fields_for :opt_regs, Registration.new, child_index: 'REG_INDEX' do |reg_f| %>
                        <div class="opt_reg NEW_CLASS" id="NEW_ID" data-new-record="<%= reg_f.object.new_record? %>">
                            <%= reg_f.hidden_field :child_id, value: 'NEW_CHILD_ID' %>
                            <%= reg_f.hidden_field :registerable_id, value: 'NEW_REGISTERABLE_ID' %>
                            <%= reg_f.hidden_field :registerable_type, value: 'Option' %>
                            <div class="opt_cost hidden registered" data-price-target="optCost">NEW_COST</div>
                        </div>
                    <% end %>
                </template>

                <%= f.submit class: 'button' unless f.object.in_ss %>
            <% end %>
        <% end %>
    </div>
</main>
