<main id="event_show" data-controller="cart slot_select">
    <div class="slot_selection">
    <h2><%= t('.slot_select') %></h2>
        <% @slots.morning.each do |slot| %>
                <% if current_user.children.any? { |child| child.registered?(slot) } %>
                    <%= link_to '', class: 'slot_link attending' do %>
                        <%= image_tag(url_for(slot.images.first)) unless slot.images.empty? %>
                        <h2><%= slot.name if slot.images.empty? %></h2>
                    <% end %>
                <% else %>
                    <%= link_to '', class: 'slot_link not_attending' do %>
                        <%= image_tag(url_for(slot.images.first)) unless slot.images.empty? %>
                        <h2><%= slot.name if slot.images.empty? %></h2>
                    <% end %>
                <% end %>
        <% end %>
    </div>
    
    <h2><%= t('.upcoming_slots', event: @event.name) %></h2>
    <h3><%= link_to t('.all_slots', event: @event.name), time_slots_path(id: @event.id), class: 'button' %></h3>
    <div id="time_slot_container">
        <%= render partial: 'time_slots/time_slot', collection: @registered_slots, locals: { children: @children }%>
    </div>

    <div id="price_summary">
        <%# TODO: Leave the details for later, just a scaffold %>

        <%= button_tag t('.cost_breakdown'), class: 'button' %>
        <h2 id="total_cost">Cost goes here</h2>
        
        <%= form_with model: @event do |f| %>
            <%= f.submit t('.confirm_registrations'), class: 'button' %>
        <% end %>
    </div>
</main>
