<main id="event_show">
    
    <%= render partial: 'time_slots/add_slot', collection: @event_slots %>
    
    <div id="price_bar">
        <%# TODO: Leave the details for later, just a scaffold %>

        <%= button_tag t('.cost_breakdown'), class: 'button' %>
        <h2 id="total_cost">Cost goes here</h2>
        
        <% if @invoice.nil? %>
            <%= form_with model: Invoice.new do |f| %>
                <%= f.submit class: 'button' %>
            <% end %>
        <% else %>
            <%= form_with model: @invoice do |f| %>
                <%= f.submit class: 'button' %>
            <% end %>
        <% end %>
    </div>
</main>
