<main id="event_show" 
      data-controller="invoice price"
      data-action="register:toggle->invoice#change invoice:add@window->price#calculate invoice:remove@window->price#calculate"
      data-price-member-price-value=<%= @member_prices.courses.to_json unless @member_prices.nil? %>
      data-price-non-member-price-value=<%= @non_member_prices.courses.to_json unless @non_member_prices.nil? %>>

    <div class="wrap-collapsible"> 
        <input id="collapsible" class="toggle" type="checkbox"> 
        <label for="collapsible" class="lbl-toggle button"><%= t('.price_lists') %></label>

        <div class="collapsible-content">
            <div class="content-inner">
                <p> 
                    <% unless @member_prices.nil? %>   
                        <div class="price_list">
                            <h3><%= t('.member_prices') %></h3>
                            <table>
                                <tr>
                                    <th><%= t('.course') %></th>
                                    <th><%= t('.price') %></th>
                                </tr>
                                <% @member_prices.courses.each do |course, price| %>
                                    <tr>
                                        <td><%= course %></td>
                                        <td><%= price %></td>
                                    </tr>
                                <% end %>
                            </table>
                        </div>
                    <% end %>

                    <% unless @non_member_prices.nil? %>
                        <div class="price_list">
                            <h3><%= t('.non_member_prices') %></h3>
                            <table>
                                <tr>
                                    <th><%= t('.course') %></th>
                                    <th><%= t('.price') %></th>
                                </tr>
                                <% @non_member_prices.courses.each do |course, price| %>
                                    <tr>
                                        <td><%= course %></td>
                                        <td><%= price %></td>
                                    </tr>
                                <% end %>
                            </table>
                        </div>
                    <% end %>

                    <div class="children">
                        <h3><%= t('.children') %></h3>
                        <% @children.each do |child| %>
                            <div class="child" data-price-target="child">
                                <div class="hidden"><%= "#{child.id}" %></div>
                                <p><%= child.name %>:</p>
                                <% if child.member? %>
                                    <p id="child<%= child.id %>membership"><%= t('.member') %></p>
                                <% else %>
                                    <p id="child<%= child.id %>membership"><%= t('.non_member') %></p>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                </p>
            </div>
        </div>
    </div>
    

    <% @children.each do |child| %>
        <h2><%= t('.regs_for', child: child.name) %></h2>

        <% unless @event.options.empty? %>
            <h2><%= t('.event_options') %></h2>

            <% @event.options.each do |opt| %>
                <div class="event_option"
                    data-controller="register"
                    data-register-id-value=<%= opt.id %>
                    data-register-type-value="Option"
                    data-register-child-value=<%= child.id %>
                    data-register-cost-value=<%= opt.cost %>>

                    <h4 data-register-target="name"><%= opt.name %></h4>

                    <button class="button <%= 'registered' if child.registered?(opt) %>" 
                        data-register-target="button" data-action="click->register#toggle"><%= 
                        if child.registered?(opt)
                            t('unregister')
                        else
                            t('register')
                        end
                        %></button>
                </div>
            <% end %>
        <% end %>

<%# TODO: these aren't supposed to produce n + 1 queries but they do %>
        <h2><%= t('.unregistered_slots') %></h2>
        <%= render partial: 'time_slots/add_slot', collection: @event_slots.select { |slot| slot.registrations.where(child: child).size.zero? }, locals: { child: child, registered: false } %>

        <h2><%= t('.registered_slots') %></h2>
        <%= render partial: 'time_slots/add_slot', collection: @invoice_slots.where('registrations.child_id = ?', child.id), locals: { child: child, registered: true } %>

    <% end %>
    

    <div id="price_bar">
        <h3 id="total_cost" data-price-target="finalCost"><%=
        if @invoice.nil?
            "#{t('.total_cost')}: 0円"
        else
            "#{t('.total_cost')}: #{@invoice.total_cost}円"
        end
        %>
        </h3>

        <%= form_with model: @invoice || Invoice.new do |f| %>
            <div class="slot_regs" data-price-target="slotRegs">
                <%= f.fields_for :slot_regs do |slot_f| %>
                    <div class="slot_reg <%= "child#{slot_f.object.child_id}" %>" id=<%= "slot#{slot_f.object.registerable_id}child#{slot_f.object.child_id}" %>>
                        <%= slot_f.hidden_field :_destroy, value: 0 %>
                        <%= slot_f.hidden_field :id %>
                        <%= slot_f.hidden_field :child_id %>
                        <%= slot_f.hidden_field :registerable_id %>
                        <%= slot_f.hidden_field :registerable_type %>
                    </div>
                <% end %>
                <div data-invoice-target="slotTarget"></div>
            </div>

            <div class="opt_regs" data-price-target="optRegs">
                <%= f.fields_for :opt_regs do |opt_f| %>
                    <div class="opt_reg <%= "child#{opt_f.object.child_id}" %>" id=<%= "opt#{opt_f.object.registerable_id}child#{opt_f.object.child_id}" %>>
                        <%= opt_f.hidden_field :_destroy, value: 0 %>
                        <%= opt_f.hidden_field :id %>
                        <%= opt_f.hidden_field :child_id %>
                        <%= opt_f.hidden_field :registerable_id %>
                        <%= opt_f.hidden_field :registerable_type %>
                        <div class="opt_cost hidden registered" data-price-target="optCost"><%= @options.find { |opt| opt.id == opt_f.object.registerable_id }.cost %></div>
                    </div>
                <% end %>
                <div data-invoice-target="optTarget"></div>
            </div>

            <template data-invoice-target="slotTemplate">
                <%= f.fields_for :slot_regs, Registration.new, child_index: 'REG_INDEX' do |reg_f| %>
                    <div class="slot_reg NEW_CLASS" id="NEW_ID" data-new-record="<%= reg_f.object.new_record? %>">
                        <%= reg_f.hidden_field :child_id, value: 'NEW_CHILD_ID' %>
                        <%= reg_f.hidden_field :registerable_id, value: 'NEW_REGISTERABLE_ID' %>
                        <%= reg_f.hidden_field :registerable_type, value: 'TimeSlot' %>
                    </div>
                <% end %>
            </template>

            <template data-invoice-target="optTemplate">
                <%= f.fields_for :opt_regs, Registration.new, child_index: 'REG_INDEX' do |reg_f| %>
                    <div class="opt_reg NEW_CLASS" id="NEW_ID" data-new-record="<%= reg_f.object.new_record? %>">
                        <%= reg_f.hidden_field :child_id, value: 'NEW_CHILD_ID' %>
                        <%= reg_f.hidden_field :registerable_id, value: 'NEW_REGISTERABLE_ID' %>
                        <%= reg_f.hidden_field :registerable_type, value: 'Option' %>
                        <div class="opt_cost hidden registered" data-price-target="optCost">NEW_COST</div>
                    </div>
                <% end %>
            </template>

            <%= f.submit class: 'button' %>
        <% end %>
    </div>
</main>
