<div class="d-flex justify-content-center align-items-center gap-5 p-3 w-100 text-center">
    <div class="d-flex flex-column">
        <h2 class="fw-semibold text-primary">
            <% if @data[:invoices].empty? %>
              0円
            <% else %>
                <%= number_to_currency(@data[:invoices].average(:total_cost),
                        unit: '円',
                        precision: 0,
                        locale: :ja) %>
            <% end %>
        </h2>
        <p>Average Booking Cost</p>
    </div>
    <div class="d-flex flex-column">
        <h2 class="fw-semibold text-primary">
            <% if @data[:invoices].empty? || @data[:regs].empty? %>
                0
            <% else %>
                <%= (@data[:regs].size.to_f / @data[:invoices].size).round(2) %>
            <% end %>
        </h2>
        <p>Activities per Booking</p>
    </div>
</div>

<div class="w-100 d-flex">
    <%= line_chart @data[:regs].group_by_day(:created_at).count,
                   title: "Daily Registrations",
                   height: "50vh" %>
    <%= line_chart @data[:invoices]
                        .group_by_day(:created_at)
                        .sum(:total_cost),
                   title: "Daily Revenue",
                   suffix: "円",
                   height: "50vh" %>
</div>
    
<div class="w-100 d-flex">
    <%= line_chart @data[:regs].group_by_week(:created_at).count,
                   title: "Weekly Registrations",
                   height: "50vh" %>
    <%= line_chart @data[:invoices]
                        .group_by_week(:created_at)
                        .sum(:total_cost),
                   title: "Weekly Revenue",
                   suffix: "円",
                   height: "50vh" %>
</div>

<div class="w-100 d-flex">
    <%= column_chart @data[:regs]
                          .group_by_day_of_week(:created_at, format: '%A')
                          .count,
                     title: 'Registrations by Day of the Week',
                     height: '50vh' %>

    <%= column_chart @data[:regs].group_by_hour_of_day(:created_at).count,
                     title: 'Registrations by Hour of Day',
                     height: '50vh' %>
</div>

<% if @nav[:school].id.zero? %>
    <%= column_chart @data[:invoices]
                          .group(:event_id)
                          .average(:total_cost)
                          .to_h { |k, v| [@nav[:schools].find { |s| s.id == k }.name, v] }
                          .sort_by { |_k, v| v}
                          .reverse, 
                     title: 'Average Booking Cost by School',
                     round: 0,
                     suffix: "円",
                     height: '50vh' %>
<% end %>