<nav class="w-100 d-flex gap-5 p-3 justify-content-center align-items-center">
    <% if current_user.admin? || current_user.area_manager? %>
        <details class="flex-grow-1">
            <summary class="card p-2 bg-primary text-white fw-semibold">
                <h2>スクール: <%= @nav[:school].name %></h2>
            </summary>
            <div class="d-flex flex-wrap justify-content-between gap-2 my-2">
                <%= link_to (current_user.admin? ? "All Schools" : "Area Schools"),
                            charts_path(
                                category: @nav[:category],
                                event: @nav[:event]
                            ),
                            class: "card p-2 #{' bg-primary text-white fw-semibold' if @nav[:school].id == 0}" %>
                <% @nav[:schools].each do |s| %>
                    <%= link_to s.name,
                                chart_path(id: s.id,
                                           category: @nav[:category],
                                           event: @nav[:event]),
                                class: "card p-2 #{' bg-primary text-white fw-semibold' if @nav[:school].id == s.id}"  %>
                <% end %>
            </div>
        </details>
    <% end %>
    
    <details>
        <summary class="card p-2 bg-primary text-white fw-semibold">
            <h2>イベント: <%= @nav[:event] %></h2>
        </summary>
        <div class="d-flex flex-column gap-1 my-1">
            <% @nav[:events].each do |e| %>
                <% if @nav[:school].id.zero? %>
                    <%= link_to e,
                                charts_path(category: @nav[:category], event: e),
                                class: "card p-1 #{' bg-primary text-white fw-semibold' if e == @nav[:event]}" %>
                <% else %>
                    <%= link_to e,
                                chart_path(id: @nav[:school].id, category: @nav[:category], event: e),
                                class: "card p-1 #{' bg-primary text-white fw-semibold' if e == @nav[:event]}" %>
                <% end %>
            <% end %>
        </div>
    </details>
    
    <details>
        <summary class="card p-2 bg-primary text-white fw-semibold">
            <h2>カテゴリー: <%= t(".#{@nav[:category]}") %></h2>
        </summary>
        <div class="d-flex flex-column gap-1 my-1">
            <% @nav[:categories].each do |c| %>
                <% if @nav[:school].id.zero? %>
                  <%= link_to t(".#{c}"),
                              charts_path(category: c, event: @nav[:event]),
                              class: "card p-1 #{' bg-primary text-white fw-semibold' if c == @nav[:category]}" %>
                <% else %>
                  <%= link_to t(".#{c}"),
                              chart_path(id: @nav[:school].id, category: c, event: @nav[:event]),
                              class: "card p-1 #{' bg-primary text-white fw-semibold' if c == @nav[:category]}" %>
                <% end %>
            <% end %>
        </div>
    </details>
</nav>