:ruby
  total_setsu = @setsumeikais.size
  total_inquiries = @inquiries.size
  setsu_inq_count = @setsumeikais.sum(:inquiries_count)
  setsu_created_per_month = @setsumeikais.group_by_month(:created_at).count
  setsu_held_per_month = @setsumeikais.group_by_month(:start).count
  months_with_setsu = setsu_held_per_month.keys.size.to_f

.d-flex.justify-content-center.align-items-center.gap-4.p-3.w-100.text-center
  = render 'charts/highlight_box',
           data: total_setsu,
           text: t('.total_setsumeikais')
  = render 'charts/highlight_box',
           data: total_inquiries,
           text: t('.total_inquiries')
  = render 'charts/highlight_box',
           data: (setsu_inq_count / total_setsu.to_f).round(2),
           text: t('.inquiries_per_setsumeikai')
  = render 'charts/highlight_box',
           data: (total_setsu / months_with_setsu).round(2),
           text: t('.avg_monthly_setsumeikais_held')
  = render 'charts/highlight_box',
           data: (total_inquiries / months_with_setsu).round(2),
           text: t('.avg_monthly_inquiries')

= render 'charts/setsu_table',
         monthly_setsu: @monthly_setsu,
         schools: @nav[:schools]

= line_chart setsu_created_per_month,
             title: t('.monthly_created_setsumeikais'),
             height: '45vh'
= line_chart setsu_held_per_month,
             title: t('.monthly_held_setsumeikais'),
             height: '45vh'
= line_chart @inquiries.group(:category).group_by_month(:created_at).count,
             title: t('.monthly_inquiries'),
             height: '45vh'

= render 'charts/setsu_all_schools' if @nav[:school].id.zero?

.d-flex.w-100
  = pie_chart @inquiries.group(:referrer).count.except(nil),
              title: t('.referrer'),
              height: '45vh'
  = pie_chart @inquiries.group(:category).count,
              title: t('.category'),
              height: '45vh'
