-# locals: (monthly_setsu:, schools:)

:ruby
  inquiries_w_schools =
    @daily_inquiries.transform_keys do |k|
      [school_name(@nav[:schools], k.first), k.last]
    end
  avg_daily_inquiries = @daily_inquiries.group_by { |k, _v| k.last }
                                        .to_h do |k, v|
                                          [['Average', k], v.last.last]
                                        end
  inquiries_w_average = inquiries_w_schools.merge(avg_daily_inquiries)
  total_attendance = monthly_setsu.values.sum { |v| v[:attendance] }
  total_held = monthly_setsu.values.sum { |v| v[:count] }
  total_slots = monthly_setsu.values.sum { |v| v[:slots] }

- if params[:id]
  .d-flex.gap-3
    = link_to t('.prev_month'),
              chart_path(id: params[:id],
                         category: @nav[:category],
                         event: @nav[:event],
                         month: @month - 1.month),
              class: 'btn btn-primary'
    = link_to t('.current_month'),
              chart_path(id: params[:id],
                         category: @nav[:category],
                         event: @nav[:event],
                         month: Time.zone.now.at_beginning_of_month),
              class: 'btn btn-primary'
    = link_to t('.next_month'),
              chart_path(id: params[:id],
                         category: @nav[:category],
                         event: @nav[:event],
                         month: @month + 1.month),
              class: 'btn btn-primary'
- else
  .d-flex.gap-3
    = link_to t('.prev_month'),
              charts_path(area_id: @nav[:area].id,
                          category: @nav[:category],
                          event: @nav[:event],
                          month: @month - 1.month),
              class: 'btn btn-primary'
    = link_to t('.current_month'),
              charts_path(area_id: @nav[:area].id,
                          category: @nav[:category],
                          event: @nav[:event],
                          month: Time.zone.now.at_beginning_of_month),
              class: 'btn btn-primary'
    = link_to t('.next_month'),
              charts_path(area_id: @nav[:area].id,
                          category: @nav[:category],
                          event: @nav[:event],
                          month: @month + 1.month),
              class: 'btn btn-primary'

%h2= t('.monthly_stats', month: @month.strftime('%B'))

%table.table.table-striped.table-hover.text-center
  %thead.table-primary
    %th= t('.school')
    %th= t('.setsu_count')
    %th= t('.monthly_spaces')
    %th= t('.inquiries')
    %th= t('.inquiries_per_setsu')
    %th= t('.percent_spaces_used')
  %tbody
    %tr.table-primary.fw-semibold
      %td= t('.total')
      %td= total_held
      %td= total_slots
      %td= total_attendance
      %td= (total_attendance / total_held.to_f).round(2)
      %td= number_to_percentage(total_attendance / total_slots.to_f * 100,
                                precision: 0)

    - monthly_setsu.each do |k, v|
      %tr
        %td
          = link_to t("schools.#{schools.find { |s| s.id == k }.name}"),
                    setsumeikais_path(school: k)
        %td= v[:count]
        %td= v[:slots]
        %td= v[:attendance]
        %td= (v[:attendance] / v[:count].to_f).round(2)
        %td= number_to_percentage(v[:attendance] / v[:slots].to_f * 100,
                                  precision: 0)
