<div class="d-flex justify-content-center align-items-center gap-5 p-3 w-100 text-center">
    <div class="d-flex flex-column">
        <h2 class="fw-semibold text-primary">
            <%= @setsumeikais.size %>
        </h2>
        <p><%= t(".total_setsumeikais") %></p>
    </div>
    <div class="d-flex flex-column">
        <h2 class="fw-semibold text-primary">
            <% setsu_per_month = @setsumeikais.group_by_month(:created_at).count %>
            <%= (setsu_per_month.values.sum / setsu_per_month.keys.size.to_f).round(2) %>
        </h2>
        <p><%= t(".avg_monthly_setsumeikais") %></p>
    </div>
    <div class="d-flex flex-column">
        <h2 class="fw-semibold text-primary">
            <%= (@inquiries.size / @setsumeikais.size.to_f).round(2) %>
        </h2>
        <p><%= t(".inquiries_per_setsumeikai") %></p>
    </div>
    <div class="d-flex flex-column">
        <h2 class="fw-semibold text-primary">
            <%= (@inquiries.size / setsu_per_month.keys.size.to_f).round(2) %>
        </h2>
        <p><%= t(".avg_monthly_inquiries") %></p>
    </div>
    <div class="d-flex flex-column">
        <h2 class="fw-semibold text-primary">
            <%= @inquiries.size %>
        </h2>
        <p><%= t(".total_inquiries") %></p>
    </div>
</div>

<div class="w-100 d-flex">
  <%= line_chart @setsumeikais.group_by_month(:created_at).count,
    title: t('.monthly_setsumeikais'),
    height: '30vh' %>

  <%= line_chart @setsumeikais.group_by_month(:created_at).sum(:inquiries_count),
    title: t('.monthly_setsu_inquiries'),
    height: '30vh' %>
</div>

<%= line_chart @inquiries.group_by_month(:created_at).count,
               title: t('.monthly_inquiries'),
               height: '30vh' %>

<% if @nav[:school].id.zero? && !current_user.school_manager? %>
  <%= column_chart @setsumeikais.group(:school_id).count
                    .to_h { |k, v| [@nav[:schools].find{ |s| s.id == k }.name, v] },
                   title: t('.setsumeikais_by_school'),
                   height: '30vh' %>

  <div class='w-100 d-flex'>
    <%= column_chart @setsumeikais.group(:school_id).sum(:inquiries_count)
                     .to_h { |k, v| [@nav[:schools].find{ |s| s.id == k }.name, v] },
                     title: t('.setsu_inquiries_by_school'),
                     height: '30vh' %>

    <%= column_chart @inquiries.where(category: 'I').group(:school_id).count
                     .to_h { |k, v| [@nav[:schools].find{ |s| s.id == k }.name, v] },
                     title: t('.gen_inquiries_by_school'),
                     height: '30vh' %>
  </div>

  <%= line_chart @setsumeikais.group(:school_id).group_by_month(:created_at).sum(:inquiries_count)
                   .to_h { |k, v| [[@nav[:schools].find{ |s| s.id == k.first }.name, k.last], v] },
                 title: t('.monthly_setsumeikais_by_school'),
                 height: '30vh' %>

  <div class='w-100 d-flex'>
    <%= line_chart @setsumeikais.group(:school_id).group_by_month(:created_at).count(:inquiries_count)
                   .to_h { |k, v| [[@nav[:schools].find{ |s| s.id == k.first }.name, k.last], v] },
                 title: t('.monthly_setsu_inquiries_by_school'),
                 height: '30vh' %>

    <%= line_chart @inquiries.where(category: 'I').group(:school_id).group_by_month(:created_at).count
                   .to_h { |k, v| [[@nav[:schools].find{ |s| s.id == k.first }.name, k.last], v] },
                 title: t('.monthly_gen_inquiries_by_school'),
                 height: '30vh' %>
  </div>
<% end %>

<%= pie_chart @inquiries.group(:referrer).count,
               title: t('.referrer'),
               height: '30vh' %>
