:ruby
  total_setsu = @setsumeikais.size
  total_inquiries = @inquiries.size
  setsu_created_per_month = @setsumeikais.group_by_month(:created_at).count
  months_with_created_setsu = setsu_created_per_month.keys.size.to_f
  setsu_held_per_month = @setsumeikais.group_by_month(:start).count
  months_with_setsu = setsu_held_per_month.keys.size.to_f

.d-flex.justify-content-center.align-items-center.gap-4.p-3.w-100.text-center
  = render 'charts/highlight_box',
           data: total_setsu,
           text: t('.total_setsumeikais')
  = render 'charts/highlight_box',
           data: (total_setsu / months_with_created_setsu).round(2),
           text: t('.avg_monthly_setsumeikais_created')
  = render 'charts/highlight_box',
           data: (total_setsu / months_with_setsu).round(2),
           text: t('.avg_monthly_setsumeikais_held')
  = render 'charts/highlight_box',
           data: total_inquiries,
           text: t('.total_inquiries')
  = render 'charts/highlight_box',
           data: (total_inquiries / months_with_setsu).round(2),
           text: t('.avg_monthly_inquiries')
  = render 'charts/highlight_box',
           data: (total_inquiries / total_setsu.to_f).round(2),
           text: t('.inquiries_per_setsumeikai')

= line_chart setsu_created_per_month,
             title: t('.monthly_created_setsumeikais'),
             height: '45vh'
= line_chart setsu_held_per_month,
             title: t('.monthly_held_setsumeikais'),
             height: '45vh'
= line_chart @inquiries.group(:category).group_by_month(:created_at).count,
             title: t('.monthly_inquiries'),
             height: '45vh'

- if @nav[:school].id.zero? && !current_user.school_manager?
  :ruby
    schools = @nav[:schools]
    setsu_by_school = @setsumeikais
                      .group(:school_id).count
                      .transform_keys { |k| school_name(schools, k) }
    setsu_inquiries_by_school = @setsumeikais
                                .where('inquiries_count > 0')
                                .group(:school_id).sum(:inquiries_count)
                                .transform_keys { |k| school_name(schools, k) }
    gen_inquiries_by_school = @inquiries
                              .where(category: 'I')
                              .group(:school_id).count
                              .transform_keys { |k| school_name(schools, k) }
    monthly_created_by_school = @setsumeikais
                                .group(:school_id)
                                .group_by_month(:created_at).count
                                .transform_keys do |k|
                                  [school_name(schools, k.first), k.last]
                                end
    mnthly_held_by_school = @setsumeikais
                            .group(:school_id)
                            .group_by_month(:start).count
                            .transform_keys do |k|
                              [school_name(schools, k.first), k.last]
                            end
    monthly_setsu_inquiries_school = @setsumeikais
                                     .where('inquiries_count > 0')
                                     .group(:school_id)
                                     .group_by_month(:created_at)
                                     .sum(:inquiries_count)
                                     .transform_keys do |k|
                                       [school_name(schools, k.first), k.last]
                                     end
    monthly_inquiries_by_school = @inquiries
                                  .where(category: 'I')
                                  .group(:school_id)
                                  .group_by_month(:created_at).count
                                  .transform_keys do |k|
                                    [school_name(schools, k.first), k.last]
                                  end

  = column_chart setsu_by_school,
                 title: t('.setsumeikais_by_school'),
                 height: '45vh'
  = column_chart setsu_inquiries_by_school,
                 title: t('.setsu_inquiries_by_school'),
                 height: '45vh'
  = column_chart gen_inquiries_by_school,
                 title: t('.gen_inquiries_by_school'),
                 height: '45vh'
  = line_chart monthly_created_by_school,
               title: t('.monthly_created_setsumeikais_by_school'),
               height: '45vh'
  = line_chart mnthly_held_by_school,
               title: t('.monthly_held_setsumeikais_by_school'),
               height: '45vh'
  = line_chart monthly_setsu_inquiries_school,
               title: t('.monthly_setsu_inquiries_by_school'),
               height: '45vh'
  = line_chart monthly_inquiries_by_school,
               title: t('.monthly_gen_inquiries_by_school'),
               height: '45vh'

.d-flex.w-100
  = pie_chart @inquiries.group(:referrer).count.except(nil),
              title: t('.referrer'),
              height: '45vh'
  = pie_chart @inquiries.group(:category).count,
              title: t('.category'),
              height: '45vh'
