:ruby
  schools = @nav[:schools]
  setsu_by_school = @setsumeikais
                    .group(:school_id).count
                    .transform_keys { |k| school_name(schools, k) }
  setsu_inquiries_by_school = @setsumeikais
                              .where('inquiries_count > 0')
                              .group(:school_id).sum(:inquiries_count)
                              .transform_keys { |k| school_name(schools, k) }
  gen_inquiries_by_school = @inquiries
                            .where(category: 'I')
                            .group(:school_id).count
                            .transform_keys { |k| school_name(schools, k) }
  monthly_created_by_school = @setsumeikais
                              .group(:school_id)
                              .group_by_month(:created_at).count
                              .transform_keys do |k|
                                [school_name(schools, k.first), k.last]
                              end
  mnthly_held_by_school = @setsumeikais
                          .group(:school_id)
                          .group_by_month(:start).count
                          .transform_keys do |k|
                            [school_name(schools, k.first), k.last]
                          end
  monthly_setsu_inquiries_school = @setsumeikais
                                   .where('inquiries_count > 0')
                                   .group(:school_id)
                                   .group_by_month(:created_at)
                                   .sum(:inquiries_count)
                                   .transform_keys do |k|
                                     [school_name(schools, k.first), k.last]
                                   end
  monthly_inquiries_by_school = @inquiries
                                .where(category: 'I')
                                .group(:school_id)
                                .group_by_month(:created_at).count
                                .transform_keys do |k|
                                  [school_name(schools, k.first), k.last]
                                end
= column_chart setsu_by_school,
               title: t('.setsumeikais_by_school'),
               height: '45vh'
= column_chart setsu_inquiries_by_school,
               title: t('.setsu_inquiries_by_school'),
               height: '45vh'
= column_chart gen_inquiries_by_school,
               title: t('.gen_inquiries_by_school'),
               height: '45vh'
= line_chart monthly_created_by_school,
             title: t('.monthly_created_setsumeikais_by_school'),
             height: '45vh'
= line_chart mnthly_held_by_school,
             title: t('.monthly_held_setsumeikais_by_school'),
             height: '45vh'
= line_chart monthly_setsu_inquiries_school,
             title: t('.monthly_setsu_inquiries_by_school'),
             height: '45vh'
= line_chart monthly_inquiries_by_school,
             title: t('.monthly_gen_inquiries_by_school'),
             height: '45vh'
