<main id="charts_index">
    <%# Options %>

    <%= column_chart Option.joins(:registrations)
                           .group("options.name").count("options.name")
                           .except("なし")
                           .sort_by { |_k, v| v }.reverse,
                           title: "Option Popularity" %>

    <%= column_chart Option.joins(:registrations)
                           .group("options.name")
                           .sum("options.cost")
                           .except("なし")
                           .sort_by { |_k, v| v }.reverse,
                           title: "Option Revenue",
                           suffix: "円" %>

    <div class="w-100 d-flex justify-items-around">
        <%= pie_chart Option.where(category: [:arrival, :k_arrival])
                            .joins(:registrations)
                            .group("options.name").count("options.name")
                            .except("なし"),
                            title: "Arrival Option Popularity",
                            legend: "left",
                            height: "30vw" %>
        <%= pie_chart Option.where(category: [:departure, :k_departure])
                            .joins(:registrations)
                            .group("options.name").count("options.name")
                            .except("なし"),
                            title: "Departure Option Popularity",
                            legend: "left",
                            height: "30vw" %>
    </div>

    <%# Edits %>

    <% customers = User.customer.ids %>
    <%= line_chart @versions.where(whodunnit: customers)
                            .group_by_day(:created_at).count,
                            title: "Customer Edits by Day" %>

    <% staff = User.where(role: %i[area_manager school_manager admin]).ids %>
    <%= line_chart @versions.where(whodunnit: staff)
                            .group_by_day(:created_at).count,
                            title: "Staff Edits by Day" %>
</main>