<main id="charts_show_bookings">
    <%= render 'charts/nav' %>

    <h1>Booking Stats</h1>

    <div class="d-flex justify-content-center align-items-center gap-5 p-3 w-100 text-center">
        <div class="d-flex flex-column">
            <h2 class="fw-semibold text-primary">
                <%= number_to_currency(@data[:invoices].average(:total_cost),
                                       unit: '円',
                                       precision: 0,
                                       locale: :ja) %>
            </h2>
            <p>Average Booking Cost</p>
        </div>
        <div class="d-flex flex-column">
            <h2 class="fw-semibold text-primary">
                <%= (@data[:regs].size / @data[:invoices].size).round(2) %>
            </h2>
            <p>Activities per Booking</p>
        </div>
    </div>

    <div class="w-100 d-flex">
        <%= line_chart @data[:regs].group_by_day(:created_at).count,
                       title: "Daily Registrations",
                       height: "50vh" %>
        <%= line_chart @data[:invoices]
                            .group_by_day(:created_at)
                            .sum(:total_cost),
                       title: "Daily Revenue",
                       suffix: "円",
                       height: "50vh" %>
    </div>
    
    <div class="w-100 d-flex">
        <%= line_chart @data[:regs].group_by_day(:created_at).count,
                       title: "Weekly Registrations",
                       height: "50vh" %>
        <%= line_chart @data[:invoices]
                            .group_by_week(:created_at)
                            .sum(:total_cost),
                       title: "Weekly Revenue",
                       suffix: "円",
                       height: "50vh" %>
    </div>
</main>