.main#sign-up{ data: { controller: 'quick-booking' } }
  .card
    = turbo_frame_tag 'quick_booking' do
      = form_with model: @quick_booking, url: quick_booking_path, html: { class: 'd-grid gap-3' } do |f|
        = render 'shared/form_errors', resource: @quick_booking

        .personal_info.d-grid.gap-3
          %h3 Quick Booking

        %div
          = f.label :first_name, 'First Name', class: 'form-label'
          .input-group
            = f.text_field :first_name, class: 'form-control', placeholder: 'First Name', required: true
            = f.text_field :last_name, class: 'form-control', placeholder: 'Last Name', required: true

        %div
          = f.label :email, 'Email', class: 'form-label'
          .input-group
            = f.email_field :email, class: 'form-control', placeholder: 'Email', required: true

        %div
          = f.label :phone, 'Phone Number', class: 'form-label'
          .input-group
            = f.telephone_field :phone, class: 'form-control', placeholder: 'Phone Number', required: true

        %div
          = f.label :school_id, 'School', class: 'form-label'
          = f.collection_select :school_id, School.real, :id, :name,
                                { prompt: 'Select School' },
                                { class: 'form-select', required: true, data: { action: "change->quick-booking#loadTimeslots" } }

        #party-picture{ data: { quick_booking_target: "partyPicture" } }
        #timeslot-cards{ data: { quick_booking_target: "container" } }
        = f.hidden_field :timeslot_id, data: { quick_booking_target: "hiddenField" }

        = f.submit 'Book Now', class: 'btn btn-primary', data: { turbo_frame: '_top' }
