<div class="area">
    <h3><%= link_to area.name, area_path(area) %></h3>

    <h5><%= t('.area_schools') %></h5>
    <table class="table table-striped">
        <thead>
            <tr class="table-primary">
                <th scope="col"><%= t('.name') %></th>
                <th scope="col"><%= t('.address') %></th>
                <th scope="col"><%= t('.phone') %></th>
                <th scope="col"><%= t('.area') %></th>
                <th scope="col"><%= t('.children') %></th>
                <th scope="col"><%= t('.edit') if current_user.admin? || current_user.area_manager? %></th>
            </tr>
        </thead>

        <tbody><%= render area.schools %></tbody>
    </table>
</div>