%main
  - if @schools
    %h2= t('.school')
    = render 'shared/school_nav',
             schools: @schools,
             school: @school,
             include_all: false,
             indexed_resource: 'document_uploads'

  %h2= t('.category')
  %nav.d-flex.flex-row.flex-wrap.justify-content-center.gap-3
    - @categories.each do |c|
      - selected = c == @category

      = link_to t(".#{c}"),
                document_uploads_path(school: @school.id, category: c),
                class: "card #{'bg-primary text-white fw-semibold' if selected}"

  %table.table.table-hover.table-striped.text-center
    %thead
      %tr.table-primary
        %th= t('.child_name')
        %th= t('.category')
        %th= t('.document')
        %th= t('.created_at')
        %th

    %tbody
      - @document_uploads.each do |document_upload|
        %tr
          %td= document_upload.child_name
          %td= category_or_other(document_upload)
          %td
            = link_to document_upload.document.filename,
                      url_for(document_upload.document),
                      target: '_blank',
                      rel: 'noopener'
          %td= date_yy_mm_dd(document_upload.created_at)
          %td
            = link_to t('.delete'),
                      document_upload_path(document_upload),
                      data: { turbo_method: :delete,
                              turbo_confirm: t('confirm') },
                      class: 'btn btn-danger'
