<% input_types = %w[checkbox date datetime-local email number radio select text textarea time] %>

<div class="w-25 d-flex flex-column gap-3">
    <div class="form-floating">
        <%= f.text_field "[questions][][text]",
                class: 'form-control',
                placeholder: 'Question text',
                value: q['text'],
                required: true %>
        <%= f.label "[questions][][text]",
                    'Question Text',
                    class: 'form-label' %>
    </div>
    
    <div>
        <%= f.label "[questions][][input_type]",
                    'Question Input Type',
                    class: 'form-label' %>
        <%= f.select "[questions][][input_type]",
                        input_types,
                        { selected: q['input_type'] },
                        { class: 'form-select', required: true } %>
    </div>
    
    <div class="form-floating">
        <%= f.text_field "[questions][][options]",
                class: 'form-control',
                placeholder: 'Comma separated options (required if radio, checkbox or select)',
                value: q['options'] %>
        <%= f.label "[questions][][options]",
                    'Comma separated options (required if radio, checkbox or select)',
                    class: 'form-label' %>
    </div>
</div>