%main
  %table.table.table-hover.table-striped.text-center
    %thead.table-primary
      %tr
        %th Position
        %th School Name
        %th Actions
    %tbody
      - @schools.each do |school|
        - form_id = "school#{school.id}"

        %tr
          %td
            = number_field_tag 'school[position]',
                               school.position, form: form_id
          %td= t(".schools.#{school.name}")
          %td
            = form_with model: school,
                        html: { class: 'd-flex justify-content-center',
                                id: form_id } do |f|
              = f.submit 'Update Position', class: 'btn btn-primary'
