<main id="school_index">
    <div class="school header">
        <p class="name"><%= t('.name') %></p>
        <p class="address"><%= t('.address') %></p>
        <p class="phone"><%= t('.phone') %></p>
        <p class="area"><%= t('.area') %></p>
        <p class="children"><%= t('.children') %></p>
    </div>

    <%= render @schools %>
</main>