<main id="school_index">
    <table class="table table-striped">
        <thead class="table-primary">
            <th scope="col"><%= t('.name') %></th>
            <th scope="col"><%= t('.address') %></th>
            <th scope="col"><%= t('.phone') %></th>
            <th scope="col"><%= t('.area') %></th>
            <th scope="col"><%= t('.children') %></th>
            <th scope="col"><%= t('.edit') if current_user.admin? || current_user.area_manager? %></th>
        </thead>

        <tbody>
            <%= render @schools %>
        </tbody>
    </table>
</main>