-# locals: (child:, event:, confirmed_opt_regs:, registrations:, siblings:)

- event.options.each do |opt|
  - if siblings.any? { |sibling| sibling.registered?(opt) }
    - next if sibling.id == child.id

    .d-flex.gap-2.align-items-center
      %h3 #{opt.name}: #{t('.sibling_reg', opt: opt.name)}

  - elsif confirmed_opt_regs.any? { |reg| reg.registerable_id == opt.id }
    .d-flex.gap-2.align-items-center
      %h3 #{opt.name} (#{number_to_currency(opt.cost, locale: :ja)}): ◯

  - else
    :ruby
      registered = registrations.any? do |reg|
        reg.child_id == child.id && reg.registerable_id == opt.id
      end

    %div{ class: 'd-flex gap-2 align-items-center',
          data: { controller: 'register',
                  'register-id-value': opt.id,
                  'register-type-value': 'Option',
                  'register-child-value': @child.id,
                  'register-cost-value': opt.cost } }
      %h3
        %label{ 'data-register-target': 'name',
                for: "eopt#{opt.id}" }
          = image_tag 'photo_service.gif', height: '50px'
          = number_to_currency(opt.cost, locale: :ja)
      = check_box_tag "eopt#{opt.id}",
                      "eopt#{opt.id}",
                      (true if registered),
                      data: { action: 'register#toggle',
                              'register-target': 'button' }
