%main#recruit-application-show
  .card.p-3.mb-3
    .d-flex.justify-content-between.align-items-center.gap-3.flex-wrap
      %h2.mb-0= t('.title')
      = link_to t('.back_to_list'),
                recruit_applications_path,
                class: 'btn btn-primary'

  - display = ->(value) { value.presence || '-' }

  .card.p-4
    .row.g-4
      .col-12
        %h4.border-bottom.pb-2.mb-3= t('.summary')
        %dl.row.mb-0
          %dt.col-sm-3= t('.submitted_at')
          %dd.col-sm-9= l(@recruit_application.created_at, format: :long)
          %dt.col-sm-3= t('.role')
          %dd.col-sm-9= display.call(@recruit_application.role)
          %dt.col-sm-3= t('.tracking_link_slug')
          %dd.col-sm-9= display.call(@recruit_application.tracking_link_slug)

      .col-12.col-lg-6
        %h4.border-bottom.pb-2.mb-3= t('.contact_info')
        %dl.row.mb-0
          %dt.col-sm-4= t('.full_name')
          %dd.col-sm-8= display.call(@recruit_application.full_name)
          %dt.col-sm-4= t('.email')
          %dd.col-sm-8= mail_to @recruit_application.email
          %dt.col-sm-4= t('.phone')
          %dd.col-sm-8= display.call(@recruit_application.phone)
          %dt.col-sm-4= t('.date_of_birth')
          %dd.col-sm-8= display.call(@recruit_application.date_of_birth&.to_s)
          %dt.col-sm-4= t('.full_address')
          %dd.col-sm-8= display.call(@recruit_application.full_address)
          %dt.col-sm-4= t('.gender')
          %dd.col-sm-8= display.call(@recruit_application.gender)
          %dt.col-sm-4= t('.nationality')
          %dd.col-sm-8= display.call(@recruit_application.nationality)

      .col-12.col-lg-6
        %h4.border-bottom.pb-2.mb-3= t('.background')
        %dl.row.mb-0
          %dt.col-sm-4= t('.highest_education')
          %dd.col-sm-8= display.call(@recruit_application.highest_education)
          %dt.col-sm-4= t('.employment_history')
          %dd.col-sm-8= display.call(@recruit_application.employment_history)
          %dt.col-sm-4= t('.reason_for_application')
          %dd.col-sm-8= display.call(@recruit_application.reason_for_application)
          %dt.col-sm-4= t('.work_visa_status')
          %dd.col-sm-8= display.call(@recruit_application.work_visa_status)

      .col-12
        %h4.border-bottom.pb-2.mb-3= t('.notes')
        %p.mb-0= display.call(@recruit_application.questions)
