<%= form_with model: @inquiry, class: 'card w-100' do |f| %>
    <% if @inquiry.errors.any? %>
        <div class="errors bg-danger p-2 text-white fw-semibold rounded">
            <h3><%= t('.unable_to_save', inquiry: @inquiry.parent_name) %></h3>
            <ul>
                <% @inquiry.errors.full_messages.each do |error| %>
                    <li><%= error %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="d-flex flex-wrap justify-content-evenly align-items-center gap-5">
        <div class=" w-25">
            <%= f.label :category, t('.category'),
                                   class: 'form-label' %>
            <%= f.select :category,
                         [%w[Setsumeikai R], %w[General I], %w[Call C]],
                         {},
                         { class: 'form-select' } %>
        </div>
        <div class="w-25">
            <%= f.label :setsumeikai_id, t('.setsumeikai'),
                                         class: 'form-label' %>
            <%= f.collection_select :setsumeikai_id,
                                    @setsumeikais,
                                    :id,
                                    :school_date_time,
                                    { prompt: 'Select a setsumeikai if applicable' },
                                    { class: 'form-select' } %>
        </div>
        <div class="form-floating w-25">
            <%= f.text_field :parent_name,
                    class: 'form-control',
                    placeholder: t('.parent_name'),
                    required: true %>
            <%= f.label :parent_name, t('.parent_name'), class: 'form-label' %>
        </div>
        <div class="form-floating w-25">
            <%= f.telephone_field :phone,
                    class: 'form-control',
                    placeholder: t('.phone'),
                    required: true %>
            <%= f.label :phone, t('.phone'), class: 'form-label' %>
        </div>
        <div class="form-floating w-25">
            <%= f.email_field :email,
                    class: 'form-control',
                    placeholder: t('.email'),
                    required: true %>
            <%= f.label :email, t('.email'), class: 'form-label' %>
        </div>
        <div class="form-floating w-25">
            <%= f.text_field :child_name,
                    class: 'form-control',
                    placeholder: t('.child_name'),
                    required: true %>
            <%= f.label :child_name, t('.child_name'), class: 'form-label' %>
        </div>
        <div class="form-floating w-25">
            <%= f.date_field :child_birthday, class: 'form-control',
                                 required: true %>
            <%= f.label :child_birthday, t('.child_birthday'), class: 'form-label' %>
        </div>
        <div class="form-floating w-25">
            <%= f.text_field :kindy,
                    class: 'form-control',
                    placeholder: t('.kindy'),
                    required: true %>
            <%= f.label :kindy, t('.kindy'), class: 'form-label' %>
        </div>
        <div class="form-floating w-25">
            <%= f.text_field :ele_school,
                    class: 'form-control',
                    placeholder: t('.ele_school'),
                    required: true %>
            <%= f.label :ele_school, t('.ele_school'), class: 'form-label' %>
        </div>
        <div class=" w-25">
            <%= f.label :school_id, t('.school'),
                                         class: 'form-label' %>
            <%= f.collection_select :school_id,
                                    @schools,
                                    :id,
                                    :name,
                                    {},
                                    { class: 'form-select', required: true } %>
        </div>
        <div class="form-floating w-25">
            <%= f.date_field :start_date, class: 'form-control' %>
            <%= f.label :start_date, t('.start_date'), class: 'form-label' %>
        </div>
        <div class="d-flex flex-wrap justify-content-evenly gap-3">
            <%= f.label :referrer,
                        t('.referrer'),
                        class: "w-100 fs-6 fw-semibold" %>
            <%= f.collection_radio_buttons :referrer,
                                           Inquiry.referrers,
                                           :first,
                                           :first %>
        </div>
    </div>

    <div class="form-floating">
        <%= f.text_area :requests,
                class: 'form-control',
                placeholder: t('.requests') %>
        <%= f.label :requests, t('.requests'), class: 'form-label' %>
    </div>

    <div class="form-floating">
        <%= f.text_area :notes,
                class: 'form-control',
                placeholder: t('.notes') %>
        <%= f.label :notes, t('.notes'), class: 'form-label' %>
    </div>

    <%= f.submit class: 'btn btn-primary' %>
<% end %>