%main.justify-content-start#inquiry-index
  .d-flex.gap-3.align-self-start
    = link_to t('.create_inquiry'),
              new_inquiry_path,
              class: 'btn btn-primary'
    = link_to t('.setsumeikai_list'),
              setsumeikais_path,
              class: 'btn btn-primary'

  = paginate @inquiries, window: 40

  - if current_user.admin? || current_user.area_manager?
    = render 'shared/school_nav',
             schools: @schools,
             school: @school,
             indexed_resource: 'inquiries'

  = render 'inquiries/inquiry_table'

  = paginate @inquiries, window: 40
