<main id="inquiry_index">
   <div class="d-flex gap-3">
       <%= link_to t('.create_inquiry'),
                   new_inquiry_path,
                   class: 'btn btn-primary' %>
       
        <%= link_to t('.setsumeikais'),
                    setsumeikais_path,
                    class: 'btn btn-primary' %>
   </div>

    <%= paginate @inquiries, window: 40 unless current_user.admin? %>

    <% if current_user.admin? %>
        <nav class="d-flex flex-row flex-wrap justify-content-center gap-3">
            <% @schools.each do |school| %>
                <%= link_to inquiries_path(school: school.id) do %>
                    <div class="card<%= ' bg-primary text-white fw-semibold' if school.id == @school.id %>">
                        <%= school.name %>
                    </div>
                <% end %>
            <% end %>
        </nav>
    <% end %>

    <%= render 'inquiries/inquiry_table' %>

    <%= paginate @inquiries, window: 40 unless current_user.admin? %>

</main>