<% models = [%w[Children Child], %w[Users User], %w[Regular\ Schedules RegularSchedule], %w[Bookings Invoice]] %>

<main id="csvs_index" class="w-100 d-grid">
    <div class="row gap-5">
        <div class="card col">
            <h1>Import</h1>
            <p>Only if all imported records are new</p>
            <%= form_with url: upload_csv_path, html: { class: 'd-grid gap-3 p-5' } do |f| %>
                <div class="fields">
                    <%= f.label :model, class: 'form-label' %>
                    <%= f.select :model, models, {}, class: 'form-select' %>
                </div>
                <div class="field">
                    <%= f.label :csv, class: 'form-label' %>
                    <%= f.file_field :csv, class: 'form-control', required: true %>
                </div>
                <%= f.submit 'Import Records', class: 'btn btn-primary' %>
            <% end %>
        </div>
        <div class="card col">
            <h1>Update</h1>
            <p>Slower, only if records need to be updated</p>
            <%= form_with url: update_csv_path, html: { class: 'd-grid gap-3 p-5' } do |f| %>
                <div class="fields">
                    <%= f.label :model, class: 'form-label' %>
                    <%= f.select :model, [%w[Children Child], %w[Regular\ Schedules RegularSchedule]], {}, class: 'form-select' %>
                </div>
                <div class="field">
                    <%= f.label :csv, class: 'form-label' %>
                    <%= f.file_field :csv, class: 'form-control', required: true %>
                </div>
                <%= f.submit 'Update Records', class: 'btn btn-primary' %>
            <% end %>
        </div>
    </div>

    <div class="row gap-5">
        <div class="card d-grid gap-3 p-5 col">
            <h1><%= t('.export') %></h1>
            <% models.each do |model| %>
                <% if model[0] === "Bookings" %>
                    <% Event.all.pluck(:name).uniq.each do |e| %>
                        <%= link_to "#{e} Bookings",
                            download_csv_path(model: model[1], event: e),
                            class: 'btn btn-primary',
                            data: { turbolinks: false } %>
                    <% end %>
                <% else %>
                    <%= link_to model[0],
                        download_csv_path(model: model[1]),
                        class: 'btn btn-primary',
                        data: { turbolinks: false } %>
                <% end %>
            <% end %>
        </div>
        <div class="card col justify-content-center align-items-center">
            <h1>Upload Assets</h1>
            <div class="flex-grow-1 d-flex justify-content-center align-items-center">
                <%= link_to "Upload Assets", new_upload_path, class: "btn btn-primary" %>
            </div>
        </div>
    </div>
</main>
