<% models = [%w[Children Child], %w[Users User], %w[Invoices Invoice]] %>

<main id="csvs_index">
    <h1><%= t('.import') %></h1>

    <%= form_with url: upload_csv_path do |f| %>
        <div class="fields">
            <%= f.label :model %>
            <%= f.select :model, models %>
        </div>

        <div class="field">
            <%= f.label :csv %>
            <%= f.file_field :csv %>
        </div>

        <%= f.submit t('.upload_records'), class: 'button' %>
    <% end %>


    <h1><%= t('.export') %></h1>

    <% models.each do |model| %>
        <%= link_to model[0], download_csv_path(model: model[1]), class: 'button', data: { turbolinks: false } %>
    <% end %>
</main>
