<div class="fields_wrapper" data-new-record="<%= adj_f.object.new_record? %>">
    <div class="d-grid gap-2 p-2">
        <%= adj_f.hidden_field :_destroy %>
        <div class="form-floating">
            <%= adj_f.text_field :reason, class: 'form-control', placeholder: t('.reason'), required: true %>
            <%= adj_f.label :reason, t('.reason'), class: 'form-label' %><br />
        </div>
        
        <div class="form-floating input-group">
            <%= adj_f.number_field :change, class: 'form-control', placeholder: t('.change'), required: true %>
            <%= adj_f.label :change, t('.change'), class: 'form-label' %>
            <span class="input-group-text">円</span>
        </div>

        <% unless adj_f.object.new_record? %>
            <div>
                <%= adj_f.check_box :_destroy, class: 'form-check-input' %>
                <%= adj_f.label :_destroy, t('.delete'), class: 'form-check-label' %>
            </div>
        <% end %>

        <% if adj_f.object.new_record? %>
            <%= button_tag t('.remove_adj'), data: { action: "fields#remove" }, class: 'btn btn-secondary' %>
        <% end %>
    </div>
</div>