<main id="adjustments_edit">
    <%= form_with model: @invoice, html: { class: 'card d-grid gap-3 p-3' }, data: { controller: 'fields' } do |f| %>
        <%= f.fields_for :adjustments do |adj_f| %>
            <%= render 'adjustments/form', adj_f: adj_f %>
        <% end %>

        <template data-fields-target="template">
            <%= f.fields_for :adjustments, Adjustment.new(invoice_id: @invoice.id), child_index: 'CHILD' do |adj_f| %>
                <%= render 'adjustments/form', adj_f: adj_f %>
            <% end %>
        </template>

        <div data-fields-target="target"></div>

        <div class="d-flex gap-3">
            <%= button_tag t('.add_adj'), data: { action: "fields#add" }, class: 'btn btn-primary' %>
            <%= f.submit t('.update_adj'), class: 'btn btn-primary' %>
        </div>
    <% end %>
</main>