<%= form_with model: @setsumeikai,
              data: { controller: :fields },
              html: { class: 'card w-100 flex-row flex-wrap justify-content-evenly align-items-center' } do |f| %>
    <% if @setsumeikai.errors.any? %>
        <div class="errors bg-danger p-2 text-white fw-semibold rounded">
            <h3><%= t('.unable_to_save', setsumeikai: @setsumeikai.date) %></h3>
            <ul>
                <% @setsumeikai.errors.full_messages.each do |error| %>
                    <li><%= error %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-floating">
        <%= f.datetime_field :start, class: 'form-control',
                             required: true %>
        <%= f.label :start, t('.start'), class: 'form-label' %>
    </div>

    <div class="form-floating">
        <%= f.number_field :attendance_limit,
                           class: 'form-control',
                           placeholder:  t('.attendance_limit'),
                           min: 1,
                           required: true %>
        <%= f.label :attendance_limit,
                    t('.attendance_limit'),
                    class: 'form-label' %>
    </div>

    <% if current_user.school_manager? %>
        <%= f.hidden_field :school_id,
                           value: current_user.managed_schools.first.id %>
    <% else %>
        <div class="d-flex align-items-center gap-3">
            <%= f.label :school_id, t('.school'), class: 'form-label' %>
            <%= f.collection_select :school_id,
                                    @schools,
                                    :id,
                                    :name,
                                    {},
                                    { class: 'form-select' } %>
        </div>
    <% end %>

    <div class="form-floating">
        <%= f.date_field :release_date, class: 'form-control',
                         required: true %>
        <%= f.label :release_date, t('.release_date'), class: 'form-label' %>
    </div>

    <div class="d-flex flex-wrap justify-content-center align-items-center gap-3 w-100">
        <h3 class="w-100"><%= t('.involved_schools') %></h3>

        <%= f.fields_for :setsumeikai_involvements do |involvement_f| %>
            <%= render 'setsumeikais/involvement_fields',
                       f: involvement_f %>
        <% end %>

        <template data-fields-target="template">
            <%= f.fields_for :setsumeikai_involvements,
                             SetsumeikaiInvolvement.new,
                             child_index: 'CHILD' do |involvement_f| %>
                <%= render 'setsumeikais/involvement_fields',
                           f: involvement_f %>
            <% end %>
        </template>

        <div data-fields-target="target" class="d-none w-100"></div>

        <%= button_tag t('.add_involved_school'),
                       type: 'button',
                       data: { action: "fields#add" },
                       class: 'btn btn-info' %>
    </div>



    <%= f.submit class: 'btn btn-primary w-100' %>
<% end %>