<tr>
    <td>
        <%= link_to setsumeikai.date_time, setsumeikai_path(setsumeikai) %>
    </td>
    
    <td>
        <%= link_to "#{setsumeikai.inquiries.size}/#{setsumeikai.attendance_limit}",
                    setsumeikai_path(setsumeikai),
                    class: 'fw-bold' %>
    </td>
    
    <td>
        <%= setsumeikai.school.name %>
    </td>

    <td>
        <%= link_to t('.edit'),
                    edit_setsumeikai_path(setsumeikai),
                    class: 'btn btn-primary' %>
    </td>
    
    <td>
        <%= link_to t('.add_inquiry'),
                    new_inquiry_path,
                    class: 'btn btn-primary' %>
    </td>
</tr>