<tr>
    <td>
        <%= link_to setsumeikai.date_time, setsumeikai_path(setsumeikai) %>
    </td>

    <td>
        <%= link_to "#{setsumeikai.inquiries.size}/#{setsumeikai.attendance_limit}",
                    setsumeikai_path(setsumeikai),
                    class: 'fw-bold' %>
    </td>

    <td>
        <%= t("schools.#{setsumeikai.school.name}") %>
    </td>

    <td>
        <%= setsumeikai.involved_schools
                       .pluck(:name)
                       .map { |name| t("schools.#{name}") }
                       .join(", ") unless setsumeikai.involved_schools.empty? %>
    </td>

    <td>
        <%= date_yy_mm_dd(setsumeikai.release_date) %>
    </td>

    <td>
        <%= date_yy_mm_dd(setsumeikai.close_at) %>
    </td>

    <td>
        <%= link_to "コピー",
                    setsumeikais_path(
                        school: setsumeikai.school_id,
                        setsumeikai: {
                            start: setsumeikai.start,
                            attendance_limit: setsumeikai.attendance_limit,
                            school_id: setsumeikai.school_id,
                            release_date: setsumeikai.release_date,
                            setsumeikai_involvements_attributes: setsumeikai.setsumeikai_involvements.map { |i| {school_id: i.school_id} }
                        }
                    ),
                    class: 'btn btn-primary' %>
    </td>

    <td>
        <%= link_to t('.edit'),
                    edit_setsumeikai_path(setsumeikai),
                    class: 'btn btn-primary' %>
    </td>

    <td>
        <%= link_to t('.add_inquiry'),
                    new_inquiry_path(setsu_id: setsumeikai.id),
                    class: 'btn btn-primary' %>
    </td>

    <td>
        <%= link_to t('.delete'),
                    setsumeikai_path(setsumeikai),
                    data: {
                        turbo_method: :delete,
                        turbo_confirm: t('.are_u_sure')
                    },
                    class: 'btn btn-danger' %>
    </td>
</tr>
