<main id="setsumeikai_index" class="d-flex flex-col justify-content-start align-items-center gap-5">
    <%= link_to t('.view_inquiries'),
                inquiries_path,
                class: 'btn btn-primary align-self-start' %>
    
    <h1><%= t('.setsumeikais') %></h1>

    <%= paginate @setsumeikais, window: 20 unless current_user.admin? %>

    <% if current_user.admin? %>
        <nav class="d-flex flex-row flex-wrap justify-content-center gap-3">
            <% @schools.each do |school| %>
                <%= link_to setsumeikais_path(school: school.id) do %>
                    <div class="card<%= ' bg-primary text-white fw-semibold' if school.id == @school.id %>">
                        <%= school.name %>
                    </div>
                <% end %>
            <% end %>
        </nav>
    <% end %>

    <%= render 'setsumeikais/form', setsumeikai: Setsumeikai.new %>

    <%= render 'setsumeikais/setsumeikai_table' %>

    <%= paginate @setsumeikais, window: 20 unless current_user.admin? %>
</main>