<!DOCTYPE html>
<html>
  <head>
    <title>Event Database Prototype</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= favicon_link_tag asset_path('favicon.svg') %>

    <%= yield :head %>
  </head>

  <body>
    <turbo-frame id="flash">
      <%= render 'shared/flash' %>
    </turbo-frame>

    <% if user_signed_in? %>
      <div id="nav_bar">
        <%= link_to "", root_path %>

        <% unless current_user.customer? %>
          <%= link_to t('nav_bar.children'), children_path %>
          <%= link_to t('nav_bar.customers'), users_path %>
        <% end %>

        <%= link_to t('nav_bar.events'), events_path %>
        <%= link_to t('nav_bar.time_slots'), time_slots_path %>
        <%= link_to t('nav_bar.logout'), destroy_user_session_path, data: {turbo_method: :delete} %>
        <%= link_to t('nav_bar.profile'), user_path(current_user) %>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
