!!! 5
%html
  %head
    %title Kids UPシーズナルスクール申込フォーム
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_importmap_tags
    = favicon_link_tag asset_path('favicon.svg')
    = yield :head
  %body
    %turbo_frame#flash
      = render 'shared/flash'
    = render 'nav/navbar' if user_signed_in?
    = yield
