<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
    <br>
    <br>
    <br>
    <p>このメールは自動配信の為、返信することはできません。</p>
    <p>ご不明な点がございましたら、下記のスクールまでお問い合わせください。</p>
    <p><%= @child.school.name %></p>
    <p><%= "Email: #{@child.school.manager.email}" %></p>
    <p><%= "Tel: #{@child.school.phone}" %></p>
    <%= image_tag "https://kids-up.app/images/logo_gif.gif" %>
    <p>株式会社Kids-UP</p>

    <%= link_to t('.unsubscribe'), @unsubscribe_url if @unsubscribe_url.present? %>
    <p><%= t('.unsubscribe_warning') %></p>
    <%= link_to t('.manage_subscriptions'), @mailer_subscription_url if @mailer_subscription_url.present? %>
  </body>
</html>
