!!! 5
%html
  %head
    - if content_for? :title
      = yield :title
    - else
      %title Kids UPシーズナルスクール申込フォーム
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    %script{ async: true, src: importmap_shim_src,
            'data-turbo-track': 'reload' }
    = javascript_importmap_tags
    = favicon_link_tag asset_path('favicon.svg')
    %meta{ property: 'og:image',
           content: "#{request.base_url}#{image_path('opengraph.svg')}" }
    - if content_for :opengraph
      = yield :opengraph
    - else
      %meta{ property: 'og:title',
             content: "Kids UPシーズナルスクール申込フォーム"}
      %meta{ property: 'og:description',
             content: "KidsUPイベント登録サイト"}
    = yield :head
  %body
    %turbo_frame#flash
      = render 'shared/flash'
    %nav.navbar.navbar-expand-lg.bg-secondary.sticky-top.px-3
      = link_to image_tag('white_logo.svg', alt: 'KidsUp Logo', height: '50'),
                root_path,
                class: 'navbar-brand'
    = yield
